

.form-horizontal .control-label {
  padding-top: 0;
}

input.form-control {
  display: inline-block;
}

button.btn.minus, button.btn.plus {
  border: solid 1px #b4b4b4;
  margin: 0 0px 0 10px;

}

button.btn {
  position: relative;
}

.btn.btn-test, .btn.stcrtr_btn {
  padding: 8px 25px 8px 25px;
  border-radius: 5px;
  margin: 10px 5px 5px 0;
  border: solid 1px #b4b4b4;
}
.btn.stcrtr_btn.btn-type2, .btn.stcrtr_btn.btn-type3,  .btn.stcrtr_btn.btn-type4{
  min-width:250px;
  /*background: #d50400;*/

}
.btn-danger.stcrtr_btn{
  border: 1px solid #d45046;
}
.btn.stcrtr_btn.btn-type3 {
  background: #fb6e27;

}
.btn.stcrtr_btn.btn-type3:hover {
  background: #d0232c;
}

.btn.stcrtr_btn.btn-type4 {
  background: #0ca02f;
  color: #fff;
  border: 1px solid #0c942c;
}
.btn.stcrtr_btn.btn-type4:hover {
  background: #0cb432;
  border: 1px solid #0ca52e;
}

.btn.stcrtr_btn {
  text-align: left;
}

.form-horizontal .col-sm2 {
  width: 40%;
}

.form-horizontal .col-sm10 {
  width: 60%;
}

.form-group {
  padding-top:10px;
  padding-bottom:10px;
}

.form-group .ok span{
  color: #079a1a;
  font-weight:bold;
}
.form-group .ok  { font-weight: normal;}
.form-group .bad {
  color: #d50400;
  font-weight:bold;
}

a#watermark-big-img {
  display: inline-block;
}

textarea.dirs {
  /*border: solid 1px #ccc;*/
  /*border-radius: 3px;*/
  min-height: 150px;
  height:auto;

}
div.control-label {
  font-weight: bold;
}
div.control-label span.no_bold {
  font-weight:normal;
}

div.infoplus {

  border-top: solid 1px #d7d7d7;
  padding:15px;
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  /*background: #fdfff2;*/
}

.dirs_error {
  color: red;
}
.stcrtr_btn {

}

.mozjpegtest {
  padding: 7px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 5px 0;
}

.nav.nav-tabs.scr-module {
  padding:5px 0px 0 0px;
  margin-left:-1px;
}
.scr_opyright {
  padding: 15px 20px;
  background: #fbfbfb;
  border-top: 1px solid #e4e4e4;
}
.module_copyright a {
  color: #0d9fdf;
}

.notice {
  color: #bf560a;
}

.stcrtr_btn i.fa {
  font-size: 16px;
  margin-right: 8px;
}

select.form-control {
  max-width: 250px;
}

.img-thumbnail img {
  min-width: 100px;
  min-height: 100px;
}


.wait_ {
  display: block;
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../image/sitecreator/wait2.gif") no-repeat 50% 50%;
  opacity: 0.7;
  
}

.files_before {
  text-align:center;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  height: 60px;
  background-color: #da5d00;

}
.files_after {
  text-align:center;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  height: 60px;
  background-color: #05bd19;
}

#compress_theme_info {
  min-height: 250px;
  border: 1px solid #ededed;
  margin-top:10px;
  padding: 10px;
}

.header_stcrtr, .header2_stcrtr {
  text-align: right;
  font-size: 16px;
  color: #f4f5f3;
  padding: 10px 15px 10px 15px;
  background: #4a78e0;
}
.header2_stcrtr {
  text-align: left;
  background: none;
  color: #0a001f;

}

.header_color2 {
  background: #0c942c;
}

.header_color3 {
  background: #8e43b7;
}