<!-- div id="search" class="input-group">
	<div>
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>..." class="search-input">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg" class="seach-button">|<span class="text-ukru"></span></button>
  </span>
	</div>
</div -->


  <script type="text/javascript"><!--
	jQuery(document).ready(function($){
		jQuery('#special-OnOff').on('click', function(){
			var checked = jQuery(this).attr('checked');		
			if (typeof checked !== "undefined") checked = 0; else checked = 1;
			
			var data = {
				action: 'specialOnOff',
				val:	checked,
			};
			var baseurl = 'http://'+window.location.hostname+'/';
			var ajaxurl = baseurl + 'tools/ajax.php';
			
			jQuery.post(ajaxurl, data, function(response) {
				console.log(response);
			});
			if (checked){
				jQuery(this).attr('checked','checked');
			} else {
				jQuery(this).removeAttr('checked');
			};				
		});
	})	
//--></script>
