<?php echo $header; ?>
<script>
		gtag('event', 'page_view', {
				'send_to': 'AW-971613570',
				'ecomm_prodid' : '',
				'ecomm_pagetype': 'other',

		});
</script>
<div class="container">
	<ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
		<?php $breadcrumbs_item = 0;
		foreach ($breadcrumbs as $breadcrumb) { ?>
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="<?php echo $breadcrumb['href']; ?>" itemprop="item">
		<span itemprop="name"><?php echo $breadcrumb['text']; ?></span>
		<meta itemprop="position" content="<?php echo ++$breadcrumbs_item; ?>" /></a></li>
		<?php } ?>
	</ul>
	<div class="row"><?php echo $column_left; ?>
		<?php if ($column_left && $column_right) { ?>
		<?php $class = 'col-sm-6'; ?>
		<?php } elseif ($column_left || $column_right) { ?>
		<?php $class = 'col-sm-9'; ?> 
		<?php } else { ?>
		<?php $class = 'col-sm-12'; ?>
		<?php } ?>
		<div id="content" class="text-page">
			<?php echo $content_top; ?>
			<?php 

			
				$en_to_rus_city = array('kiev'=>'Киев', 'harkov'=>'Харьков', 'odessa'=>'Одесса', 'dnepropetrovsk'=>'Днепропетровск', 'zaporozhe'=>'Запорожье', 'lvov'=>'Львов', 'krivoy-rog'=>'Кривой Рог', 'nikolaev'=>'Николаев', 'mariupol'=>'Мариуполь', 'vinnitsa'=>'Винница', 'herson'=>'Херсон', 'poltava'=>'Полтава', 'chernigov'=>'Чернигов', 'cherkassyi'=>'Черкассы', 'zhitomir'=>'Житомир', 'sumyi'=>'Сумы', 'hmelnitskiy'=>'Хмельницкий', 'rovno'=>'Ровно', 'kropivnitskiy'=>'Кропивницкий', 'kamenskoe'=>'Каменское', 'chernovtsyi'=>'Черновцы', 'kremenchug'=>'Кременчуг', 'ivano-frankovsk'=>'Ивано-Франковск', 'ternopol'=>'Тернополь', 'belaya-tserkov'=>'Белая Церковь', 'lutsk'=>'Луцк', 'melitopol'=>'Мелитополь', 'nikopol'=>'Никополь', 'berdyansk'=>'Бердянск', 'uzhgorod'=>'Ужгород', 'kamenets-podolskiy'=>'Каменец-Подольский');
				foreach ($en_to_rus_city as  $key => $value) {
						if (strpos($_GET['city'], $key)!==false ) {
								 $h1_city = $value;
							break;
						 }
				} 
			 
			$link_to_city = array(
'Киев' =>'https://feshmebel.com.ua/shipping-and-payment/kiev/',
'Харьков'=> 'https://feshmebel.com.ua/shipping-and-payment/harkov/',
'Одесса'=> 'https://feshmebel.com.ua/shipping-and-payment/odessa/',
'Днепропетровск'=> 'https://feshmebel.com.ua/shipping-and-payment/dnepropetrovsk/',
'Запорожье'=>'https://feshmebel.com.ua/shipping-and-payment/zaporozhe/',
'Львов'=> 'https://feshmebel.com.ua/shipping-and-payment/lvov/',
'Кривой Рог'=> 'https://feshmebel.com.ua/shipping-and-payment/krivoy-rog/',
'Николаев'=> 'https://feshmebel.com.ua/shipping-and-payment/nikolaev/',
'Мариуполь'=> 'https://feshmebel.com.ua/shipping-and-payment/mariupol/',
'Винница'=> 'https://feshmebel.com.ua/shipping-and-payment/vinnitsa/',
'Херсон'=> 'https://feshmebel.com.ua/shipping-and-payment/herson/',
'Полтава'=> 'https://feshmebel.com.ua/shipping-and-payment/poltava/',
'Чернигов'=> 'https://feshmebel.com.ua/shipping-and-payment/chernigov/',
'Черкассы'=> 'https://feshmebel.com.ua/shipping-and-payment/cherkassyi/',
'Житомир'=> 'https://feshmebel.com.ua/shipping-and-payment/zhitomir/',
'Сумы'=> 'https://feshmebel.com.ua/shipping-and-payment/sumyi/',
'Хмельницкий'=> 'https://feshmebel.com.ua/shipping-and-payment/hmelnitskiy/',
'Ровно'=> 'https://feshmebel.com.ua/shipping-and-payment/rovno/',
'Кропивницкий'=> 'https://feshmebel.com.ua/shipping-and-payment/kropivnitskiy/',
'Каменское'=> 'https://feshmebel.com.ua/shipping-and-payment/kamenskoe/',
'Черновцы'=> 'https://feshmebel.com.ua/shipping-and-payment/chernovtsyi/',
'Кременчуг'=> 'https://feshmebel.com.ua/shipping-and-payment/kremenchug/',
'Ивано-Франковск'=> 'https://feshmebel.com.ua/shipping-and-payment/ivano-frankovsk/',
'Тернополь'=> 'https://feshmebel.com.ua/shipping-and-payment/ternopol/',
'Белая Церковь'=> 'https://feshmebel.com.ua/shipping-and-payment/belaya-tserkov/',
'Луцк'=> 'https://feshmebel.com.ua/shipping-and-payment/lutsk/',
'Мелитополь'=> 'https://feshmebel.com.ua/shipping-and-payment/melitopol/',
'Никополь'=> 'https://feshmebel.com.ua/shipping-and-payment/nikopol/',
'Бердянск'=> 'https://feshmebel.com.ua/shipping-and-payment/berdyansk/',
'Ужгород'=> 'https://feshmebel.com.ua/shipping-and-payment/uzhgorod/',
'Каменец-Подольский'=> 'https://feshmebel.com.ua/shipping-and-payment/kamenets-podolskiy/'
);

			// $h1_city = $_GET['city'];
			$heading_title='ДОСТАВКА И ОПЛАТА В ';
			 ?>
			 <div class="container">
				<h1><?php echo $heading_title .$h1_city; ?></h1>
				<span class="region_title">Интернет-магазин «Фешемебельный» осуществляет доставку по всем городам Украины:</span>
				<ul class="link_to_city">

				<?php
				 foreach ($link_to_city as $key => $value) {
					if (strpos($value, $_GET['city']) === false){
					 echo '<li ><a href="'.$value.'">'.$key.'</a></li>';
					}
				}
				?>
				</ul>
				</div>
			<div class="container_seo_text">
		<!--seo_text_start-->
		<!--seo_text_end--> 
			</div>
		<?php echo $description; ?>
	 </div>
		<!-- <?php echo $column_right; ?> -->
	</div>
</div>
<?php echo $footer; ?>
