
		<!-- advantages -->
		<section class="advantages">
			<div class="wrapper">
				<div class="advantages__items">
					<div class="advantages__item">
						<div class="advantages__img"><img src="img/svg/Pay.svg" alt=""></div>
						<div class="advantages__text">Оплата: наличная, картой и безналичная с НДС</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__img"><img src="img/svg/Return.svg" alt=""></div>
						<div class="advantages__text">Гарантия возврата и обмена товара</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__img"><img src="img/svg/Showroom.svg" alt=""></div>
						<div class="advantages__text">Примерка мебели в своем интерьере</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__img"><img src="img/svg/Try-on.svg" alt=""></div>
						<div class="advantages__text">Свой выставочный салон мебели</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end advantages -->