
		<!-- advice -->
		<section class="advice">
			<div class="wrapper">
				<h1 class="advice__head h1">Советы и вдохновение</h1>
				<div class="advice__items">
					<div class="advice__item">
						<div class="advice__img"><a href=""><img src="img/advice.jpg" alt=""></a></div>
						<div class="advice__information">
							<div class="advice__date-see">
								<div class="advice__date">26 января 2020 г.</div>
								<div class="advice__see">7</div>
							</div>
							<h3 class="advice__heading"><a href="">Как продлить срок старой, но любимой мебели</a></h3>
							<p class="advice__description">Для покупки новой мебели не у каждого и не всегда есть возможности...</p>
							<a href="" class="advice__read-more">Читать далее</a>
						</div>
					</div>
					<div class="advice__item">
						<div class="advice__img"><a href=""><img src="img/advice.jpg" alt=""></a></div>
						<div class="advice__information">
							<div class="advice__date-see">
								<div class="advice__date">26 января 2020 г.</div>
								<div class="advice__see">7</div>
							</div>
							<h3 class="advice__heading"><a href="">Как продлить срок старой, но любимой мебели</a></h3>
							<p class="advice__description">Маленькая кухня — не приговор.Обладатели квартир с небольшими кухнями испытывают массу неудобств...</p>
							<a href="" class="advice__read-more">Читать далее</a>
						</div>
					</div>
					<div class="advice__item">
						<div class="advice__img"><a href=""><img src="img/advice.jpg" alt=""></a></div>
						<div class="advice__information">
							<div class="advice__date-see">
								<div class="advice__date">26 января 2020 г.</div>
								<div class="advice__see">7</div>
							</div>
							<h3 class="advice__heading"><a href="">Как продлить срок старой, но любимой мебели</a></h3>
							<p class="advice__description">Для покупки новой мебели не у каждого и не всегда есть возможности...</p>
							<a href="" class="advice__read-more">Читать далее</a>
						</div>
					</div>
				</div>
				<a href="" class="advice__all-items">все статьи</a>
			</div>
		</section>
		<!-- end advice -->