
		<!-- bottom-inf -->
		<section class="bottom-inf">
			<div class="wrapper">
				<div class="bottom-inf__block">
					<div class="bottom-inf__tabs">
						<div class="bottom-inf__tab tag active">популярные теги</div>
						<div class="bottom-inf__tab bottom-inf__delivery">доставка в города</div>
						<div class="bottom-inf__tab faq">faq</div>
					</div>
					<div class="bottom-inf_tab-inf tab-inf">
						<div class="tab-inf__items">
							<ul>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Барная стойка</a></li>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Стул офисный сетка</a></li>
								<li><a href="">Офисное кресло</a></li>
								<li><a href="">Барная стойка</a></li>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Стул офисный сетка</a></li>
							</ul>
						</div>
						<div class="tab-inf__items">
							<ul>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Барная стойка</a></li>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Стул офисный сетка</a></li>
								<li><a href="">Офисное кресло</a></li>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Стул офисный сетка</a></li>
							</ul>
						</div>
						<div class="tab-inf__items">
							<ul>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Барная стойка</a></li>
								<li><a href="">Стулья обеденные деревянные</a></li>
								<li><a href="">Стул офисный сетка</a></li>
								<li><a href="">Офисное кресло</a></li>
							</ul>
						</div>
						<div class="tab-inf__items last-column">
							<div class="tab-inf__item">
								<ul>
									<li><a href="">Стулья обеденные деревянные</a></li>
									<li><a href="">Барная стойка</a></li>
									<li><a href="">Стулья обеденные деревянные</a></li>
									<li><a href="">Стул офисный сетка</a></li>
									<li><a href="">Офисное кресло</a></li>
								</ul>
							</div>
							<div class="tab-inf__item">
								<ul>
									<li><a href="">Стулья обеденные деревянные</a></li>
									<li><a href="">Барная стойка</a></li>
									<li><a href="">Стулья обеденные деревянные</a></li>
									<li><a href="">Стул офисный сетка</a></li>
									<li><a href="">Офисное кресло</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end bottom-inf -->