
		<!-- categories-goods -->
		<section class="categories-goods sale">
			<div class="wrapper">
				<h1 class=".h1">Мебель LOVKO</h1>
				<div class="categories-goods__block">

					<div class="filter__sort filter-sort">
						<div class="filter-sort__select-block">
							<div class="filter-sort__heading">Сортировать:</div>
							<select name="" id="" class="filter-sort__select select">
								<option value="">Популярные</option>
								<option value="">От дешевых к дорогим</option>
							</select>
						</div>
					</div>
					
					<div class="categories-goods__items">
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- end	categories-goods -->