
		<!-- brand -->
		<section class="brand">
			<div class="wrapper">
				<h1 class="brand__head h1">Выберите бренд</h1>
				<div class="brand__slider">
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-1.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-2.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-3.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-4.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-5.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-6.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-3.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-4.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-5.png" alt=""></a></div>
					</div>
					<div class="brand__slide">
						<div class="brand__img"><a href=""><img src="img/brand/Brand-logo-6.png" alt=""></a></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end brand -->