
		<!-- breadcrumbs -->
		<section class="breadcrumbs">
			<div class="wrapper">
				<ul class="breadcrumbs__items">
					<li class="breadcrumbs__item"><a href="">Интернет магазин мебели ФешеМебельный</a></li>
					<li class="breadcrumbs__item"><a href="">Интернет магазин мебели</a></li>
					<li class="breadcrumbs__item"><a href="">Кухня</a></li>
				</ul>
			</div>
		</section>
		<!-- end breadcrumbs -->