

		<!-- breadcrumbs -->
		<section class="breadcrumbs categories">
			<div class="wrapper">
				<ul class="breadcrumbs__items">
					<li class="breadcrumbs__item"><a href="">Интернет магазин мебели ФешеМебельный</a></li>
					<li class="breadcrumbs__item"><a href="">Интернет магазин мебели</a></li>
					<li class="breadcrumbs__item"><a href="">Кухня</a></li>
				</ul>
			</div>
		</section>
		<!-- end breadcrumbs -->

	<!-- categories-views -->
	<section class="categories-views">
		<div class="wrapper">
			<h1 class="categories-views__head h1">Мебель для кухни</h1>
			<div class="minwrapper">
				<div class="categories-views__items">
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img-3.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Столы кухонные</a>
					</div>
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img-4.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Столы-трансформеры</a>
					</div>
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img-5.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Обеденные комплекты</a>
					</div>
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img-6.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Стулья кухонные</a>
					</div>
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img-7.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Барные стулья</a>
					</div>
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img-2.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Табуреты и скамьи</a>
					</div>
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Опоры для столов</a>
					</div>
					<div class="categories-views__item">
						<a href="" class="categories-views__img-link"><img class="categories-views__img" src="img/categories-views/Img-1.jpg" alt=""></a>
						<a href="" class="categories-views__link h3">Столешницы для столов</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end	categories-views -->