
		<!-- categories-ban -->
		<section class="categories-ban">
			<div class="wrapper">
				<div class="categories-ban__img"><img src="img/categories-banner.jpg" alt=""></div>
			</div>
		</section>
		<!-- end categories-ban -->