<!-- checkout-success -->
<div class="checkout-success">
	<div class="wrapper">
		<div class="checkout-success__block">
			<h1 class="h1">Ваш заказ принят</h1>
			<h3 class="h3">№ заказа: 2928</h3>
			<p class="checkout-success__description">Заказ оформлен и поступил в обработку. Наш менеджер свяжется с вами в ближайшее время. Статус заказа можно проверить в <a href="">Личном кабинете</a></p>
			<p class="checkout-success__description">Спасибо за покупки в ФешеМебельном.</p>
			<div class="order__info-contact guest-contact after-prepay">
				<span class="order__help">Остались вопросы? Позвоните или напишите:</span>
				<div class="order__phone">0 800 330 190
					<span>(бесплатно)</span>
				</div>
				<span class="order__info-email">info@feshemebel.com.ua</span>
			</div>
			<div class="checkout-success__btn"><a href="">продолжить покупки</a></div>
		</div>
	</div>
</div>
<!-- end checkout-success -->