<!-- checkout -->
<section class="checkout">
	<div class="wrapper">
		<h1 class="checkout__head">Оформление заказа</h1>
		<div class="checkout__content">
			<div class="checkout__way-registration">
				<div class="checkout__registration">
					<div class="checkout__guest">Оформить как гость</div>
					<div class="checkout__registered select-item">уже зарегистрирован</div>
				</div>
				<div class="checkout__customer-data">
					<div class="checkout__data-heading">Ваши данные</div>
					<span class="checkout__customer-name">Имя и фамилия:</span>
					<span class="checkout__customer-name-data">Lilya</span>
					<span class="checkout__customer-email">Email:</span>
					<span class="checkout__customer-email-data">liliay.dubnyuk@gmail.com</span>
					<div class="checkout__change-data-customer">Изменить личные данные</div>
					<fieldset class="checkout__field-form phone">
						<input class="checkout__input form-input" type="text" required>
						<label class="checkout__label form-label">Телефон*</label>
						<span class="form__please">Пожалуйста, введите ваш телефон</span>
						<span class="form__error">Неверный телефон</span>
					</fieldset>
					<div class="checkout__remember">
						<input class="checkout__remember-check" type="checkbox" name="name1" id="checkout__form-check">
						<label for="checkout__form-check" class="checkout__form-check">Запомнить меня</label>
					</div>
				</div>

				<section class="delivery">
					<div class="wrapper">
						<form class="delivery__form">
							<div class="delivery__head">Доставка</div>
							<div class="delivery__choice-block">
								<div class="delivery__choice-items">
									<div class="delivery__choice-item">
										<input type="radio" name="deliv" id="courier-kiev" checked="checked"><label for="courier-kiev">Курьером по Киеву (350 грн)</label>
									</div>
									<div class="delivery__choice-item">
										<input type="radio" name="deliv" id="courier-obl"><label for="courier-obl">Курьером по Киевской области (350 + 15 грн/км)</label>
										<p class="delivery__description">Стоимость доставки уточните у менеджера</p>
									</div>
									<div class="delivery__choice-item">
										<input type="radio" name="deliv" id="courier-np"><label for="courier-np">Адресная доставка Новой Почтой</label>
										<p class="delivery__description">Стоимость доставки определяет почтовая служба</p>
									</div>
									<div class="delivery__choice-item">
										<input type="radio" name="deliv" id="courier-pickup"><label for="courier-pickup">Самовывоз из салона-магазина (Киевская обл.)</label>
										<p class="delivery__description">ул. Ягодная, 18, Софиевская Борщаговка. Пн-пт: 9:00 – 18:00, Сб 10:00 - 20:00</p>
									</div>
								</div>
							</div>

							<div class="delivery__head">Способ оплаты</div>
							<div class="delivery__choice-block pay-method">
								<div class="delivery__choice-items">
									<div class="delivery__choice-item">
										<input type="radio" name="pay-method" id="cash" checked="checked"><label for="cash">Наличные</label>
									</div>
									<div class="delivery__choice-item">
										<input type="radio" name="pay-method" id="cashless"><label for="cashless">Безналичный расчет (с НДС) </label>
									</div>
									<div class="delivery__choice-item">
										<input type="radio" name="pay-method" id="card"><label for="card">Картой Visa или MasterCard на сайте</label>
									</div>
								</div>
							</div>
						</form>
						<div class="delivery__comment">Добавить комментарий к заказу</div>
					</div>
				</section>
			</div>

			<div class="order">
				<div class="order__wrapper">
					<!-- <div class="order__collapse-order"></div> -->
					<div class="order__head">
						<div class="order__title">Ваш заказ</div>
						<div class="order__number-of-orders">товаров (3)</div>
					</div>
					<div class="order__card">
						<div class="order_product-image">
							<img src="img/promotions/chair.jpg" alt="">
							<div class="order__remove">
								<span class="order__delete-products">Удалить<span>
							</div>
						</div>
						<div class="order__about-product">
							<div class="order__name">Стул Charles (Чарльз) 2 - 113357</div>
							<div class="order__attributes">
								<span class="order__color">Цвет:</span>
								<span class="order__value">Черный</span>
							</div>
						</div>
						<div class="order__quantity-price">
							<div class="order__cost-digits">
								<span class="order__price-for-one">Цена</span>
								<span class="order__price-for-value">: 675 грн</span>
							</div>
							<div class="order__calc">
								<div class="order__calc-button-minus"></div>
								<input class="order__calc-input" value="1">
								<div class="order__calc-button-plus"></div>
							</div>
							<div class="order__sum">
								<span class="order__sum-label">Сумма:</span>
								<span class="order__cost">1 350 грн</span>
							</div>
						</div>
					</div>
					<div class="order__card">
						<div class="order_product-image">
							<img src="img/promotions/chair.jpg" alt="">
							<div class="order__remove">
								<span class="order__delete-products">Удалить<span>
							</div>
						</div>
						<div class="order__about-product">
							<div class="order__name">Стул Charles (Чарльз) 2 - 113357</div>
							<div class="order__attributes">
								<span class="order__color">Цвет:</span>
								<span class="order__value">Черный</span>
							</div>
						</div>
						<div class="order__quantity-price">
							<div class="order__cost-digits">
								<span class="order__price-for-one">Цена</span>
								<span class="order__price-for-value">: 675 грн</span>
							</div>
							<div class="order__calc">
								<div class="order__calc-button-minus"></div>
								<input class="order__calc-input" value="1">
								<div class="order__calc-button-plus"></div>
							</div>
							<div class="order__sum">
								<span class="order__sum-label">Сумма:</span>
								<span class="order__cost">1 350 грн</span>
							</div>
						</div>
					</div>
					<div class="order__promo">
						<div class="order-promo-form">
							<input type="text" class="order__coupon-code" name="couponCode" placeholder="Ввести промокод">
						</div>
						<div class="order__promo-code-submit">
							<button type="submit" class="order__promo-code-btn">Применить</button>
						</div>
					</div>
					<div class="order__sub-total">
						<span class="order__subtotal-text">Сумма заказа</span>
						<span class="order__subtotal-value">2 367 грн</span>
					</div>
					<div class="order__grand-total">
						<span class="order__total-text">Итого</span>
						<span class="order__total">2 367 грн</span>
					</div>
					<div class="order__confirm-order">
						<button type="submit" class="order__confirm-btn">подтвердить заказ</button>
					</div>
				</div>
				<div class="order__agreement">
					Подтверждая заказ, я принимаю условия
					<a href="#" class="order__agreement-link">пользовательского соглашения</a>
				</div>
				<div class="order__info-contact">
					<span class="order__help">Остались вопросы? Позвоните или напишите:</span>
					<div class="order__phone">0 800 330 190
						<span>(бесплатно)</span>
					</div>
					<span class="order__info-email">info@feshemebel.com.ua</span>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
<!-- end checkout -->