
		<footer class="footer">
			<div class="wrapper">
				<div class="footer__left-block">
					<div class="footer__logo">
						<div class="footer__logo-img"><a hre=""><img src="img/svg/footer-logo.svg" alt=""></a></div>
					</div>
					<div class="footer__social-blocks">
						<div class="footer__schedule">
							<div>
								<span>Будни:</span>
								<p>9:00 – 18:00</p>
							</div>
							<div>
								<span>Суббота:</span>
								<p>10:00 - 20:00</p>
							</div>
							<div>
								<span>Выходные:</span>
								<p>Вс, праздники </p>
							</div>
						</div>
						<div class="footer__phone-email">
							<div class="footer__phone">
								<div>
									<span>Бесплатно</span>
									<a href="">0 800 330 190 </a>
								</div>
								<div>
									<span>Тел.</span>
									<a href="">+380 44 38 38 38 5</a>
								</div>
								<div>
									<span>Viber</span>
									<a href="">+380 68 510 81 99 </a>
								</div>
							</div>
							<div class="footer__social-email">
								<div class="footer_block">
									<div class="footer__email">
										<a href="">info@feshemebel.com.ua</a>
									</div>
									<div class="footer__social">
										<a href="">facebook</a>
										<a href="">instagram</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__right-block">
					<div class="footer__top-inf">
						<div class="footer__information">
							<div class="footer__head">
								<div class="footer__head-name">Информация</div>
								<ul>
									<li><a href="">Оплата и доставка</a></li>
									<li><a href="">Гарантия и возврат</a></li>
									<li><a href="">О ФешеМебельном</a></li>
									<li><a href="">Контакты</a></li>
									<li><a href="">Карта сайта</a></li>
								</ul>
							</div>
						</div>
						<div class="footer__clients">
							<div class="footer__head">
								<div class="footer__head-name">Клиентам</div>
								<ul>
									<li><a href="">Оплата и доставка</a></li>
									<li><a href="">Гарантия и возврат</a></li>
									<li><a href="">О ФешеМебельном</a></li>
									<li><a href="">Контакты</a></li>
									<li><a href="">Карта сайта</a></li>
								</ul>
							</div>
						</div>
						<div class="footer__topcat">
							<div class="footer__head">
								<div class="footer__head-name">ТОП категории</div>
								<ul>
									<li><a href="">Оплата и доставка</a></li>
									<li><a href="">Гарантия и возврат</a></li>
									<li><a href="">О ФешеМебельном</a></li>
									<li><a href="">Контакты</a></li>
									<li><a href="">Карта сайта</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer__bottom-inf">
						<div class="footer__address">
							<span class="footer__address-inf">ул. Ягодная, 18, Софиевская Борщаговка, Киевская обл.</span>
							<a href="" class="footer__address-map">на карте</a>
						</div>
						<div class="footer__text">
							<div>Интернет магазин мебели ФешеМебельный</div>
							<div>Магазин мебели </div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>
	

<script src="js/scripts.js"></script>

</body>

</html>