
		<!-- information -->
		<section class="information">
			<div class="wrapper">
				<div class="information__block">
					<div class="information__inf">
						<div class="information__items">
							<div class="information__item">
								<p class="information__text">Оптовым клиентам специальные условия</p>
								<a href="" class="information__link">Подробнее</a>
							</div>
							<div class="information__item">
								<p class="information__text">Услуга «Примерка», чтобы проверить мебель в своем интерьере, не покупая</p>
								<a href="" class="information__link">Подробнее</a>
							</div>
							<div class="information__item">
								<p class="information__text">Бонусная система скидок для розничных клиентов</p>
								<a href="" class="information__link">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="information__image"><img src="img/information.jpg" alt=""></div>
				</div>
			</div>
		</section>
		<!-- end information -->