
		<!-- main-banner -->
		<section class="main-banner">
			<div class="wrapper">
				<h1 class="main-banner__head h1">ФешеМебельный интернет магазин</h1>
				<div class="main-banner__block">
					<div class="main-banner__img"><img src="img/banner.jpg" alt=""></div>
					<div class="main-banner__img-mob"><img src="img/banner-mob.jpg" alt=""></div>
					<span class="main-banner__slogan">сучасно. якісно. доступно.</span>
					<p class="main-banner__title">Українські дизайнерські меблі для дому та HoReCa</p>
					<a href="" class="main-banner__link">купити</a>
				</div>
			</div>
		</section>
		<!-- end main-banner -->