<!-- marks -->
<section class="marks">
	<div class="wrapper">
		<div class="minwrapper">
			<div class="marks__items">
				<div class="marks__item"><a class="marks__link" href="">мебель цены</a></div>
				<div class="marks__item"><a class="marks__link" href="">офисная мебель интернет магазин</a></div>
				<div class="marks__item"><a class="marks__link" href="">опоры для офисных столов</a></div>
				<div class="marks__item"><a class="marks__link" href="">кресло</a></div>
				<div class="marks__item"><a class="marks__link" href="">мебель цены</a></div>
				<div class="marks__item"><a class="marks__link" href="">журнальные столики каталог</a></div>
			</div>
		</div>
	</div>
</section>
<!-- end marks -->