
		<!-- pagination -->
		<section class="pagination">
			<div class="wrapper">
				<div class="pagination__block">
					<ul class="pagination__items">
						<!-- <li class="pagination__item pagination__prev"><a href=""></a></li> -->
						<li class="pagination__item active"><a href="">1</a></li>
						<li class="pagination__item"><a href="">2</a></li>
						<li class="pagination__item"><a href="">3</a></li>
						<li class="pagination__item"><a href="">4</a></li>
						<li class="pagination__item"><a href="">5</a></li>
						<li class="pagination__item"><a href="">...</a></li>
						<li class="pagination__item"><a href="">40</a></li>
						<li class="pagination__item pagination__next"><a href=""></a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- end	pagination -->