		<!-- popular -->
		<section class="popular">
			<div class="wrapper">
				<h1 class="popular__head h1">Популярные разделы</h1>
				<div class="popular__block">
					<div class="popular__kinds">
						<div class="popular__tabs">
							<div class="popular__tab">
								<p class="active">Стулья</p>
								<ul class="active">
									<li class="active">
										<div><a href="http://google.com"><span>Современные</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
									<li>
										<div><a href="http://fb.com"><span>Классика</span></a></div>
										<img src="img/popular/img2.jpg" alt="">
									</li>
									<li>
										<div><a href="http://google.com"><span>Лофт</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
									<li>
										<div><a href="http://fb.com"><span>Дизайнерские</span></a></div>
										<img src="img/popular/img2.jpg" alt="">
									</li>
									<li>
										<div><a href="http://google.com"><span>Стулья Eames</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
								</ul>
							</div>
							<div class="popular__tab">
								<p>Кресла</p>
								<ul>
									<li>
										<div><a href="http://google.com"><span>Современные</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
									<li>
										<div><a href="http://fb.com"><span>Классика</span></a></div>
										<img src="img/popular/img2.jpg" alt="">
									</li>
									<li>
										<div><a href="http://google.com"><span>Лофт</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
									<li>
										<div><a href="http://fb.com"><span>Дизайнерские</span></a></div>
										<img src="img/popular/img2.jpg" alt="">
									</li>
									<li>
										<div><a href="http://google.com"><span>Стулья Eames</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
								</ul>
							</div>
							<div class="popular__tab">
								<p>Столы</p>
								<ul>
									<li class="active">
										<div><a href="http://google.com"><span>Современные</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
									<li>
										<div><a href="http://fb.com"><span>Классика</span></a></div>
										<img src="img/popular/img2.jpg" alt="">
									</li>
									<li>
										<div><a href="http://google.com"><span>Лофт</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
									<li>
										<div><a href="http://fb.com"><span>Дизайнерские</span></a></div>
										<img src="img/popular/img2.jpg" alt="">
									</li>
									<li>
										<div><a href="http://google.com"><span>Стулья Eames</span></a></div>
										<img src="img/popular/img1.jpg" alt="">
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="popular__image"><a href="google.com"><img src="img/popular/img1.jpg" alt=""></a></div>
				</div>
			</div>
		</section>
		<!-- end popular -->