<!-- promotions -->
<section class="promotions popular-block">
	<div class="wrapper">
		<div class="minwrapper">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="h4">популярные товары</h4>
				</div>
				<div class="col-lg-12 promotions__slider">
					<div class="promotions__slide">
						<div class="promotions__information">
							<div class="promotions__label green">Супер цена</div>
							<div class="promotions__delivery"></div>
							<div class="promotions__credit"></div>
							<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
							<div class="promotions__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
						</div>
						<div class="promotions__price">
							<div class="promotions__link"><a href="#">Стол Edge</a></div>
							<div class="promotions__price-block">
								<div class="promotions__old-price">
									<div class="promotions__discount">-3001</div>
									<div class="promotions__before-discount">18000</div>
								</div>
								<div class="promotions__new-price">14999<span> грн</span></div>
							</div>
							<div class="promotions__actions">
								<div class="promotions__wish"></div>
								<div class="promotions__compare"></div>
								<div class="promotions__buy"><span>купить</span></div>
							</div>
						</div>
					</div>
					<div class="promotions__slide">
						<div class="promotions__information">
							<div class="promotions__label green">Супер цена</div>
							<div class="promotions__delivery"></div>
							<div class="promotions__credit"></div>
							<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
							<div class="promotions__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
						</div>
						<div class="promotions__price">
							<div class="promotions__link"><a href="#">Стол Edge</a></div>
							<div class="promotions__price-block">
								<div class="promotions__old-price">
									<div class="promotions__discount">-3001</div>
									<div class="promotions__before-discount">18000</div>
								</div>
								<div class="promotions__new-price">14999<span> грн</span></div>
							</div>
							<div class="promotions__actions">
								<div class="promotions__wish"></div>
								<div class="promotions__compare"></div>
								<div class="promotions__buy"><span>купить</span></div>
							</div>
						</div>
					</div>
					<div class="promotions__slide">
						<div class="promotions__information">
							<div class="promotions__label green">Супер цена</div>
							<div class="promotions__delivery"></div>
							<div class="promotions__credit"></div>
							<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
							<div class="promotions__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
						</div>
						<div class="promotions__price">
							<div class="promotions__link"><a href="#">Стол Edge</a></div>
							<div class="promotions__price-block">
								<div class="promotions__old-price">
									<div class="promotions__discount">-3001</div>
									<div class="promotions__before-discount">18000</div>
								</div>
								<div class="promotions__new-price">14999<span> грн</span></div>
							</div>
							<div class="promotions__actions">
								<div class="promotions__wish"></div>
								<div class="promotions__compare"></div>
								<div class="promotions__buy"><span>купить</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end promotions -->