<!-- product -->
<section class="product action">
	<div class="wrapper">
		<div class="product__block">
			<div class="product__slider-block">
				<div class="product__slider product__slider-photoswipe">
					<figure class="product__slide" itemprop="associatedMedia">
						<a href="img/product/product2.jpg" itemprop="contentUrl" data-size="512x512" class="product__slide-img">
							<img src="img/product/product2.jpg" itemprop="thumbnail" alt="pic2">
						</a>
					</figure>
					<figure class="product__slide" itemprop="associatedMedia">
						<a href="img/product/product1.jpg" itemprop="contentUrl" data-size="512x512" class="product__slide-img">
							<img src="img/product/product1.jpg" itemprop="thumbnail" alt="pic1">
						</a>
					</figure>
				</div>

				<!-- Root element of PhotoSwipe. Must have class pswp. -->
				<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

					<div class="pswp__bg"></div>
					<div class="pswp__scroll-wrap">

						<div class="pswp__container">
							<div class="pswp__item"></div>
							<div class="pswp__item"></div>
							<div class="pswp__item"></div>
						</div>

						<div class="pswp__ui pswp__ui--hidden">

							<div class="pswp__top-bar">

								<div class="pswp__counter"></div>

								<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
								<button class="pswp__button pswp__button--share" title="Share"></button>
								<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
								<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

								<div class="pswp__preloader">
									<div class="pswp__preloader__icn">
										<div class="pswp__preloader__cut">
											<div class="pswp__preloader__donut"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
								<div class="pswp__share-tooltip"></div>
							</div>

							<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
							</button>

							<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
							</button>

							<div class="pswp__caption">
								<div class="pswp__caption__center"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product__information">
				<h1 class="h1">Диван Бум - 820043</h1>
				<div class="product__sale product-sale">
					<div class="product-sale__sell-out">Распродажа складских остатков</div>
					<div class="product-sale__inf">До конца акции осталось</div>
					<div class="product-sale__block">
						<div class="product-sale__item">
							<div class="product-sale__time .h4">08</div>
							<div class="product-sale__time-name">дни</div>
						</div>
						<div class="product-sale__item">
							<div class="product-sale__time .h4">08</div>
							<div class="product-sale__time-name">часы</div>
						</div>
						<div class="product-sale__item">
							<div class="product-sale__time .h4">08</div>
							<div class="product-sale__time-name">мин</div>
						</div>
						<div class="product-sale__item">
							<div class="product-sale__time .h4">08</div>
							<div class="product-sale__time-name">сек</div>
						</div>
					</div>

					<div class="product-sale__price-block">
						<div class="product-sale__old-disc">
							<div class="product-sale__disc">-451</div>
							<div class="product-sale__old">3 021</div>
						</div>
						<div class="product__price-main">3 870 грн</div>
					</div>
				</div>

				<div class="product__delivery-time">Срок поставки:<span>21 день</span></div>

				<div class="product__options-block">
				<div class="product__colors-block colors">
					<div class="colors__left">
						<div class="colors__material">Цвет каркаса:<span>RAL 9006</span></div>
						<div class="colors__items-block">
							<div class="colors__items">
								<div class="colors__item">
									<div class="colors__item-img selected-color"><img src="img/product/colors/bg.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-5.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-1.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-2.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-3.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-4.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-5.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-1.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-2.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-3.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-4.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-3.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-4.jpg" alt=""></div>
								</div>
								<div class="colors__item show-hide"></div>
							</div>
						</div>

						<div class="product__size product-size">
							<div class="product-size__title">Размер каркаса:</div>
							<div class="product-size__select-block">
								<select name="" id="" class="product-size__select select">
									<option value="" selected>500 х 1000 (+0 грн)</option>
									<option value="">500 х 1200 (+100 грн)</option>
									<option value="">600 х 1000 (+120 грн)</option>
									<option value="">500 х 1400 (+200 грн)</option>
								</select>
							</div>
						</div>
					</div>

					<div class="colors__right">
						<div class="colors__material">Покрытие: <span>структура</span></div>
						<div class="colors__items-block">
							<div class="colors__items">
								<div class="colors__item">
									<div class="colors__item-img selected-color"><img src="img/product/colors/bg.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-5.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-1.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-2.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-3.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-4.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-5.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-1.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-2.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-3.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-4.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-3.jpg" alt=""></div>
								</div>
								<div class="colors__item">
									<div class="colors__item-img"><img src="img/product/colors/bg-4.jpg" alt=""></div>
								</div>
								<div class="colors__item show-hide"></div>
							</div>
						</div>

						<div class="product__size product-size">
							<div class="product-size__title">Сечение трубы:</div>
							<div class="product-size__select-block">
								<select name="" id="" class="product-size__select select">
									<option value="" selected>500 х 1000 (+0 грн)</option>
									<option value="">500 х 1200 (+100 грн)</option>
									<option value="">600 х 1000 (+120 грн)</option>
									<option value="">500 х 1400 (+200 грн)</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="product__buy-buttons">
					<div class="product__order-btn">заказать</div>
					<div class="product__installment-btn try-on">примерить</div>
					<div class="product__installment-btn look">где посмотреть</div>
				</div>

				<div class="product__add-to-share">
					<div class="product__add-to">
						<div class="product__compare"><span>В сравнение</spa>
						</div>
						<div class="product__favorites"><span>В избранное</spa>
						</div>
					</div>
					<div class="product__share">
						<span>Поделиться:</span>
						<div class="product__share-link"><a href="" class="product__share-fb"></a></div>
						<div class="product__share-link"><a href="" class="product__share-pinterest"></a></div>
						<div class="product__share-link"><a href="" class="product__share-twitter"></a></div>
						<div class="product__share-link"><a href="" class="product__share-email"></a></div>
					</div>
				</div>
			</div>

				<div class="product__inf-items">
					<div class="product__inf-item">
						<div class="product__inf-head h4">описание</div>
						<div class="product__inf-content">
							<p class="product__desc">Благодаря своему стильному виду, качественным материалам, которые используются для сборки, и небольшой цене, диван Бум довольно часто можно встретить в небольших уютных кофейнях. </p>
							<p class="product__desc">Прочный каркас мебельного изделья устанавливается на небольших деревянных ножках, для обивки используется современная ткань Саванна или экокожа Флай.</p>
						</div>
					</div>

					<div class="product__inf-item">
						<div class="product__inf-head h4">характеристики</div>
						<div class="product__inf-content">
							<div class="product__characteristics-items">
								<div class="product__characteristic-item">
									<span class="product__character">Размеры [ Ш х Г х В ]</span>
									<span>56 х 58 х 82 см</span>
								</div>
								<div class="product__characteristic-item">
									<span class="product__character">Материал</span>
									<span>Ткань / Металл / ППУ</span>
								</div>
								<div class="product__characteristic-item">
									<span class="product__character">Высота посадки</span>
									<span>49 см</span>
								</div>
							</div>
						</div>
					</div>

					<div class="product__inf-item">
						<div class="product__inf-head h4">доставка и гарантия</div>
						<div class="product__inf-content">
							<div class="product__delivery-guarantee delivery-guarantee">
								<div class="delivery-guarantee__head">Доставка по Киеву</div>
								<ul class="delivery-guarantee__items">
									<li class="delivery-guarantee__item"><b>Бесплатно</b> при заказе от <b>15 000 грн</b></li>
									<li class="delivery-guarantee__item"><b>350 грн</b> при заказе <b>до 15 000 грн</b></li>
									<li class="delivery-guarantee__item"><b>15 грн/км</b> по области</li>
								</ul>
								<div class="delivery-guarantee__head">Доставка по Украине</div>
								<ul class="delivery-guarantee__items">
									<li class="delivery-guarantee__item"><b>Бесплатно</b> при заказе от <b>15 000 грн</b></li>
									<li class="delivery-guarantee__item"><b>За счет клиента</b> при заказе <b>до 15 000 грн</b></li>
								</ul>
								<div class="delivery-guarantee__head">Оплата</div>
								<ul class="delivery-guarantee__items">
									<li class="delivery-guarantee__item">Оплата наличными, картой либо безналичным расчетом.</li>
								</ul>
								<div class="delivery-guarantee__head underline"><a href="">Подробнее о доставке и оплате</a></div>
								<div class="delivery-guarantee__head">Гарантия и возврат</div>
								<ul class="delivery-guarantee__items">
									<li class="delivery-guarantee__item">Гарантия <b>от 12 месяцев</b></li>
									<li class="delivery-guarantee__item">Возврат и обмен в течении <b>14 дней</b></li>
								</ul>
								<div class="delivery-guarantee__head underline"><a href="">Подробнее о гарантии и возврате</a></div>
							</div>
						</div>
					</div>

					<div class="product__inf-item">
						<div class="product__inf-head h4">отзывы<span class="count">(1)</span></div>
						<div class="product__inf-content">							
							<div class="product__feedback feedback">
								<div class="feedback__items">
									<div class="feedback__item">
										<div class="feedback__name">Богдан</div>
										<div class="feedback__rate">
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
										</div>
										<div class="feedback__text">Отличное качество изготовления. Хорошая покраска. Работа сделана в срок. В целом сложилось положительное впечатление о магазине.</div>
									</div>
									<div class="feedback__item">
										<div class="feedback__name">Богдан</div>
										<div class="feedback__rate">
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
											<div class="feedback__rate-item"></div>
										</div>
										<div class="feedback__text">Отличное качество изготовления. Хорошая покраска. Работа сделана в срок. В целом сложилось положительное впечатление о магазине.</div>
									</div>
								</div>
								
								<div class="feedback__write">написать отзыв</div>
								<div class="feedback__rating">
									<span class="feedback__your-appraisal">Ваша оценка:</span>
									<div class="feedback__appraisal-block">
										<div class="feedback__appraisal-item"></div>
										<div class="feedback__appraisal-item"></div>
										<div class="feedback__appraisal-item"></div>
									</div>
								</div>
								<form action="">
									<fieldset class="checkout__field-form">
										<input class="checkout__input form-input" type="text" required>
										<label class="checkout__label form-label">Ваше имя*</label>
									</fieldset>
									<textarea class="delivery__text-field product__text-field" placeholder="Ваш комментарий:"></textarea>
									<button class="product__delivery-comment">отправить отзыв</button>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- end product -->


<!-- promotions -->
<section class="promotions">
	<div class="wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="promotions__head head">Похожие товары</h1>
			</div>
			<div class="col-lg-12 promotions__slider promotions__slider-block">
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label green">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
							<div class="promotions__delivery"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label red">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
							<div class="promotions__delivery"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label red">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__delivery"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label green">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label green">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end promotions -->


<!-- promotions -->
<section class="promotions">
	<div class="wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="promotions__head head">Вместе с этим покупают</h1>
			</div>
			<div class="col-lg-12 promotions__slider promotions__slider-block">
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label green">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
							<div class="promotions__delivery"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label red">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
							<div class="promotions__delivery"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label red">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__delivery"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label green">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
				<div class="promotions__slide">
					<div class="promotions__information">
						<div class="promotions__label green">Супер цена</div>
						<div class="promotions__delivery-fitting">
							<div class="promotions__fitting"></div>
						</div>
						<div class="promotions__credit"></div>
						<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
						<div class="promotions__rating-block">
							<div class="promotions__rating"></div>
						</div>
					</div>
					<div class="promotions__price">
						<div class="promotions__link"><a href="#">Стол Edge</a></div>
						<div class="promotions__price-block">
							<div class="promotions__old-price">
								<div class="promotions__discount">-3001</div>
								<div class="promotions__before-discount">18000</div>
							</div>
							<div class="promotions__new-price">14999<span> грн</span></div>
						</div>
						<div class="promotions__actions">
							<div class="promotions__wish"></div>
							<div class="promotions__compare"></div>
							<div class="promotions__buy"><span>купить</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end promotions -->