
		<!-- projects -->
		<section class="projects">
			<div class="wrapper">
				<h1 class="projects__head h1">Наши проекты</h1>
				<div class="projects__slider">
					<div class="projects__slide">
						<div class="projects__img"><a href=""><img src="img/project-img.jpg" alt=""></a></div>
					</div>
					<div class="projects__slide">
						<div class="projects__img"><a href=""><img src="img/project-img.jpg" alt=""></a></div>
					</div>
					<div class="projects__slide">
						<div class="projects__img"><a href=""><img src="img/project-img.jpg" alt=""></a></div>
					</div>
					<div class="projects__slide">
						<div class="projects__img"><a href=""><img src="img/project-img.jpg" alt=""></a></div>
					</div>
					<div class="projects__slide">
						<div class="projects__img"><a href=""><img src="img/project-img.jpg" alt=""></a></div>
					</div>
					<div class="projects__slide">
						<div class="projects__img"><a href=""><img src="img/project-img.jpg" alt=""></a></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end projects -->