
<!-- search-no-result -->
<section class="search-no-result">
	<div class="wrapper">
		<h1 class="h1">Нет результатов поиска <span>“полдь”</span></h1>
		<p class="search-no-result__desc">Совет: <span>попробуйте перефразировать поисковый запрос или воспользуйтесь предложениями ниже.</span></p>
	</div>
</section>
<!-- end search-no-result -->