
		<!-- search-no-result -->
		<section class="search-no-result search-result">
			<div class="wrapper">
				<h1 class="h1">Результаты поиска <span>“Столы Малайзия”</span></h1>

				<div class="categories-goods__block">
					<div class="categories-goods__filter-block filter">
						<div class="filter__heading">фильтр</div>
						<div class="filter__items">
							<div class="filter__item">
								<div class="filter__head">цена</div>
								<div class="filter__content">
									<div class="filter__input-range">
										<input type="text" value="0" class="filter-range-min">
										<div></div>
										<input type="text" value="500" class="filter-range-max">
									</div>
									<div id="filter-range" class="filter__range"></div>
								</div>
							</div>
							<div class="filter__item">
								<div class="filter__head">цвет</div>
								<div class="filter__content">
									<div class="filter__color-items">
										<div class="filter__color-item">
											<div class="filter__color-img"><img src="img/filter/colors/bg.jpg" alt=""></div>
											<div class="filter__color-name">Прозрачный</div>
										</div>
										<div class="filter__color-item">
											<div class="filter__color-img"><img src="img/filter/colors/bg-1.jpg" alt=""></div>
											<div class="filter__color-name">Белый</div>
										</div>
										<div class="filter__color-item">
											<div class="filter__color-img"><img src="img/filter/colors/bg-2.jpg" alt=""></div>
											<div class="filter__color-name">Кремовый</div>
										</div>
										<div class="filter__color-item">
											<div class="filter__color-img"><img src="img/filter/colors/bg-3.jpg" alt=""></div>
											<div class="filter__color-name">Бежевый</div>
										</div>
										<div class="filter__color-item">
											<div class="filter__color-img"><img src="img/filter/colors/bg-4.jpg" alt=""></div>
											<div class="filter__color-name">Желтый</div>
										</div>
										<div class="filter__color-item">
											<div class="filter__color-img"><img src="img/filter/colors/bg-5.jpg" alt=""></div>
											<div class="filter__color-name">Оранжевый</div>
										</div>
									</div>
								</div>
							</div>
							<div class="filter__item">
								<div class="filter__head">материал каркаса</div>
								<div class="filter__content">
									<div class="filter__check-items">
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for1">
											<label for="for1">Дерево</label>
											<span class="filter__count-item">[444]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for2">
											<label for="for2">Металл</label>
											<span class="filter__count-item">[650]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for3">
											<label for="for3">Пластик</label>
											<span class="filter__count-item">[650]</span>
										</div>
									</div>
								</div>
							</div>
							<div class="filter__item">
								<div class="filter__head">Стиль</div>
								<div class="filter__content">
									<div class="filter__check-items">
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for4">
											<label for="for4">Классический</label>
											<span class="filter__count-item">[73]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for5">
											<label for="for5">Современный</label>
											<span class="filter__count-item">[1028]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for6">
											<label for="for6">Лофт</label>
											<span class="filter__count-item">[153]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for7">
											<label for="for7">Реплики Eames</label>
											<span class="filter__count-item">[60]</span>
										</div>
									</div>
								</div>
							</div>
							<div class="filter__item">
								<div class="filter__head">Страна производитель</div>
								<div class="filter__content">
									<div class="filter__check-items">
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for8">
											<label for="for8">Италия</label>
											<span class="filter__count-item">[8]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for9">
											<label for="for9">Китай</label>
											<span class="filter__count-item">[585]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for10">
											<label for="for10">Малайзия</label>
											<span class="filter__count-item">[134]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for11">
											<label for="for11">Турция</label>
											<span class="filter__count-item">[43]</span>
										</div>
										<div class="filter__check-item">
											<input type="checkbox" name="" id="for12">
											<label for="for12">Украина</label>
											<span class="filter__count-item">[220]</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="filter__sort filter-sort">
						<div class="filter-sort__select-block">
							<div class="filter-sort__heading">Сортировать:</div>
							<select name="" id="" class="filter-sort__select select">
								<option value="">Популярные</option>
								<option value="">От дешевых к дорогим</option>
							</select>
						</div>

						<div class="filter-sort__items-block">
							<div class="filter-sort__items">
								<div class="filter-sort__item">
									<div class="filter-sort__item-text">от <span> 476</span> – до <span>19 440</span> грн<div class="filter-sort__item-del"></div></div>
								</div>
								<div class="filter-sort__item">
									<div class="filter-sort__item-text">белый<div class="filter-sort__item-del"></div></div>
								</div>
								<div class="filter-sort__item">
									<div class="filter-sort__item-text">лофт<div class="filter-sort__item-del"></div></div>
								</div>
								<div class="filter-sort__item filter-sort__item-delete">
									<div class="filter-sort__item-text">Очистить все<div class="filter-sort__item-del"></div></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="categories-goods__items">
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="categories-goods__item">
							<div class="categories-goods__information">
								<div class="categories-goods__label green">Супер цена</div>
								<div class="categories-goods__delivery"></div>
								<div class="categories-goods__credit"></div>
								<div class="categories-goods__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="categories-goods__rating"><img src="img/svg/icon-rating.svg" alt=""></div>
							</div>
							<div class="categories-goods__price">
								<div class="categories-goods__link"><a href="#">Стол Edge Octopus (Эдж Октопус) дуб – 211544 </a></div>
								<div class="categories-goods__price-block">
									<div class="categories-goods__old-price">
										<div class="categories-goods__discount">-3001</div>
										<div class="categories-goods__before-discount">18000</div>
									</div>
									<div class="categories-goods__new-price">14999<span> грн</span></div>
								</div>
								<div class="categories-goods__actions">
									<div class="categories-goods__wish"></div>
									<div class="categories-goods__compare"></div>
									<div class="categories-goods__buy"><span>купить</span></div>
								</div>
								<div class="categories-goods__colors-block">
									<div class="categories-goods__colors">
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
										<div class="categories-goods__color">
											<div class="categories-goods__color-img"><img src="img/svg/bg-item-product.svg" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- end search-no-result -->

		<!-- pagination -->
		<section class="pagination search-result">
			<div class="wrapper">
				<div class="pagination__block">
					<ul class="pagination__items">
						<!-- <li class="pagination__item pagination__prev"><a href=""></a></li> -->
						<li class="pagination__item active"><a href="">1</a></li>
						<li class="pagination__item"><a href="">2</a></li>
						<li class="pagination__item"><a href="">3</a></li>
						<li class="pagination__item"><a href="">4</a></li>
						<li class="pagination__item"><a href="">5</a></li>
						<li class="pagination__item"><a href="">...</a></li>
						<li class="pagination__item"><a href="">40</a></li>
						<li class="pagination__item pagination__next"><a href=""></a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- end	pagination -->