
		<!-- seo -->
		<section class="seo">
			<div class="wrapper">
				<h1 class="seo__head h1">Ваш интерьер заслужил красивую, качественную мебель</h1>
				<div class="seo__block">
					<div class="seo__inf">
						<div class="seo__description">
							<p>Табуретка и обеденный стол, зеркало и этажерка — в интерьере дома не бывает ничего лишнего или того, от чего можно было бы легко отказаться. Офис, ресторан, кафе, бар тем более не терпят недостачи мебели. </p>
						</div>
					</div>
					<div class="seo__image"><img src="img/SEO-img.jpg" alt=""></div>
				</div>
				<div class="seo__information">
					<p>Если говорить о разделах, с которыми ассоциируется обстановка помещения, то это:</p>
					<ul>
						<li>столовая — кухонные столы и опоры для них, обеденные комплекты, кухонные и барные стулья, табуреты и скамьи; </li>
						<li>гостиная — кресла, этажерки и полки, журнальные столы; </li>
						<li>спальня — туалетные столики, кровати, зеркала, пуфы, гардеробы, тумбы, комоды и комплекты;</li>
						<li>офисная мебель – офисные кресла, стулья, письменные столы и каркасы под них. </li>
					</ul>
					<p>Также в каталоге нашего интернет-магазина можно отдельно найти разделы со столами и стульями, мягкой мебелью и матрасами.</p>

					<h3>ФешеМебельный — изучение каталога как приятный досуг</h3>
					<p>Если вы когда-либо покупали мебель в салоне или делали онлайн-заказ через интернет, то знаете, что определенный стиль интерьера задает дизайн мебели и часто диктует, из какого материала она будет изготовлена. Утонченная классика и современная практичность, лаконичный лофт и простой, но надежный, кантри – все это, а также отдельные нишевые дизайнерские решения в мебели вы найдете в продаже на сайте нашего интернет-магазина. </p>
				</div>
			</div>
		</section>
		<!-- end seo -->