
		<!-- were-see -->
		<section class="promotions were-see">
			<div class="wrapper">
				<div class="row">
					<h1 class="promotions__head h1">Вы смотрели товары</h1>
					<div class="promotions__slider">
						<div class="promotions__slide">
							<div class="promotions__information">
								<div class="promotions__label green">Супер цена</div>
								<div class="promotions__delivery-fitting">
									<div class="promotions__delivery"></div>
								</div>
								<div class="promotions__credit"></div>
								<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="promotions__rating-block">
									<div class="promotions__rating"></div>
								</div>
							</div>
							<div class="promotions__price">
								<div class="promotions__link"><a href="#">Стол Edge</a></div>
								<div class="promotions__price-block">
									<div class="promotions__old-price">
										<div class="promotions__discount">-3001</div>
										<div class="promotions__before-discount">18000</div>
									</div>
									<div class="promotions__new-price">14999<span> грн</span></div>
								</div>
								<div class="promotions__actions">
									<div class="promotions__wish"></div>
									<div class="promotions__compare"></div>
									<div class="promotions__buy"><span>купить</span></div>
								</div>
							</div>
						</div>
						<div class="promotions__slide">
							<div class="promotions__information">
								<div class="promotions__label green">Супер цена</div>
								<div class="promotions__delivery-fitting">
									<div class="promotions__delivery"></div>
								</div>
								<div class="promotions__credit"></div>
								<div class="promotions__image"><a href=""><img src="img/promotions/img1.jpg" alt=""></a></div>
								<div class="promotions__rating-block">
									<div class="promotions__rating"></div>
								</div>
							</div>
							<div class="promotions__price">
								<div class="promotions__link"><a href="#">Стол Edge</a></div>
								<div class="promotions__price-block">
									<div class="promotions__old-price">
										<div class="promotions__discount">-3001</div>
										<div class="promotions__before-discount">18000</div>
									</div>
									<div class="promotions__new-price">14999<span> грн</span></div>
								</div>
								<div class="promotions__actions">
									<div class="promotions__wish"></div>
									<div class="promotions__compare"></div>
									<div class="promotions__buy"><span>купить</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end	were-see -->