@media(min-width: 1024px) {
		#menu {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
}




@media (min-width: 1026px) and (max-width: 1355px) {
	#menu .nav > li > a {
		font-size: 18px;
	}

	/* #search {
		width: 283px;
	} */

	.order-call-btn a {
    font-size: 13px !important;
    font-weight: normal;
}

.order-call p {
    font-size: 13px !important;
}

.phones {
    font-size: 14px !important;
}

#search .btn-lg {
    font-size: 14px;
    line-height: 18px;
	padding:  0;
    background: transparent;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    color: #303030;
    font-weight: bold;
    margin-right: -24px;
    padding-right: 25px;
}

.phones i {
    font-size: 16px;
    margin-right: 5px;
}
}


.collapse.navbar-collapse {
	clear: left;
    position: relative;
    right: 50%;
    text-align: center;
    float: right;
}

#menu .nav > li {
	 position: relative;
    left: 50%;
    float: left;;
}

}

@media(max-width: 1440px) {
	  .bx-wrapper .product-layout {
		width: 384px !important;
	}

// 	.wish-buttons-card {
// 	width: 40%;
// }


// .wish-buttons-card {
// 		width: 100%;
// 	}

.button-cart-p {
    background: url(../image/button-bg.png) no-repeat;
    width: 134px;
    border: none;
    display: inline-block;
    float: none !important; 
    background-color: #eee;
    line-height: 38px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
}
	

	/* .seocmspro_content.blog-content .record_columns .col-md-3{
		width: 50% !important;
	} */

	.order-call-btn a {
		font-size: 17px;
		font-weight: normal;
	}
 
.w100 {
		width: 100%;
		padding-right: 0;
	}
	#cart .dropdown-menu {
		right: 220px;
	}

	.cart-links a  {
		font-size: 12px !important;
	}

	.bx-wrapper {
		max-width: 1140px !important;
	}

	/*   .product-layout {
		width: 384px !important;
	}   */

	.footer-call a,
	.footer-call i {
		font-size: 13px !important;
	}

	 /*  .contacts-md {
	  	width: 100% !important;
	   } */

	/*  // .contacts-md-wrap {
	 // 	width: 25% !important;
	 // }
 */
	.cart-sm {
		width: 33.3%;
	}

	.order-call p {
		font-size: 11px;
	}

	.phones {
		font-size: 18px;
	}

	.footer-phones {
		font-size: 15px !important;
		text-align: left;
	}

	.map-phones span {
		display: block;
		margin-bottom: 15px;
	}

	.map-group-phones {
		margin-bottom: 0;
	}

	.wish-buttons-card button {
		font-size: 13px !important;
	}

	.contacts-md-wrap {
	text-align: center;
}
}

@media(max-width: 1024px) {



	input.search-input {
    width: 100%;
	}

	ul.ascp_list_info li {
		padding-left: 0 !important;
	}


	#cart .dropdown-menu {
    right: 60px;
}

	.checkout-wrap {
		font-size: 14px;
	}

	 .bx-wrapper .product-layout {
/*		width: 420px !important;*/
		width: 260px !important;
		margin-left: -40px !important;
		padding-right: 40px !important;
		
	}  

	.wish-buttons-card button {
		font-size: 12px !important;
	}

	.wish-buttons-card button {
		width: auto !important;
	}

	.button-cart-p  {
		width: 134px !important;
		height: 42px;
	}


#button-cart {
	margin-bottom: 10px;
}
	/* .product-info-wrap,
	.product-info-wrap-1 {
		width: 100%;
	} */

	

	.soc-icons ul .soc-ico:first-child,
	.soc-icons ul .soc-ico:nth-child(2) {
		margin-bottom: 10px;
	}



	.footer-phones {
		text-align: center;
	}

	.footer-mail {
		padding-top: 0;
	}

.contacts-md {
	width: 100%;
}

/* .product-layout {
	width: 430px !important;
} */

	.bx-wrapper {
		max-width: 830px !important;
	}

	#menu .nav > li > a {
		font-size: 18px;
	}

}

@media(max-width: 769px) {
	#menu .nav > li {
		width: 100%;
		text-align: left;
	}

		.seocmspro_content.blog-content .record_columns .col-md-3{
		width: 100% !important;
	}

	.bx-wrapper .product-layout {
/*    width: 430px !important;*/
    width: 230px !important;
	}

	.pr {
		text-align: left;
	}

	.bx-wrapper {
/*width: 420px !important;*/
		width: 220px !important;
	}

	.tc-sm,
	.best-sales {
		text-align: center;
	}

	.radio-card-wrap,
	.radio-card-wrap label,
	.radio-card {
		width: 100%;
	}

	.upload-file-button {
		margin-left: 15px;
	}

	/* .fa.fa-upload {
		display: none;
	} */
	.record_columns .column_width_ {
		width: 49% !important;
		margin-bottom: 30px;
	}

	#cart .dropdown-menu {
		min-width: 200px;
		right: 100px;
	}

	.fr {
		margin-right: 67px;
	}

	.fl {
		margin-left: 42px;
	}

	.bigger-p {
		width: 58.33333333%;
		float: left;
	}

	.smaller-p {
		width: 41.66666667%;
		float: right;
	} 

	#button-cart {
		margin-bottom: 10px;
	}
}

@media(max-width: 992px) {
	.contacts-md-wrap {
		text-align: left;
		float: left;
	}

	.contacts-wrap {
    width: 75%;
    float: right;
}



.cart-sm {
	float: right;
	/*width: 48%;*/
}

.left-sidebar {
	display: none;
}

#slideshow0 {display: none !important;}
}

/* @media(min-width: 1990px) {
	.contacts-wrap {
		padding-top: 50px;
	}
} */

@media(max-width: 435px) {
	.cart-sm {
		width: 100%;
	}

	#logo img {
		margin: 0 auto 20px auto;
	}

	button.button-cart-p {
    right: 0px;
    position: relative;
}
.wish-buttons-card button {
	font-size: 12px !important;
}
	.bx-wrapper .bx-prev {
		left: 10px;
	}

	.product-thumb .button-group {
		padding: 15px;
	}

	.bx-wrapper .bx-next {
		right: -15px;
	}

	.bx-wrapper {
		width: 340px !important;
	}

	.product-layout {
		width: 340px !important;
	}
.product-reviews {
	width: 100%;
    display: inline-block;
    border-bottom: none;
}

.smaller-p {
	float: none;
	width: 100%
}

.bigger-p {
	float: none;
	width: 100%;
}

h3.related-goods, .combo-title {
	font-size: 20px;
}

.btns-buy {
	text-align: center;
}

	.tab-pane {
		display: none;
	}
.record_columns .column_width_ {
	width: 100% !important;
}

.copyright-footer,
.powered-by-oxis {
	float: none;
	text-align: center;
}
	.sm-c {
		text-align: center;
	}

	.w1002 {
		text-align: center;
	}

.footer-call {
	text-align: center;
}

.contacts-md-wrap {
	width: 100%;
}


.phones,
.order-call {
	text-align: center;
}

	.footer-soc {
		text-align: center;
	}

	#button-cart,
	.in-one-click {
		width: 180px;
	}
	.radio-card-wrap,
	.radio-card-wrap label,
	.radio-card {
		width: 100%;
	}

	.in-one-click {
		margin-left: 0;
	}

	.float-buttons-wrap {
		text-align: center;
	}

	.contacts-md-wrap {
		margin-bottom: 10px;
	}
	.contacts-wrap {
		width: 100%;
	}

	#cart .dropdown-menu {
		right: 10px;
	}

	.fl {
		margin-left: -15px;
	}

	.fr {
		margin-right: 10px;
	}
}


@media(max-width: 375px) {
	.continue-purchases-button {
		width: 295px;
	}

	.fl {
		margin-left: -25px;
	}

	.fr {
		margin-right: -10px;
	}
} 

@media (max-width: 768px) and (min-width: 420px) {
	.cart-sm {
		width: 100%;
		margin-top: 20px;
		float: none;
	}

	#logo img {
		margin: 0 auto;
		margin-bottom: 30px;
	}

	#search .btn-lg {
		padding: 0 85px 0 0;
	}

	.contacts-md {
		z-index: 1000;
	}

	.order-call p:last-child {
		margin: 10px 0 16px 0;
	}
	
}