
/*@media (min-width: 1200px) {
	.container {
	width: 1740px;
}
}*/

/* body {
	font-family: "GothamProMedium", Verdana !important;
} */


.container {
	width: 90%;
}

// .mfilter-slider-slider .ui-slider-range, #mfilter-price-slider .ui-slider-range {
//     background: #91AA45!important;
// }

.caption p:not(.price) {
	display: none;
}

.pr-l-c {
	width: 40%;
}

.tc-sm, 
.best-sales {
	font-family: "GothamProMedium", Verdana;
}
/* .textcatbutton a {
	color: #303030; 
     text-shadow: none;
     background-color: none;
     background-image: none;
     border-color: none; 
} */

.textcatbutton a  {
	color: #303030;
}

 .bx-wrapper .product-layout {
/*	width: 420px;*/
} 

/*#grid-view,
#list-view {
	display: none;
}*/

a:visited {
	text-decoration: none !important;
}

body {
	font-family: "GothamProRegular", Verdana;
	font-weight: 400;
	color: #666;
	/*font-size: 12px;*/
	line-height: 20px;
	width: 100%;
	background: #f2f2f2;
/* 	background-image: url(../image/body-bg.jpg); */
	overflow-x: hidden;
	background-position-x: -50px;

}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 36px;
	padding-bottom: 30px;
	color: #303030;
	text-transform: uppercase;
}
/*#product {
	display: none;
}*/
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.ddwned {
	background: #eaeaea;
	border-right: 1px solid rgba(0,0,0,.15);
    border-left: 1px solid rgba(0,0,0,.15);
}

.nav-tabs {
	margin-bottom: 15px;
}

.float-buttons {
	display: block;
}

.nav.navbar-nav .dropdown-menu:hover{

}

#menu .nav > li {
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
}

.float-buttons-wrap {
	/*float: right;*/
	padding-bottom: 15px;
	text-align: right;
}

.float-buttons button:hover {background: none;}

.float-buttons button {
	background: none;
	text-shadow: none;
	box-shadow: none;
	border: 0;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #303030 !important;
	// background-color: #229ac8;
	// background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	// background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #fff;
	border-bottom: 1px solid #bf8f60;
	padding: 4px 0px 3px 0;
	margin: -20px 0 20px 0;
	min-height: 40px;

}

.mrph {
	margin-right: 5px;
}

#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	/*color: #888;*/
	text-decoration: none;
	color: #303030 !important;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}

.float-menu {
	float: right;
	padding-top: 2px;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
	margin-top: -30px;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	background: transparent;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    color: #303030;
    font-weight: bold;
}



span.close-ddm {
    position: absolute;
    right: -1px;
    top: -1px;
    cursor: pointer;
    background: #e6e6e6;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    color: #303030;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.shopping-cart-dropdown {
	font-size: 18px;
}

#search .btn-lg span{ padding-left: 10px;}

#search .btn-lg:focus {
	outline: none;
}
/* cart */
#cart {
	margin-bottom: 10px;
	background: url();
}

#cart > .btn {
	line-height: 18px;
	color: #FFF;
	background: transparent url(../image/cart-bg.png) no-repeat;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	height: 53px;
	text-transform: uppercase;
	font-size: 18px;
}
#cart > .btn:active {
	box-shadow: none;
}

#cart.open > .btn {
	background: transparent url(../image/cart-bg.png) no-repeat;
	box-shadow: none;
	text-shadow: none;
}
/*#cart.open > .btn:hover {
	color: #444;
}*/
#cart .dropdown-menu {
	z-index: 100000;
}
#cart .dropdown-menu {
	right: 380px;
	/* position: absolute; */
	/* margin: 0 auto; */
	min-width: 800px;
	border-radius: 0;
	border: 0;
	padding: 20px;
}

.dropdown-button-cart {
	position: absolute;
	top: 31px;
	right: 0;
	background: none;
	border: 0;
}

.amount-table-title {
	font-size: 30px;
	font-weight: bold;
	color: #303030;
}

.amount-table-price {
	color: #78971c;
	font-weight: bold;
	font-size: 30px;
}

.continue-purchases-button:hover {color: #fff;}

.continue-purchases-button {
	background: url(../image/continue-purchases-button.png);
	height: 55px;
	width: 330px;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	padding-top: 17px;
}

.dropdown-button-cart:focus {
	outline: none;
}

.table>tbody>tr>td {
	border-top: 0;
}

.checkout-button:hover {color: #fff;}

.checkout-button {
	background: url(../image/checkout-button.png);
	height: 54px;
    width: 272px;
    color: #fff;
    font-size: 25px;
    padding-top: 17px;
    text-align: center;
}


.dropdown-cart-item {
	position: relative;
	padding-top: 35px;
	/*border-bottom: 1px solid #e6e6e6;*/
}


.dropdown-cart-pn {
	color: #303030;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.dropdown-cart-amount {
	color: #303030;
	display: block;
	font-size: 14px;
	float: right;
	padding: 10px 15px;
	border: 1px solid #e6e6e6;
}

.dropdown-cart-price .span{
	color: #78971c;
	font-size: 24px;
}

.fr {
	float: right;
	/* margin-right: 67px; */
}

.fl {
	float: left;
	/* margin-left: 42px; */
}

.dropdown-cart-pn a {
	color: #303030;
}

table {
	background: #fff;
}

.img-thumbnail {
	border-radius: 0;
}

.dropdown-cart-img {
	float: left;
	margin-right: 30px;
}

.layout { 
	background: #000;
	opacity: 0.5;
    height: 1230px;
    width: 1903px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10001;
    display: none;
    transition: 1s linear;
}

@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
    /* padding-top: 5px; */
    min-height: 40px;
    text-align: center;
    margin-bottom: 0;
    border-top: solid 3px #4a4a4a;
    border-bottom: solid 1px #cbcbcb;
    margin-bottom: 10px;
}

/* .collapse.navbar-collapse {
	clear: left;
    position: relative;
    right: 50%;
    text-align: center;
    float: right;
} */

/* #menu .nav {
	position: relative;
    left:50%;
    float:left;
    width: 100%;
} */

/* #menu .nav > li {
	 position: relative;
    left: 50%;
    float: left;;
} */
#menu .nav > li.open {
	border-right: 1px solid rgba(0,0,0,.15);
	border-left: 1px solid rgba(0,0,0,.15);
	background: #eaeaea;
}

.nav.navbar-nav .dropdown-menu {
	border-top: 0;
}
 
#menu .nav > li:hover {
	border-right: 1px solid rgba(0,0,0,.15);
	border-left: 1px solid rgba(0,0,0,.15);
	background: url(../image/body-bg.jpg);
	/* border-bottom: 1px solid #eaeaea; */
}

#menu .nav > li > a {
	text-transform: uppercase;
	font-size: 23px;
}

.category-list ul {
	padding: 0;
	list-style: none;
}

.category-list ul li{
	margin-bottom: 10px;
}


.category-list ul li:first-child,
.category-list ul li:nth-child(4),
.category-list ul li:nth-child(7),
.category-list ul li:nth-child(10),
.category-list ul li:nth-child(13),
.category-list ul li:nth-child(16),
.category-list ul li:nth-child(19) {
	padding-left: 0;
}


.padding-cat-a {
	padding: 10px 20px !important;
	    border-bottom: 1px solid #ccc;
}


.category-list ul li a{
		    background-color: #fff;

	    font-size: 13px;
    text-transform: none;
    line-height: 18px; 
    color: #4a4a4a;
    padding: 0;
    text-align: left;
    display: block;
    float: none;
    margin-top: 0px;
    text-align: center;
    width: auto;
}
}

#slideshow0 {
	display: none !important;
}

.part-banner-1 {
	background: url(../image/banner-item.png);
	height: 600px;
}

.part-banner-2 {
	background: url(../image/banner-item.png);
	height: 600px;
}

// div#product {
// 	display: none;
// }

.sku { padding: 5px 0 5px 13px;}

#menu .nav > li > a {
	color: #6c6c6c;
    padding: 15px;
    min-height: 15px;
    background-color: transparent;
    font-family: "GothamProNarrowMedium";
}
// #menu .nav > li > a:hover {color: #c4ef77; text-shadow: 2px 2px 2px rgba(78, 112, 47, 1);}

/*#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}*/
#menu .dropdown-menu {
	padding-bottom: 0;
	min-width: 600px;
}
#menu .dropdown-inner {
	/* display: table; */
}
#menu .dropdown-inner ul {
	/* display: table-cell; */
	display: inline-block;
    vertical-align: top;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 4px 15px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 4px 15px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #303030 !important;
	// background-color: #229ac8;
	// background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	// background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #303030;	
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	color: #303030;
	// background-color: #229ac8;
	// background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	// background-repeat: repeat-x;
	// border-color: #1f90bb #1f90bb #145e7a;
}

#menu i {
	font-size: 18px;
}

// #menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
// 	color: #ffffff;
// 	background-color: #229ac8;
// }
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background: none;
	}
	#menu .dropdown-inner {
		display: block;
	}


	#menu .dropdown-inner a {
		width: 100%;
		color: #303030;
		font-family: "GothamProMedium";
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #303030;
		font-family: "GothamProMedium";
	}
	.navbar-toggle {
		margin-right: 0;
		margin-top: 6px;
	}

	#menu #category {
		margin-top: -4px;
	}
}


#open-cart-click {
	display: none;
}

#menu .dropdown-inner a,
#menu .see-all {
	font-family: "GothamProMedium";
	color: #303030;
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
/*footer a:hover {
	color: #fff;
}*/
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #303030;
}

.in-stock-product {
	color: #fe8f00;
}

/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e6;
	background-color: transparent;
}
.breadcrumb i {
	font-size: 15px;
}

a.thumbnail:hover {
	border-color: #fe8f00;
}

.product-heading-title {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 10px;
	margin-top: 0;
}


.thumbnail {
	border-radius: 0 !important;
}

.breadcrumb > li {
	padding:0 5px;
	position: relative;
	white-space: nowrap;
	color: #303030;
display: inline-block;
    vertical-align: top;
}
.breadcrumb > li a {
	color: #303030;
	padding-right: 5px;
}

.breadcrumb>li+li:before {
    padding: 0;
    color: #9a9a9a;
    content: "<";
    left: -9px;
    position: absolute;
    font-size: 12px;
}

.fa-home:before {
	content: "Главная";
	font-family: "GothamProRegular";
}


.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	margin-bottom: 20px;
	overflow: auto;
	position: relative;
	background: #fff;
}

.product-thumb-slider:before {
	content: url(../image/thumb-ico.png);
	position: absolute;
	top: -2px;
	left: -1px;
	z-index: 100;
}

.top-sales:before {
	content: url(../image/top-sales.png);
	position: absolute;
	top: -2px;
	left: -1px;
	z-index: 10;
}


.pr {
	padding-top: 7px;

}

.pr .control-label {
		font-size: 18px;
	font-weight: bold;
	color: #303030;
}

.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
/*@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}*/
}
.product-thumb h4 {
	font-weight: bold;
	text-align: center;
	color: #303030;
	font: 14px Arial;
	margin: 25px 0;
}

.product-thumb h4 a {
	color: #303030;
	font-weight: bold;

}
.product-thumb .caption {
	padding: 0 20px;
	// min-height: 180px;
}
/*.product-list .product-thumb .caption {
	margin-left: 230px;
}*/
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
	// text-align: center;
}
.pn {
	padding-left: 0;
}

.product-reviews {
	color: #383838;
	font-size: 14px;
	border-bottom: 2px solid #969597;
	margin-right: 10px;
}

.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #78971c;
	font-size: 15px;

}
.rating .fa-star + .fa-star-o {
	color: #78971c;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #303030;
	font: bold 30px Arial;
	text-align: left;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	display: block;
	font-size: 19px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	/*border-top: 1px solid #ddd;*/
	background-color: #fff;
	overflow: auto;
	padding: 20px;
}
/*.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}*/
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	/*width: 134px;*/
	border: none;
	display: inline-block;
	float: left;
	background-color: #fff;
	color: #888;
	/*line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;*/
}

.product-thumb .button-group button:focus {
	outline: none;
}

/*.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}*/
.product-thumb .button-group button:hover {
	color: #444;
	/*background-color: #ddd;*/
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}


/* My Stylesheet */

#search {
	background: url(../image/search-bg.png) no-repeat;
	height: 52px;
}


.search-input {
	height: 52px;
	background: transparent;
	border: 0;
	font: 18px Arial !important;
	color: #818181;
	padding-left: 20px;
}

.search-input:focus {
	outline: none;
}

.phones i {
	font-size: 20px;
	margin-right: 5px;
}

.phones {
	color: #303030;
	font-size: 24px;
}

.order-call p {
	color: #818181;
	margin: 0;
}

.order-call-btn a {
	font-weight: bold;
}
.order-call p:last-child {
	margin-top: 30px;
	font-size: 18px;
}

.order-call p:last-child > a {
	color: #78971c;
	border-bottom: 2px solid #96ad52;
}

.order-call p:last-child > i {
	font-size: 18px;
	margin-right: 5px;
	color: #78971c;
}

.header-wrap {
	padding: 20px 0;
}


.owl-controls .owl-page.active span {background: #fe8f00 !important;}
.owl-controls .owl-page span {background: #fff !important;}


.wish-list a {
	display: block;
	margin-bottom: 10px;
	font: 18px Arial;
	text-decoration: underline;
}

.wish-list a.bookmark {
	color: #bf8f60;
	font-family: "GothamProMedium";
}

.wish-list a.compare {
	color: #bf8f60;
	font-family: "GothamProMedium";
}

.cart-links {
	background: url(../image/cart-bg.png) no-repeat;
	height: 54px;
	margin-bottom: 20px;
	width: 100%;
}

.cart-span {

}

.cart-links i {
	font-size: 36px;
    position: absolute;
    top: 7px;
    left: 25px;
}

.cart-links a {
	color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 16px;
    margin-left: 55px;
}

.cart-links a.approve-order {
	border-bottom: 2px solid;
    float: right;
    margin: 15px 20px 10px 10px;
}

.language a {
	color: #303030;
}

.active-lang {
	color: #bf8f60 !important;
	font-weight: bold;
}

.button-cart-p span,
 .button-cart-p i{
	font-size: 18px;
}

.button-cart-p { 
	background: url(../image/button-bg.png) no-repeat;
	width: 134px;
	border: none;
	display: inline-block;
	float: right !important;
	background-color: #eee;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff !important; 
}

.button-cart-p:hover {
	background: url(../image/button-hover-bg.png) no-repeat;
}

.wish-buttons-card {
	float: left;
/*	width: 40%;*/
	width: 60%;
	color: #fe8f00;
	font: 14px Arial;
}



.wish-buttons-card button:first-child {
	margin-bottom: 10px;
	color: #bf8f60;
	text-decoration: underline;
	font-size: 14px;
}

.wish-buttons-card button:last-child {
	color: #fe8f00;
	text-decoration: underline;
	font-size: 14px;
}

.button-card-add {
	width: 50%;
	float: right;
}

.first-slider-wrap {
	padding-bottom: 30px;
	border-bottom: 1px solid #dadada;
}


.best-sales {
	border-top: 1px solid #fff;
	margin-top: 0;
    padding-top: 35px;
    padding-left: 5%;
}

footer {
	background: #e6e6e6;
}

.soc-icons i {
	color: #303030;
	font-size: 18px;
}

.soc-icons li {
	display: inline-block;
	border-radius: 50%;
	padding: 5px;
	background: #fff;
}

.soc-icons li a i {
	margin-right: 5px;
}

.varSelectWrap > select {
    border-radius: 0;
    height: 40px;
    border: 1px solid #e6e6e6;
    color: #818181;
    box-shadow: none;
    text-shadow: none;
        background: url(../image/select-arrow.png) no-repeat right 15px center;
    -webkit-appearance: none;
    line-height: 1em;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
}

.varSelectWrap > select:focus {
	box-shadow: none;
	border-color: #e6e6e6;
}

.product-thumb .control-label {
	display: none;
}

.seocmspro_content img {
	width: 100%;
}

.soc-ico {
	display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    padding-top: 7px;
    box-shadow: 5px 6px 7px -4px #846c56;
    margin-right: 8px;
}

/* .footer-mail {
	padding-top: 30px;
} */

.powered-by-oxis {
	color: #303030;
	float: right;
	font-size: 18px;
}

.powered-by-oxis a {
	color: #6b4725;
	text-decoration: underline;
}

.soc-icons ul {
	padding: 0;
}

.copyright-footer {
	color: #303030;
	float: left;
	font-size: 18px;
}

.copyright-footer a {
	color: #fe8f00;
	text-decoration: underline;
}

.owl-controls .owl-page span {
	box-shadow: none !important;
}

footer a {
	color: #303030;
}

.footer-phones {
	font-size: 18px;
	font-weight: bold;
	color: #bf8f60;
}

.footer-info {
	color: #303030;
	font-size: 14px;
}

.footer-info:first-child {
	margin-bottom: 0;
}

.footer-phones .footer-mail a {
	color: #bf8f60;
}

.footer-call a {
	font-weight: bold;
	border-bottom: 2px solid #78971c;
}

.footer-call a,
.footer-call i {
	color: #78971c;
	font-size: 18px;
}

.control-label:before {
	display: none;
}

.footer-phones i,
.footer-call i {
	font-size: 18px;
	padding-right: 5px;
}

.second-phone i {
	padding-right: 9px;
}

.varSelectWrap {
	padding: 10px 0;
}

.left-sidebar .list-group-item {
    color: #303030;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    padding-left: 0;
    border: 1px solid #e6e6e6;
    padding: 11px;
}

.left-sidebar .list-group-item:hover {
	background: none;
}

.left-menu-title {
    color: #fff;
    font-size: 24px;
    background: #fe8f00;
    text-align: center;
    padding-bottom: 0;
    padding: 10px 0;
    font-weight: bold;
    margin-bottom: 0;
}

.owl-arrows-navigation {
	width: 60px;
	height: 60px;
	border: 2px solid #fe8f00;
	border-radius: 50%;
}


.main-slider-div-right {
	padding-left: 6px;
}

.main-slider-div-left {
	padding-right: 6px;
}

.owl-carousel .owl-buttons div {
	opacity: 1 !important;
}

.owl-arrows-navigation {
	text-align: center;
	padding-top: 15px;
}

.owl-controls .owl-buttons .owl-prev {
	top: 42% !important;
	width: 60px;
	height: 60px;
	border: 2px solid #fe8f00;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	background: url(../image/main-slider-arrow-left.png) no-repeat 18px center;
	text-indent: -999999px;
}

.owl-controls .owl-buttons:hover { opacity: .5; }

.owl-controls .owl-buttons .owl-next {
	top: 42% !important;
	width: 60px;
	height: 60px;
	border: 2px solid #fe8f00;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	background: url(../image/main-slider-arrow-right.png) no-repeat 23px center;
	text-indent: -999999px;
}

.owl-carousel .owl-buttons .owl-next {
    /*right: 70px !important;*/
    /*top: 42% !important;*/
}

#slideshow0 {
	background: transparent;
}

.owl-carousel .owl-wrapper-outer {
	box-shadow: none;
	border: 0;
}
.owl-pagination {
	top: -25px !important;
}



/* blog start */

.blog-image,
a.seocms_further {
	float: none !important;
}

a.seocms_further {
	background: none;
	color: #78971c;
	text-shadow: none;
	border: 0;
	font-size: 14px !important;
	padding: 0;
	margin-top: 15px;
	box-shadow: none;
}

a.seocms_further:active:focus {
	color: #78971c;
	background: none;
	border-color: transparent;
}

a.seocms_further:focus {
	background: transparent;
	color: #78971c;
	border-color: transparent;
}

a.seocms_further:active {
	background: none;
	color: #78971c;
	box-shadow: none;
}

a.seocms_further:hover {
	background: none;
	text-shadow: none;
	color: #78971c;
}

.ascp-list-title-widget {
	font-size: 18px !important;
	font-weight: bold !important;
	color: #303030;
}

.record_description {
    color: #303030;

}

.dropdown-cart-title {
	color: #78971c;
	font-size: 30px;
	font-weight: bold;
}

/* blog end */

.old-price-product {
	text-decoration: line-through;
	font-size: 18px;
	color: #818181;
}

.new-price-product {
	color: #78971c;
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
}

.info-li {
	padding-bottom: 10px;
}

.product-bold-sign {
	color: #303030;
	font-weight: bold;
	font-size: 14px;
}

.unbold {
	color: #303030;
	font-size: 14px;
}

.product-info-title {
	position: relative;
	color: #303030;
	font-size: 18px;
	font-weight: bold;
	padding-left: 30px;
}

.product-info-title:before {
	width: 30px;
	height: 30px;
	display: block;
	left: 0;
	position: absolute;
}

.del:before {content: url(../image/info-ico-1.png);}
.inst:before {content: url(../image/info-ico-2.png);}
.pay:before {content: url(../image/info-ico-3.png);}
.guarantee:before {content: url(../image/info-ico-4.png);}
.return:before {content: url(../image/info-ico-5.png);}

.clearpad,
.price-of-installation {
	padding: 0;
	font-size: 14px;
	color: #383838;
}

.nb {
	text-decoration: none !important;
}

.clearpad p {
	margin-bottom: 4px;
}

.clearpad p:first-child {
	text-decoration: underline;
}

.delivery,
.price-of-installation,
.payment {
	padding: 0 10px 25px 10px;
	border-bottom: 1px solid #d3d3d4;
}

.lch {
	border-bottom: none;
}


.radio-card-wrap {
	display: inline-block;
}

.radio-card-wrap label {
	padding-left: 0;
}

.radio-card {
	display: inline-block;
	margin-right: 20px;
	border: 2px solid #e6e6e6;
	padding: 10px 15px;
	width: 100px;
}

.control-label {
	/*display: none;*/
}

.card-input-radio {
	display: none;
}

// .best-sales + .row > .bx-wrapper > .bx-viewport {
// 	min-height: 385px !important;
// }

.card-input-radio:checked + span {
	border-color: #78971c;
}

.form-group > .control-label {
	color: #303030;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0;
	// text-decoration: underline;
	// padding-bottom: 10px;
}
/*
#tab-specification {
	display: none !important;
}


.form-group {
 	margin-bottom: 0 !important;
}
*/

.add-to-wishes {
	color: #fe8f00;
	text-decoration: underline;
}

.add-to-compare {
	color: #bf8f60;
	text-decoration: underline;
}

#button-cart:focus {
	outline: none;
	box-shadow: none;
}

#button-cart {
	background: url(../image/add-to-cart-bg.png);
	height: 40px;
	border: 0;
	color: #fff;
	font-size: 16px;
	width: 240px;
	margin-bottom: 5px;
}

.btns-buy {
    margin-bottom: 20px;
    text-align: right;
}

#button-cart i,
.in-one-click i {
	padding-right: 5px;
	font-size: 16px;
}

.in-one-click:hover {
	color: #fff;
}

.in-one-click {
	background: url(../image/in-one-click-bg.png);
	height: 42px;
	width: 240px;
	display: inline-block;
	text-align: center;
	padding-top: 9px;
	font-size: 16px;
	color: #fff;
/*	margin-left: 30px;*/
}

.radio-image {
	display: inline-block;
	margin-right: 20px;
}

.radio-img {
	display: none;
}

.radio-img:checked + img{
	border: 1px solid #78971c;
}

.radio-image label {
	padding-left: 0;
}

.hidden-descr {
	display: none;
}

.feedback-title {
	font-size: 18px;
    color: #303030;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 12px;
    margin-bottom: 15px;
    width: 100%;
}
.feedback-title i  {
	padding-right: 5px;
}

.list-group-item {
	display: none;
}

.common-home .list-group-item {
	display: block;
}

.visible-menu {
	list-style: none;
	padding-top: 8px;
}

.visible-menu > a {
	display: block;
}

.common-home #column-left {
	width: 100%;
}

.item-block {
	font-size: 24px;
	color: #fe8f00 !important;
	text-transform: uppercase;
	padding-bottom: 20px !important;
	padding-top: 20px !important;
}

.form-group > .control-label {
	/*display: none;*/
}

.visible-menu a {
	background: none !important;
	border: 0 !important;
	text-shadow: none !important
}

.visible-menu .active:not(.item-block) {
	color: #fe8f00;
	text-decoration: underline;
}

// .wish-buttons-card:not(.noaa) {
// 	width: 40%;
// }

.visible-menu a:not(.item-block) {
	color: #303030;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border-radius: 0;
    font-weight: bold;
    border: 1px solid #e6e6e6 !important;
    padding: 11px;
    background: #fff url(../image/aside-menu-arrow.png) no-repeat center right 15px !important;
}

#column-left, #column-right {
    /*border: 1px solid #e6e6e6 !important;*/
    padding: 0;
}

.hhh {display: none;}

select#input-sort,
select#input-limit,
#mfilter-opts-price-min, 
#mfilter-opts-price-max {
    background: #fff;
    /* border: 0; */
    box-shadow: none;
    height: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
}


.mfilter-tb-as-td {
	padding: 8px 0 !important;
}

.mfilter-heading-text > span {
	font-size: 19px;
}

.product-layout.product-grid.col-lg-4.col-md-4.col-sm-6.col-xs-12 + .visible-lg.clearfix { display: none; }

.bordered-title {
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-bottom: 25px;
}

.mfilter-heading {
	background: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border: 0 !important;
	color: #303030;
	font-size: 18px !important;
	font-weight: bold;
}

.mfilter-tb-as-td {
	border: 0 !important;
	position: relative;
	cursor: pointer;
	color: #303030;
	font-size: 18px;
}


.chechbox-styled {
	width: 15px;
	height: 15px;
	background: url(../image/checkbox.png);
	display: block;
/*	position: absolute;
	top: 7px;*/
}



.mfilter-tb-as-td.mfilter-col-input > input{
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}

.mfilter-tb-as-td.mfilter-col-input > input[type="checkbox"]:checked + label:before {
	content: url(../image/checkbox-checked.png);
	position: absolute;
	left: 1px;
	top: 11px;
}

.mfilter-opts-container{border-top: 0 !important;}
.mfilter-content{border: 0 !important;}
.mfilter-col-input {padding-right: 10px !important;}
#mfilter-content-opts-0-2 {max-height: 150px !important;}


.mfilter-input-active > label {
	color: #78971c;
}

.mfilter-heading .mfilter-head-icon {
    display: block;
    float: right !important;
    background: url('images/icons.png?v7') no-repeat 0 -39px;
    /*transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;*/
    width: 17px;
    height: 9px;
    margin-right: 1px !important;
    margin-top: 6px !important;
}

.mfilter-counter {padding: 0 6px !important; margin-right: 5px !important;}

#mfilter-content-container > p {display: none;}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #818181;
    text-decoration: underline;
    background: none;
    font-size: 18px;
    border: 0;
}

.pagination>li>a:hover, .pagination>li>span:hover {
	background: none;
}

.pagination>.active>span {
	background: none;
	color: #303030;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background: none;
	color: #818181;
}
.pagination {
	padding-right: 25px;
}


img.recommended,
img.bestseller {
    position: absolute;
    z-index: 1;
    top: -1px;
}

.product-recommended img.recommended,
.product-recommended img.bestseller{
	left: 15px;
}

h3.related-goods,
.combo-title {
    border-bottom: 3px solid #303030;
    padding: 10px;
    color: #fe8f00;
}

.combo-item-img img {
	width: 250px;
	border: 0;
}

.btn-combo.btn-combo-cart {
	background: url(../image/purchase-complect.png);
	width: 214px;
	height: 41px;
	color: #fff;
	border: 0;
	font-size: 18px;
}

.alert-info {
	background-color: transparent;
	border-color: transparent;
}

.btn-combo.btn-combo-cart:focus { outline: none; }

div#cmswidget-3 h3 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p.about-store {
    color: #303030;
    font-size: 14px;
   /* font-family: Arial;*/
}

// .phones p {
// 	display: inline-block;
// }

// .phones p {
// 	color: #b1b1b1;
// 	font-size: 12px;
// }

// .phones p {
// 	margin: 0;
// }

.visible-menu {
	display: none;
}


.breadcrumb a {
	font-family: "GothamProRegular", verdana;
}

div .about-store:first-child {
	border-top: 1px solid #e6e6e6;
	padding-top: 30px;
}

// .collapse.navbar-collapse.navbar-ex1-collapse {
//     margin-top: 24px;
// }

// #menu .nav > li {
// 	// background: url(../image/border-li.png) no-repeat;
// 	// background-position-y: -5px;
// 	width: 14.2%;
// }


// #menu .nav > li:first-child {background: none;}

.common-home #column-left .list-group-item {
	font-family: "GothamProMedium";
	background: #fff url(../image/aside-menu-arrow.png) no-repeat center right 15px;
}


/* delivery and payment start */

.how-to-pay-title {
	color: #fe8f00;
	font-weight: lighter;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
	z-index: 100;
}

.how-to-pay li,
.cases-of-payment li {
	color: #303030;
	font-size: 14px;
	padding: 5px 0;
}

.how-to-pay {
	display: none;
	padding-left: 20px;
}

.cases-of-payment {
	padding-left: 20px;
}

.cases-of-pay {
	padding-top: 10px;
}

.tabbed label {
	padding: 20px;
	display: block;
	float: left;
	box-sizing: border-box;
	color: #303030;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	margin-bottom: 0;
	top: 1px;
}

.tabbed > input {
	display: none;
	box-sizing: border-box;
}

.tabbed > input:checked + label {
	color: #78971c;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	background: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

label i {
	padding: 3px;
}

.tabs {
	clear: both;
	background: #fff;
}

.tabs > div {
	/*position: absolute;*/
	display: none;
	opacity: 0;
	border: 1px solid #e6e6e6;
	padding: 20px;
	width: 100%;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
	display: block;
	opacity: 1;
}

p.payment-descr-city {
    padding: 5px 0;
}


.prepay {
	color: #303030;
	font-size: 14px;
	padding-top: 15px;
}

.bookmark-i {
	padding-right: 5px;
}

.identity {
	padding-left: 35px;
}

.payment-for-uri,
.payment-for-phys {
	padding: 5px 0;
	color: #303030;
}


.tabs-2 {
	clear: both;
	background: #fff;
}

.tabs-2 > div {
	padding: 20px;
}

.payment-descr-city-kiev,
.payment-descr-kiev {
	padding-left: 20px;
	color: #303030;
	font-size: 14px;
}

.tabbed-2 > input:checked + label {
    color: #78971c;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #fff;
    background: #fff;
    top: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabbed-2 label {
    padding: 20px;
    display: block;
    float: left;
    box-sizing: border-box;
    color: #303030;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
}

i.fa.fa-info-circle {
	margin-left: 5px;
}

.tabbed-2 > input {
    display: none;
}

.delivery-heading {
	margin: 0;
	padding: 30px 0;
}

.tabs-2 > div {
	display: none;
	opacity: 0;
	border: 1px solid #e6e6e6;
	padding: 20px;
	width: 100%;
}

.bx-loading {
	display: none;
}

#tab-nav-1-1:checked ~ .tabs-2 > div:nth-of-type(1),
#tab-nav-2-1:checked ~ .tabs-2 > div:nth-of-type(2) {
	opacity: 1;
	display: block;
}

.help-block {
	display: none !important;
}

.small-k {
	font-size: 12px;
}

/* delivery and payment end */

/* .bx-viewport {
	height: 500px !important;
} */

/* My stylesheet end */

.info-map {
	padding: 35px;
	background: #fff;

}


.address-office p {
	color: #303030;
	font-size: 20px;
}

.address-office p:last-child {
	font-weight: bold;
}

.we-work p {
	font-size: 14px;
	font-weight: lighter;
}

.address-office,
.we-work {
	margin-bottom: 30px;
}

.map-phones {
	margin-bottom: 30px;
}

.map-phones span {
	font-size: 20px;
	color: #303030;
}

.map-group-phones span:first-child {
	margin-right: 30px;
}

.second-g span:last-child {font-weight: bold;}

.cant-call span {
	color: #303030;
	font-size: 14px;
}

.cant-call a {
	color: #fff;
	font-size: 24px;
	background: url(../image/call-me-bg.png);
	width: 286px;
	height: 54px;
	display: inline-block;
	line-height: 54px;
	text-align: center;
	margin-left: 55px;
}

.cant-call {
	margin-bottom: 24px;
}

.map-form {
	color: #303030;
	font-size: 14px;
}

.map-form input,
.map-form textarea {
	width: 100%;
	margin: 10px 0;
}

.map-form input:focus,
.map-form textarea:focus {
	outline: none;
}

.map-form input {
	height: 50px;
	padding-left: 10px;
}

.map-form textarea {
	height: 100px;
	padding-left: 10px;
	padding-top: 10px;
	resize: none;
}

.map-group-phones {
    margin-bottom: 20px;
}

.map-form input[type="submit"] {
	display: inline-block;
	float: right;
	background: url(../image/send-call-bg.png);
	width: 191px;
	height: 54px;
	border: 0;
	color: #fff;
	font-size: 26px;
}

.map-group-phones i {
	font-size: 18px;
}

a.item-block {
    color: #fff !important;
    font-size: 24px;
    background: #fe8f00 !important;
    border-radius: 0 !important;
    padding: 10px 0 !important;
    text-align: center;
}

.checkbox label > input[type="checkbox"] {
	opacity: 0;
}

.checkbox label > input[type="checkbox"]:checked + .checkbox-span {
	color: #fe8f00;
}

.checkbox-styled-2 {
	width: 15px;
    height: 15px;
    border: 1px solid #e6e6e6;
    background: #fff;
    display: block;
    position: absolute;
    top: 3px;
    left: 0px;
}


.checkbox label > input[type="checkbox"]:checked + .checkbox-styled-2:before {
	content: url(../image/checked-box.png);
	position: absolute;
    left: 1px;
    top: 2px;
}

.from-group select.form-control {
	border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    padding-left: 20px;
    background: transparent;
}

#select-product {
	background: red;
}

.form-control {
	height: 40px;
	border-radius: 0;
	background: transparent;
	border: 1px solid #e6e6e6;
	box-shadow: none;
}

.form-control:focus {
	border-color: #e6e6e6;
	box-shadow: none;
}

.upload-file-button {
	background: url(../image/upload-file-background.png);
	width: 240px;
	height: 40px;
	border: 0;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	font-size: 18px;
	margin-left: 20px;
}

.upload-file-button i {
	font-size: 18px;
}

.upload-file-button:focus {
	outline: none;
	color: #333;
	background: url(../image/upload-file-background.png);
	border-color: none;
	box-shadow: none;
	border: 0;

}

.calendar-button {
    height: 40px;
    box-shadow: none;
    border: 0;
    color: #fff;
    background: #fe8f00;
    border-radius: 0;
}

#button-review {
    width: 240px;
    color: #fff;
    height: 40px;
    text-shadow: none;
    border: 0;
    background: url(../image/upload-file-background.png);
    font-size: 18px;
}

.plane-send {
	margin-right: 10px;
	font-size: 18px;
}


label.mfilter-tb-as-td {
    padding-left: 10px;
}

.mfilter-heading-text > span {
    padding-left: 28px !important;
}

.lang-dd a {
    text-transform: uppercase;
    color: #303030;
}

#contact-container .contact-content {
    background-color: #fff !important;
    color: #ddd;
    height: 40px;
    border-radius: 0;
}

#contact-container .contact-top {
	background-color: #fff !important;
	border-radius: 0 !important;
}

#contact-container h1 {
    font-family: arial;
    padding: 10px 0;
    font-size: 14px !important;
    color: #598536 !important;
    text-align: left !important;
    padding-left: 0 !important;
}
#contact-container .q2 {
    margin-bottom: 15px;
    padding: 0 20px !important;
    height: 35px;
    border-radius: 0;
}

#contact-container .contact-error {
    background: none !important;
	border: 0 !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 auto;
    padding: 2px;
    width: 92%;
    font-family: arial;
    color: #598536;
}

.share.floatleft {display: none !important;}

.visible-lg{display: none !important;}

#mfilter-content-container .clearfix.visible-lg {display: none !important;}

.seocmspro_content {
    padding-top: 20px;
}

.articleBody {
	font-family: arial;
}

input#contact-name,
input#contact-phone {
    font-family: arial, sans-serif;
    border: 1px solid #E6E6E6;
    padding: 4px 10px 4px 10px !important;
    width: 100%;
    color: #333333;
    font-size: 14px;
    line-height: 38px;
    height: 40px;
    margin-bottom: 18px;
}

.contact-content .btn-send {
    cursor: pointer;
    padding: 0 20px !important;
    border-radius: 5px;
    margin: 0;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    border: none;
    box-shadow: none;
    background: #235DA5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

#simplemodal-data {
    padding: 13px 19px 19px;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
}

.contact-content {
	padding: 0 !important;
}

#contact-container a.modal-close, #contact-container a.modal-close:link, #contact-container a.modal-close:active, #contact-container a.modal-close:visited {
	top: 5px !important;
}

#simplemodal-data .form-text-2 {
    margin-bottom: 15px !important;
}
#simplemodal-data .form-text {
    color: #818181;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 5px;
    text-align: left;
    font-family: arial;
}

.record_columns .column_width_ {
    /* width: 100%; */
    /* min-width: 100%; */
    width: 24% !important;
    min-width: 24% !important;
}

.addthis_toolbox.addthis_default_style  {
	display: none;
}

.record_columns h2 {
	margin-top: 10px !important;
}

.blog-comments-record,
.blog-data-record,
.blog-viewed-record {

	color: #888 !important;
}


.blog-viewed-record {
	padding-left: 20px !important;
}
.blog-data-record,
.blog-comments-record {
	padding-left: 0!important;
	display: inline-block;
	background: none !important;
}

.blog-viewed-record,
.blog-data-record {
	margin: 5px 0;
}

.blog-small-record .blog-viewed-record,
.blog-small-record .blog-data-record {
	margin: 0;
}

.further-button {
	display: none;
}

h2.ascp-list-title a {
    color: #111;
}

h2.ascp-list-title a:hover {
    text-decoration: underline;
}

/*#simplemodal-overlay,
#simplemodal-container,
.simplemodal-wrap,
#combo-notification
{
	display: none !important;
}
*/
/*.ddclose {
    content: url(../image/close-dropdown-rmx.png);
    position: absolute;
    top: -41px;
    right: -24px;
    cursor: pointer;
    z-index: 1;
}
.d*//*ropdown-cart-title {
	position: relative;
}*/

.dropdown-cart-title:after {
    content: url(../image/close-dropdown-rmx.png);
    position: absolute;
    top: -1px;
    right: -4px;
    z-index: 1;
    cursor: pointer;
}

.nav.navbar-nav .dropdown-menu {
    top: 50px;
    background: url(../image/body-bg.jpg);
    box-shadow: none;
    border-radius: 0;
    left: -1px;
}

.checkout-wrap {
	line-height: 18px;
    color: #FFF;
    background: transparent url(../image/cart-bg.png) no-repeat;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    height: 53px;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    line-height: 53px;
    text-align: center;
}

form#language {
	margin: 0;
}



.top-links-inf ul {
	list-style: none;
	padding: 0;
}

.lang-dd {
	padding-right: 0;
}

.top-links-inf li {
	display: inline-block;
	margin-right: 10px;
}
.top-links-inf li a {
	color: #303030;
	font-size: 14px;
}

.header-list-p {
	list-style: none;
}

.header-list-p li {
	display: inline-block;
	margin-right: 10px;
}

.header-list-p li a {
	color: #bf8f60;
	font-family: "GothamProMedium";
}

.header-list-p li a:hover {
	text-decoration: underline;
}

.checkout-link {
	color: #fff;
}

.checkout-link:hover {
	color: #fff;
}

.cart-span {
	cursor: pointer;
}

.col-20-perc {    width: 24%;
    margin: 0.5% 0.7% 0.5% 0;
    display: inline-block;
    vertical-align: top;}
.imggg {width: 100%;max-height: 300px;}
.padding-cat-a {height:50px;}

.triangle-container {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#triangle-topleft {
	position:relative;	
	float:left; 
	height:	0;
	width:  0;
	border-top: 100px solid red; 
	border-right: 100px solid transparent;			
}
#triangle-topleft-300 {
	position:relative;	
	float:left; 
	height:	0;
	width:  0;
	border-top: 300px solid red; 
	border-right: 300px solid transparent;			
}

.rotatedBlock-100{
	position:relative;	
	float:left; 
	color: #FFF;
	top: -70px;
	left: 0px;	
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* для IE9 */
    transform: rotate(-45deg); /* на будущее */
}
.rotatedBlock-300{
	position:relative;	
	float:left; 
	color: #FFF;
	top: -150px;
	left: 20px;	
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* для IE9 */
    transform: rotate(-45deg); /* на будущее */
}
.font-rotatedBlock-300{
	font-size:	30px; 
	font-weight:bold;
}
.right-right {
	width:	30%;
/*	width:	50%;*/
}}
.left-left {
	width:	70%;
/*	width:	50%;*/
}