@media (min-width:1026px) and (max-width:1355px){.order-call-btn a{font-size:13px !important;font-weight:normal;}
.order-call p{font-size:13px !important;}
.phones{font-size:14px !important;}
.phones i{font-size:16px;margin-right:5px;}
}
@media(max-width:1440px){.bx-wrapper .product-layout{width:384px !important;}
.order-call-btn a{font-size:17px;font-weight:normal;}
.w100{width:100%;padding-right:0;}
#cart .dropdown-menu{right:220px;}
.cart-links a{font-size:12px !important;}
.bx-wrapper{max-width:1140px !important;}
.footer-call a,
.footer-call i{font-size:13px !important;}
.cart-sm{width:33.3%;}
.order-call p{font-size:11px;}
.phones{font-size:18px;}
.map-phones span{display:block;margin-bottom:15px;}
.map-group-phones{margin-bottom:0;}
.contacts-md-wrap{text-align:center;}
}
@media(max-width:1024px){input.search-input{width:100%;}
ul.ascp_list_info li{padding-left:0 !important;}
#cart .dropdown-menu{right:60px;}
.checkout-wrap{font-size:14px;}
.bx-wrapper .product-layout{width:240px;}
#button-cart{margin-bottom:10px;}
.soc-icons ul .soc-ico:first-child,
.soc-icons ul .soc-ico:nth-child(2){margin-bottom:10px;}
.footer-phones{text-align:center;}
.footer-mail{padding-top:0;}
.contacts-md{width:100%;}
.bx-wrapper{max-width:830px !important;}
}
@media(max-width:769px){.seocmspro_content.blog-content .record_columns .col-md-3{width:100% !important;}
.bx-wrapper .product-layout{width:430px !important;}
.pr{text-align:left;}
.bx-wrapper{width:240px !important;}
.tc-sm,
.best-sales{text-align:center;}
.radio-card-wrap,
.radio-card-wrap label,
.radio-card{width:100%;}
.upload-file-button{margin-left:15px;}
.record_columns .column_width_{width:49% !important;margin-bottom:30px;}
#cart .dropdown-menu{min-width:200px;right:100px;}
.fr{margin-right:67px;}
.fl{margin-left:42px;}
.bigger-p{width:58.33333333%;float:right;clear:none !important;}
.smaller-p{width:41.66666667%;float:left;}
#button-cart{margin-bottom:10px;}
#cart .dropdown-cart-link, #cart .checkout-button{text-align:center;margin:7px auto;float:none;display:block;max-width:300px;}

}
@media(max-width:992px){.contacts-md-wrap{text-align:left;float:left;}
.contacts-wrap{width:75%;float:right;}
.cart-sm{float:right;}
.left-sidebar{display:none;}
#slideshow0{display:none !important;}
}
@media(max-width:435px){.cart-sm{width:100%;}
button.button-cart-p{right:0px;position:relative;}
.bx-wrapper .bx-prev{left:10px;}
.bx-wrapper .bx-next{right:-15px;}
.bx-wrapper{width:340px !important;}
.product-reviews{width:100%;display:inline-block;border-bottom:none;}
.smaller-p{float:none;width:100%}
.bigger-p{float:none;width:100%;}
h3.related-goods, .combo-title{font-size:20px;}
.btns-buy{text-align:center;}
.tab-pane{display:none;}
.record_columns .column_width_{width:100% !important;}
.copyright-footer,
.powered-by-oxis{float:none;text-align:center;}
.sm-c{text-align:center;}
.w1002{text-align:center;}
.footer-call{text-align:center;}
.contacts-md-wrap{width:100%;}
.phones,
.order-call{text-align:center;}
.footer-soc{text-align:center;}
#button-cart,
.in-one-click{width:180px;}
.radio-card-wrap,
.radio-card-wrap label,
.radio-card{width:100%;}
.in-one-click{margin-left:0;}
.float-buttons-wrap{text-align:center;}
.contacts-md-wrap{margin-bottom:10px;}
.contacts-wrap{width:100%;}
#cart .dropdown-menu{right:10px;}
.fl{margin-left:-15px;}
.fr{margin-right:10px;}
}
@media(max-width:375px){.continue-purchases-button{width:295px;}
.fl{margin-left:-25px;}
.fr{margin-right:-10px;}
#cart .dropdown-cart-link, #cart .checkout-button{text-align:center;margin:7px auto;float:none;}
}
@media (max-width:768px) and (min-width:240px){.cart-sm{width:100%;margin-top:20px;float:none;}
#search .btn-lg{padding:0 85px 0 0;}
.order-call p:last-child{margin:10px 0 16px 0;}
}
@media(max-width:770px){.header__cart .header__wish-compare,
.common-home .home-promo, .header__schedule,
.top-nav .top-nav__menu-btn, .top-nav .top-nav__profile,
.header__container .header__logo,
.header__container .header__cart, .category-menu,
.mb-header-block .mb-header__cart .checkout-box__text{display:none;}
.top-nav .mb-work-tel, .header__container .mb-menu{display:block;}
.top-nav .top-nav__right{justify-content:space-between;}
header .header__container{padding:0;}
.header__container .mb-menu{background:#fff;}
.header__container .mb-menu .navbar-header{width:70px;text-align:center;}
.header__container .mb-menu .navbar-header .fa-bars{line-height:70px;width:100%;font-size:20px;padding-left:10px;}
header.header{padding:0;}
.mb-header-block{display:block;margin-left:71px;margin-top:-70px;position:relative;}
.mb-header-block .mb-header__logo, .mb-header-block .mb-header__cart,
.mb-header-block .mb-nav__search, .mb-header-block .mb-top-nav__profile{display:inline-block;vertical-align:middle;}
.mb-top-nav__profile .top-nav__profile-link .fa{font-size:20px;}
.mb-header__cart .checkout-box__wrap,
.mb-header__cart .checkout-box__icon{border:0;}
.category-menu.mb-menu .navbar-collapse{position:absolute;width:100%;margin:0;z-index:100;background:rgb(249, 249, 249);}
.mb-header__cart .checkout-box__icon{padding-top:2px;width:40px;}
.mb-header-block .mb-nav__search{width:70% !important;}
.mb-header-block .mb-top-nav__profile{height:68px;padding:26px 17px;}
.category-menu .navbar-nav>li>a{font-size:11px;font-weight:bold;}
.category-menu .navbar-nav>li>a {padding: 0 14px;}
}
@media(max-width:710px){.mb-header-block .mb-nav__search{width:67% !important;}
}
@media(max-width:630px){.mb-header-block .mb-nav__search{width:60% !important;}
.mb-nav__search .search-box{border:0;}
}
@media(max-width:540px){.mb-header-block .mb-nav__search{width:53% !important;}
}
@media(max-width:465px){.mb-header-block .mb-nav__search{width:45% !important;}
.header__container .mb-menu .navbar-header .fa-bars{line-height:48px;}
.header__container .mb-menu .navbar-header{width:48px;}
.mb-header-block .logo__img{width:48px;}
.mb-header-block .mb-top-nav__profile{height:48px;padding:15px 15px;}
.mb-header__cart .checkout-box__wrap{height:48px;}
.mb-header__cart .checkout-box__icon{height:48px;line-height:48px;padding-top:0;}
.mb-header-block{margin-left:49px;margin-top:-51px;}
.mb-header__logo{width:49px;}
.top-nav .top-nav__right .mb-work-tel{font-size:12px;}
#cart .dropdown-menu{width:87vw;right:0;}
.product-layout .form-group .show-more{padding-right:2px;}
}
@media(max-width:375px){.header__cart .dropdown-menu .continue-purchases-button{width:100%;}
}
@media(max-width:340px){.mb-header-block .mb-top-nav__profile{padding:15px 9px;}
}

@media (min-width:435px) and (max-width:720px){
	.bigger-p .btns-buy {
		display: block;
		text-align: left;
	}
	#button-cart {
		display: block;
	}
	#button-review {
		font-size: 10px;
		min-width: 149px;
	}
	#form-review .pull-right {
		float: none !important;
	}
}