body{overflow-x:hidden;}
.container{width:90%;}
.caption p:not(.price){display:none;}
.pr-l-c{width:40%;}
.textcatbutton a{color:#303030;}
.bx-wrapper .product-layout{width:240px;}
.mfilter-tb-as-tr .link-filter{width:100%;height:100%;display:-webkit-inline-box;padding:5px 0;}
.mfilter-tb-as-tr .link-filter-active{width:140%;}
a:visited{text-decoration:none !important;}
body{font-family:"GothamProRegular", Verdana;font-weight:400;color:#666;line-height:20px;width:100%;background:#f2f2f2;overflow-x:hidden;background-position-x:-50px;}
h1, h2, h3, h4, h5, h6{color:#444;}
.fa{font-size:14px;}
h1{font-size:33px;}
h2{font-size:27px;}
h3{font-size:21px;/*padding-bottom:30px;*/color:#303030;/*text-transform:uppercase;*/}
h4{font-size:15px;}
h5{font-size:12px;}
h6{font-size:10.2px;}
a{color:#2D4059;}
a:hover{text-decoration:none;color:#2D4059;}
a:focus{text-decoration:none;color:#2D4059;}
legend{font-size:18px;padding:7px 0px}
label{font-size:12px;font-weight:normal;}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control{font-size:12px;}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover{font-size:12px;}
.input-group .input-group-addon{font-size:12px;height:30px;}
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg{display:inline;}
.nav-tabs{margin-bottom:15px;}
.float-buttons{display:block;}
.float-buttons-wrap{padding-bottom:15px;text-align:right;}
.float-buttons button:hover{background:none;}
.float-buttons button{background:none;text-shadow:none;box-shadow:none;border:0;}
div.required .control-label:before{content:'* ';color:#F00;font-weight:bold;}
#top{background-color:#fff;border-bottom:1px solid #bf8f60;padding:4px 0px 3px 0;margin:-20px 0 20px 0;min-height:40px;}
.mrph{margin-right:5px;}
#top .container{padding:0 20px;}
#top #currency .currency-select{text-align:left;}
#top #currency .currency-select:hover{text-shadow:none;color:#ffffff;background-color:#229ac8;background-image:linear-gradient(to bottom, #23a1d1, #1f90bb);background-repeat:repeat-x;}
#top .btn-link, #top-links li, #top-links a{text-decoration:none;color:#303030 !important;}
#top .btn-link:hover, #top-links a:hover{color:#444;}
.float-menu{float:right;padding-top:2px;}
#top-links .dropdown-menu a{text-shadow:none;}
#top-links .dropdown-menu a:hover{color:#FFF;}
#top .btn-link strong{font-size:14px;line-height:14px;}
#top-links{padding-top:6px;}
#top-links a + a{margin-left:15px;}
span.close-ddm{position:absolute;right:0px;top:0px;cursor:pointer;background:#2D4059;width:30px;height:30px;text-align:center;padding-top:4px;color:#303030;-webkit-transition:opacity 0.2s ease;transition:opacity 0.2s ease;}
span.close-ddm svg path{fill:#fff;}
.shopping-cart-dropdown{font-size:18px;}
#cart > .btn{line-height:18px;color:#FFF;background:transparent url(../image/cart-bg.png?v=1.0) no-repeat;border:0;box-shadow:none;text-shadow:none;height:53px;text-transform:uppercase;font-size:18px;}
#cart > .btn:active{box-shadow:none;}
#cart.open > .btn{background:transparent url(../image/cart-bg.png?v=1.0) no-repeat;box-shadow:none;text-shadow:none;}
#cart .dropdown-menu{z-index:100000;}
#cart .dropdown-menu{right:380px;min-width:800px;border-radius:0;border:0;padding:20px;}
.dropdown-cart-item{border-bottom:1px solid #f9f9f9;overflow:hidden;padding-bottom:10px;}
.dropdown-button-cart{position:absolute;top:31px;right:0;background:none;border:0;}
.table>tbody>tr>td.amount-table-title{font-size:22px;font-weight:bold;color:#303030;padding:10px 0;}
.table>tbody>tr>td.amount-table-price{color:#ffd460;font-weight:bold;font-size:22px;padding:10px 0;}
.dropdown-cart-link:not(:first-child){margin-left:10px;}
.continue-purchases-button:hover{color:#fff;}
.dropdown-button-cart:focus{outline:none;}
.table>tbody>tr>td{border-top:0;}
.dropdown-cart-item{position:relative;padding-top:35px;}
.dropdown-cart-pn{color:#303030;font-size:14px;text-transform:uppercase;margin-bottom:10px;}
.dropdown-cart-amount{color:#303030;display:block;font-size:14px;float:right;padding:10px 15px;border:1px solid #e6e6e6;}
.dropdown-cart-price .span{color:#ffd460;font-size:24px;}
.btn-primary{cursor:pointer;}
.span-signs{cursor:pointer;color:#303030;display:block;font-size:14px;float:right;padding:10px 15px;border:1px solid #e6e6e6;}
.fr{float:right;}
.fl{float:left;}
.dropdown-cart-pn a{color:#303030;}
table{background:#fff;}
.img-thumbnail{border-radius:0;}
.dropdown-cart-img{float:left;margin-right:30px;}
.layout{background:#000;opacity:0.5;height:1230px;width:1903px;position:fixed;left:0px;top:0px;z-index:10001;display:none;transition:1s linear;}
@media (max-width:478px){#cart .dropdown-menu{width:100%;}
}
#cart .dropdown-menu table{margin-bottom:10px;}
#cart .dropdown-menu li > div{min-width:427px;padding:0 10px;}
@media (max-width:478px){#cart .dropdown-menu li > div{min-width:100%;}
}
#cart .dropdown-menu li p{margin:20px 0;}
.padding-cat-a{padding:10px 20px !important;border-bottom:1px solid #ccc;}
.category-list ul li a{background-color:#fff;font-size:13px;text-transform:none;line-height:18px;color:#4a4a4a;padding:0;text-align:left;display:block;float:none;margin-top:0px;text-align:center;width:auto;}
}
#slideshow0{display:none !important;}
.part-banner-1{background:url(../image/banner-item.png?v=1.0);height:600px;}
.part-banner-2{background:url(../image/banner-item.png?v=1.0);height:600px;}
//div#product{//display:none;//}
.sku{padding:5px 0 5px 13px;}
#menu .dropdown-menu{padding-bottom:0;min-width:400px;}
#menu .dropdown-inner{}
#menu .dropdown-inner ul{display:inline-block;vertical-align:top;}
#menu .dropdown-inner a{min-width:160px;display:block;padding:4px 15px;clear:both;line-height:20px;color:#333333;font-size:12px;}
#menu .dropdown-inner li a:hover{opacity:0.5;}
#menu .see-all{display:block;margin-top:0.5em;border-top:1px solid #f8f8f8;padding:4px 15px;font-size:12px;}
#menu .see-all:hover{opacity:0.5;}
@media (min-width:770px){#menu .dropdown:hover .dropdown-menu{display:block;}
}
@media (max-width:767px){#menu{border-radius:4px;}
#menu div.dropdown-inner > ul.list-unstyled{display:block;}
#menu div.dropdown-menu{margin-left:0 !important;padding-bottom:10px;background:none;}
#menu .dropdown-inner{display:block;}
#menu .dropdown-inner a{width:100%;color:#303030;font-family:"GothamProMedium";}
#menu .dropdown-menu a:hover,
#menu .dropdown-menu ul li a:hover{background:rgba(0, 0, 0, 0.1);}
#menu .see-all{margin-top:0;border:none;border-radius:0;color:#303030;font-family:"GothamProMedium";}
}
#open-cart-click{display:none;}
#content{min-height:600px;}
.in-stock-product{color:#ffd460;}
.alert{padding:8px 14px 8px 14px;}
.breadcrumb{margin:0 0 20px;padding:10px 0;border-bottom:1px solid #e6e6e6;background-color:transparent;}
.breadcrumb i{font-size:9px;}
a.thumbnail:hover{border-color:#ffd460;}
.product-heading-title{border-bottom:1px solid #e6e6e6;padding-bottom:10px;margin-top:0;}
.thumbnail{border-radius:0 !important;}
.display-none{display:none;}
.breadcrumb{width:100%!important;padding:5px 0 6px;border-bottom:0;border-radius:0;font-size:9px;text-transform:uppercase;position:relative;}
.row > .breadcrumb{padding-left:15px;padding-right:15px;}
.breadcrumb:after{content:"";position:absolute;left:50%;bottom:0;width:100vw;height:1px;background:#f8f8f8;transform:translateX(-50%);}
.breadcrumb > li{padding:0 5px;position:relative;white-space:nowrap;color:#2D4059;display:inline-block;vertical-align:top;}
.breadcrumb > li:first-child{padding-left:0;}
.breadcrumb > li a{padding-right:5px;}
.breadcrumb>li+li:before{padding:0;color:#2D4059;content:">";left:-7px;position:absolute;font-size:9px;}
[lang="ru"] .fa-home:before{content:"Главная";font-family:"GothamProRegular";}
[lang="uk"] .fa-home:before{content:"Головна";font-family:"GothamProRegular";}
.pagination{margin:0;}
.buttons{margin:1em 0;}
.btn{padding:7.5px 12px;font-size:12px;}
.btn-xs{font-size:9px;}
.btn-sm{font-size:10.2px;}
.btn-lg{padding:10px 16px;font-size:15px;}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover{font-size:12px;}
.btn-group > .btn-xs{font-size:9px;}
.btn-group > .btn-sm{font-size:10.2px;}
.btn-group > .btn-lg{font-size:15px;}
.btn-default,
.btn-primary,
.btn-danger,
.btn-warning,
.btn-success,
.btn-info{color:#2D4059;background-color:transparent;border:2px solid #2D4059;border-radius:0;display:inline-block;padding:10px 20px;text-transform:uppercase;letter-spacing:0.3px;}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus, .btn-default.active, .btn-default.disabled, .btn-default[disabled],
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled],
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled],
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled],
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled]{background:#2D4059;color:#f9f9f9;border-color:#2D4059;}
.btn-link{border-color:rgba(0, 0, 0, 0);cursor:pointer;color:#23A1D1;border-radius:0;}
.btn-link, .btn-link:active, .btn-link[disabled]{background-color:rgba(0, 0, 0, 0);background-image:none;box-shadow:none;}
.btn-inverse{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;border-color:#222222 #222222 #000000;}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled]{background-color:#222222;background-image:linear-gradient(to bottom, #333333, #111111);}
.list-group a{border:1px solid #DDDDDD;color:#888888;padding:8px 12px;}
.list-group a.active, .list-group a.active:hover, .list-group a:hover{color:#444444;background:#f8f8f8eee;border:1px solid #DDDDDD;text-shadow:0 1px 0 #FFF;}
.carousel-caption{color:#FFFFFF;text-shadow:0 1px 0 #000000;}
.carousel-control .icon-prev:before{content:'\f053';font-family:FontAwesome;}
.carousel-control .icon-next:before{content:'\f054';font-family:FontAwesome;}
.super-price:before{content:url(../image/thumb-ico.png?v=1.0);position:absolute;top:-2px;left:-1px;z-index:100;}
.top-sales:before{content:url(../image/top-sales.png?v=1.0);position:absolute;top:-2px;left:-1px;z-index:10;width:200px;}
.pr{padding-top:7px;}
.pr .control-label{font-size:18px;font-weight:bold;color:#303030;}
.product-thumb .rating{padding-bottom:10px;}
.pn{padding-left:0;}
.product-reviews{color:#383838;font-size:14px;border-bottom:2px solid #969597;margin-right:10px;}
.rating .fa-stack{font-size:8px;}
.rating .fa-star-o{color:#999;font-size:15px;}
.rating .fa-star{color:#ffd460;font-size:15px;}
.rating .fa-star + .fa-star-o{color:#ffd460;}
h2.price{margin:0;}
.product-thumb .price{font-size:24px;text-align:left;}
.product-thumb .price-new{font-weight:600;}
.product-thumb .price-old{color:#999;text-decoration:line-through;display:block;font-size:19px;}
.product-thumb .price-tax{color:#999;font-size:12px;display:block;}
.thumbnails{overflow:auto;clear:both;list-style:none;padding:0;margin:0;}
.thumbnails > li{margin-left:20px;}
.thumbnails{margin-left:-20px;}
.thumbnails > img{width:100%;}
.image-additional a{margin-bottom:20px;padding:5px;display:block;border:1px solid #ddd;outline:none;}
.image-additional{max-width:78px;}
.thumbnails .image-additional{float:left;margin-left:20px;}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{border-color:#ffd460;}
@media (min-width:1200px){#content .col-lg-2:nth-child(6n+1),
#content .col-lg-2:nth-child(6n+1),
#content .col-lg-3:nth-child(4n+1),
#content .col-lg-4:nth-child(3n+1),
#content .col-lg-6:nth-child(2n+1){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){#content .col-md-2:nth-child(6n+1),
#content .col-md-2:nth-child(6n+1),
#content .col-md-3:nth-child(4n+1),
#content .col-md-4:nth-child(3n+1),
#content .col-md-6:nth-child(2n+1){clear:left;}
}
@media (min-width:768px) and (max-width:991px){#content .col-sm-2:nth-child(6n+1),
#content .col-sm-2:nth-child(6n+1),
#content .col-sm-3:nth-child(4n+1),
#content .col-sm-4:nth-child(3n+1),
#content .col-sm-6:nth-child(2n+1){clear:left;}
}
@media (min-width:768px){#column-left .product-layout .col-md-3{width:100%;}
#column-left + #content .product-layout .col-md-3{width:50%;}
#column-left + #content + #column-right .product-layout .col-md-3{width:100%;}
#content + #column-right .product-layout .col-md-3{width:100%;}
}
#column-left .product-layout, #column-right .product-layout{width:100%;}
.input-group .form-control[name^=quantity]{min-width:50px;}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled]{background-image:none;background-color:#df5c39;}
.phones i{font-size:20px;margin-right:5px;}
.phones{color:#303030;font-size:24px;}
.order-call p{color:#818181;margin:0;}
.order-call-btn a{font-weight:bold;}
.order-call p:last-child{margin-top:30px;font-size:18px;}
.order-call p:last-child > a{color:#ffd460;border-bottom:2px solid #96ad52;}
.order-call p:last-child > i{font-size:18px;margin-right:5px;color:#ffd460;}
.header-wrap{padding:20px 0;}
.owl-controls .owl-page.active span{background:#ffd460 !important;}
.owl-controls .owl-page span{background:#fff !important;}
.wish-list a{display:block;margin-bottom:10px;font-size:18px;text-decoration:underline;}
.wish-list a.bookmark{color:#bf8f60;}
.wish-list a.compare{color:#bf8f60;}
.cart-links{background:url(../image/cart-bg.png?v=1.0) no-repeat;height:54px;margin-bottom:20px;width:100%;}
.cart-span{}
.cart-links i{font-size:36px;position:absolute;top:7px;left:25px;}
.cart-links a{color:#fff;font-size:18px;text-transform:uppercase;display:inline-block;margin-top:16px;margin-left:55px;}
.cart-links a.approve-order{border-bottom:2px solid;float:right;margin:15px 20px 10px 10px;}
.language a{color:#303030;}
.active-lang{color:#bf8f60 !important;font-weight:bold;}
.button-card-add{width:50%;float:right;}
.first-slider-wrap{padding-bottom:30px;border-bottom:1px solid #dadada;}
.best-sales{border-top:1px solid #fff;margin-top:0;padding-top:35px;}
.varSelectWrap > select{border-radius:0;height:40px;border:1px solid #e6e6e6;color:#818181;box-shadow:none;text-shadow:none;background:url(../image/select-arrow.png?v=1.0) no-repeat right 15px center;-webkit-appearance:none;line-height:1em;-moz-appearance:none;text-indent:0.01px;text-overflow:'';-ms-appearance:none;appearance:none!important;}
.varSelectWrap > select:focus{box-shadow:none;border-color:#e6e6e6;}
.product-thumb .control-label{display:none;}
.seocmspro_content img{width:100%;}
.owl-controls .owl-page span{box-shadow:none !important;}
.control-label:before{display:none;}
.varSelectWrap{padding:10px 0;}
.left-sidebar .list-group-item{color:#303030;font-size:14px;text-transform:uppercase;background:none;border:0;border-radius:0;font-weight:bold;padding-left:0;border:1px solid #e6e6e6;padding:11px;}
.left-sidebar .list-group-item:hover{background:none;}
.left-menu-title{color:#fff;font-size:24px;background:#ffd460;text-align:center;padding-bottom:0;padding:10px 0;font-weight:bold;margin-bottom:0;}
.owl-arrows-navigation{width:60px;height:60px;border:2px solid #ffd460;border-radius:50%;}
.main-slider-div-right{padding-left:6px;}
.main-slider-div-left{padding-right:6px;}
.owl-carousel .owl-buttons div{opacity:1 !important;}
.owl-arrows-navigation{text-align:center;padding-top:15px;}
.owl-controls .owl-buttons .owl-prev{top:42% !important;width:60px;height:60px;border:2px solid #ffd460;border-radius:50%;text-align:center;padding-top:15px;background:url(../image/main-slider-arrow-left.png?v=1.0) no-repeat 18px center;text-indent:-999999px;}
.owl-controls .owl-buttons:hover{opacity:.5;}
.owl-controls .owl-buttons .owl-next{top:42% !important;width:60px;height:60px;border:2px solid #ffd460;border-radius:50%;text-align:center;padding-top:15px;background:url(../image/main-slider-arrow-right.png?v=1.0) no-repeat 23px center;text-indent:-999999px;}
.owl-carousel .owl-buttons .owl-next{}
#slideshow0{background:transparent;}
.owl-carousel .owl-wrapper-outer{box-shadow:none;border:0;}
.owl-pagination{top:-25px !important;}
.blog-image,
a.seocms_further{float:none !important;}
a.seocms_further{background:none;color:#ffd460;text-shadow:none;border:0;font-size:14px !important;padding:0;margin-top:15px;box-shadow:none;}
a.seocms_further:active:focus{color:#ffd460;background:none;border-color:transparent;}
a.seocms_further:focus{background:transparent;color:#ffd460;border-color:transparent;}
a.seocms_further:active{background:none;color:#ffd460;box-shadow:none;}
a.seocms_further:hover{background:none;text-shadow:none;color:#ffd460;}
.ascp-list-title-widget{font-size:18px !important;font-weight:bold !important;color:#303030;}
.record_description{color:#303030;}
.dropdown-cart-title{font-size:22px;font-weight:bold;color:#2D4059;}
.old-price-product{text-decoration:line-through;font-size:18px;color:#818181;}
.new-price-product{color:#ffd460;font-size:30px;font-weight:bold;margin-top:0;}
.info-li{padding-bottom:10px;}
.product-bold-sign{color:#303030;font-weight:bold;font-size:14px;}
.unbold{color:#303030;font-size:14px;}
.product-info-title{position:relative;color:#303030;font-size:18px;font-weight:bold;padding-left:30px;}
.product-info div:not(:nth-child(1)){border-top:1px solid #e6e6e6;}
.product-info .product-info-return div{border-top:0px;}
.product-info-title:before{width:30px;height:30px;display:block;left:0;position:absolute;}
.clearpad,
.price-of-installation{padding:0;font-size:14px;color:#383838;width:100%;}
.nb{text-decoration:none !important;}
.clearpad p{margin-bottom:4px;}
.clearpad p:first-child{text-decoration:underline;}
.delivery,
.price-of-installation,
.payment{padding:0 10px 25px 10px;border-bottom:1px solid #d3d3d4;}
.table{border-bottom:1px solid #f9f9f9;}
.lch{border-bottom:none;}
.radio-card-wrap{display:inline-block;}
.radio-card-wrap label{padding-left:0;}
.radio-card{display:inline-block;margin-right:20px;border:2px solid #e6e6e6;padding:10px 15px;width:100px;}
.control-label{}
.card-input-radio{display:none;}
//.best-sales + .row > .bx-wrapper > .bx-viewport{//min-height:385px !important;//}
.card-input-radio:checked + span{border-color:#ffd460;}
.form-group > .control-label{color:#303030;font-size:18px;font-weight:bold;padding:5px 0;//text-decoration:underline;//padding-bottom:10px;}
#tab-specification{display:none !important;}
//.form-group{//margin-bottom:0 !important;//}
.add-to-wishes,
.add-to-compare{color:#2D4059;text-transform:uppercase;font-weight:300;font-size:11px;border:0;background-color:transparent;}
#button-cart:focus{outline:none;box-shadow:none;}
#button-cart,
.in-one-click,
#button-review,
.btn-combo{display:inline-block;background-color:transparent;border-radius:0;color:#2D4059;border:2px solid #2D4059;height:45px;min-width:200px;margin:0;vertical-align:top;line-height:45px;padding:0;font-size:14px;text-align:center;text-transform:uppercase;transition:color 0.5s ease, background 0.5s ease;}
#button-cart:hover,
#button-review:hover,
.btn-combo:hover{color:#f9f9f9;background:#2D4059;}
.btns-buy{padding-top:20px;margin-bottom:20px;text-align:right;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-ms-align-items:center;align-items:center;}
.btns-buy .float-buttons-wrap{padding-bottom:0;margin-left:20px;}
#button-cart i,
.in-one-click i{padding-right:5px;font-size:16px;}
.radio-image{display:inline-block;}
.radio-img{display:none;}
.radio-img:checked + img{border:1px solid #ffd460;}
.radio-image label{padding-left:0;}
.hidden-descr{display:none;}
.feedback-title{font-size:14px;text-transform:uppercase;display:inline-block;cursor:pointer;background:#f9f9f9;padding:12px;margin-bottom:15px;width:100%;}
.feedback-title i{float:right;margin-top:2px;}
.list-group-item{display:none;}
.common-home .list-group-item{display:block;}
.visible-menu{list-style:none;padding-top:8px;}
.visible-menu > a{display:block;}
.common-home #column-left{width:100%;}
.item-block{font-size:24px;color:#ffd460 !important;text-transform:uppercase;padding-bottom:20px !important;padding-top:20px !important;}
.form-group > .control-label{}
.visible-menu a{background:none !important;border:0 !important;text-shadow:none !important}
.visible-menu .active:not(.item-block){color:#ffd460;text-decoration:underline;}
//.wish-buttons-card:not(.noaa){//width:40%;//}
.visible-menu a:not(.item-block){color:#303030;font-size:14px;text-transform:uppercase;background:none;border-radius:0;font-weight:bold;border:1px solid #e6e6e6 !important;padding:11px;background:#fff url(../image/aside-menu-arrow.png?v=1.0) no-repeat center right 15px !important;}
#column-left, #column-right{padding:0;}
.hhh{display:none;}
select#input-sort,
select#input-limit,
#mfilter-opts-price-min,
#mfilter-opts-price-max{background:#fff;box-shadow:none;height:30px;border:1px solid #e6e6e6;border-radius:0;}
.product-layout.product-grid.col-lg-4.col-md-4.col-sm-6.col-xs-12 + .visible-lg.clearfix{display:none;}
.bordered-title{text-transform:uppercase;padding-bottom:5px;margin-bottom:25px;}
.mfilter-heading{background:none !important;box-shadow:none !important;text-shadow:none !important;border:0 !important;color:#303030;font-size:18px !important;font-weight:bold;}
.mfilter-opts-container{border-top:0 !important;}
.mfilter-content{border:0 !important;}
.mfilter-col-input{padding:0 10px 0 0 !important;}
#mfilter-content-opts-0-2{max-height:150px !important;}
.mfilter-input-active > label{color:#ffd460;}
.mfilter-tb-as-td.mfilter-col-input{display:none;}
.mfilter-option label{cursor:pointer;}
.mfilter-options .mfilter-counter{background:#ffd460;}
.mfilter-options .mfilter-counter:after{border-right-color:#ffd460;}
.close-filter{background:url(/catalog/view/theme/fm/stylesheet/mf/images/icons.png?v7) 0 0;text-indent:1000px;display:block;width:12px;height:10px;overflow:hidden;margin-top:5px;margin-bottom:5px;margin-left:20px;cursor:pointer;box-sizing:content-box;}
#mfilter-content-container > p{display:none;}
.pagination>li>a, .pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#818181;text-decoration:underline;background:none;font-size:18px;border:0;}
.pagination>li>a:hover, .pagination>li>span:hover{background:none;}
.pagination>.active>span{background:none;color:#303030;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span:focus, .pagination>.active>span:hover{background:none;color:#818181;}
.pagination{padding-right:25px;padding-top:40px;}
img.recommended,
img.bestseller{position:absolute;z-index:1;top:-1px;}
.product-recommended img.recommended,
.product-recommended img.bestseller{left:15px;}
.combo-section{background:#f9f9f9;}
.combo-title{display:block;padding:15px;color:#2D4059;background:#ffd460;font-size:22px;line-height:20px;margin-bottom:0;}
.combo-contain{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;}
.combo-item{max-width:calc(25% - 80px);}
@media (max-width:1100px){.combo .combo-section .combo-set{padding:0;}
.combo-item,
.combo-save{width:100%;max-width:calc(50% - 20px);margin:10px;}
.combo-plus,
.combo-equal{display:none;}
}
@media (max-width:768px){.combo-section .price_discount{font-size:18px;}
.combo-section .combo-save{max-width:100%;padding-top:20px;}
}
.combo-section .combo-plus{padding-left:20px;padding-right:20px;}
.combo-item-img img{width:250px;border:0;}
.btn-combo.btn-combo-cart{padding-left:20px;padding-right:20px;white-space:nowrap;}
.combo-section .combo-item-price,
.combo-section .price-for-complect{color:#ffd46f;}
.combo-section .combo-plus,
.combo-section .combo-equal{color:#2D4059;opacity:0.5;}
.combo-section .price-for-complect{font-size:18px;}
.combo-section .price_discount{font-size:30px;padding:37px 0 15px;}
.combo-section .combo-item-name{font-size:14px;line-height:20px;}
.alert-info{background-color:transparent;border-color:transparent;}
.btn-combo.btn-combo-cart:focus{outline:none;}
div#cmswidget-3 h3{border-bottom:1px solid #e6e6e6;padding-bottom:10px;margin-bottom:20px;}
p.about-store{font-size:12px;line-height:18px;}
p.about-store:last-child{padding-bottom:20px;}
//.phones p{//display:inline-block;//}
//.phones p{//color:#b1b1b1;//font-size:12px;//}
//.phones p{//margin:0;//}
.visible-menu{display:none;}
.breadcrumb a{font-family:"GothamProRegular", verdana;}
div .about-store:first-child{border-top:1px solid #f9f9f9;padding-top:20px;}
//.collapse.navbar-collapse.navbar-ex1-collapse{//margin-top:24px;//}
//#menu .nav > li{////background:url(../image/border-li.png?v=1.0) no-repeat;////background-position-y:-5px;//width:14.2%;//}
//#menu .nav > li:first-child{background:none;}
.common-home #column-left .list-group-item{font-family:"GothamProMedium";background:#fff url(../image/aside-menu-arrow.png?v=1.0) no-repeat center right 15px;}
.how-to-pay-title{font-weight:lighter;font-size:14px;text-decoration:underline;cursor:pointer;z-index:100;}
.how-to-pay li,
.cases-of-payment li{color:#303030;font-size:14px;padding:5px 0;}
.how-to-pay{display:none;padding-left:20px;}
.cases-of-payment{padding-left:20px;}
.cases-of-pay{padding-top:10px;}
.tabbed label{padding:20px;display:block;float:left;box-sizing:border-box;color:#303030;font-size:18px;cursor:pointer;position:relative;margin-bottom:0;top:1px;}
.tabbed > input{display:none;box-sizing:border-box;}
.tabbed > input:checked + label{border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;background:#fff;border-top-left-radius:5px;border-top-right-radius:5px;}
label i{padding:3px;}
.tabs{clear:both;background:#fff;}
.tabs > div{display:none;opacity:0;border:1px solid #e6e6e6;padding:20px;width:100%;}
#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){display:block;opacity:1;}
p.payment-descr-city{padding:5px 0;}
.prepay{color:#303030;font-size:14px;padding-top:15px;}
.bookmark-i{padding-right:5px;}
.identity{padding-left:35px;}
.payment-for-uri,
.payment-for-phys{padding:5px 0;color:#303030;}
.tabs-2{clear:both;background:#fff;}
.tabs-2 > div{padding:20px;}
.payment-descr-city-kiev,
.payment-descr-kiev{padding-left:20px;color:#303030;font-size:14px;}
.tabbed-2 > input:checked + label{border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #fff;background:#fff;top:1px;border-top-left-radius:5px;border-top-right-radius:5px;}
.tabbed-2 label{padding:20px;display:block;float:left;box-sizing:border-box;color:#303030;font-size:18px;cursor:pointer;margin-bottom:0;position:relative;}
i.fa.fa-info-circle{margin-left:5px;}
.tabbed-2 > input{display:none;}
.delivery-heading{margin:0;padding:30px 0;}
.tabs-2 > div{display:none;opacity:0;border:1px solid #e6e6e6;padding:20px;width:100%;}
.bx-loading{display:none;}
#tab-nav-1-1:checked ~ .tabs-2 > div:nth-of-type(1),
#tab-nav-2-1:checked ~ .tabs-2 > div:nth-of-type(2){opacity:1;display:block;}
.help-block{display:none !important;}
.small-k{font-size:12px;}
.info-map{padding:35px;background:#fff;}
.address-office p{color:#303030;font-size:20px;}
.address-office p:last-child{font-weight:bold;}
.we-work p{font-size:14px;font-weight:lighter;}
.address-office,
.we-work{margin-bottom:30px;}
.map-phones{margin-bottom:30px;}
.map-phones span{font-size:20px;color:#303030;}
.map-group-phones span:first-child{margin-right:30px;}
.second-g span:last-child{font-weight:bold;}
.cant-call span{color:#303030;font-size:14px;}
.cant-call a{color:#fff;font-size:24px;background:url(../image/call-me-bg.png?v=1.0);width:286px;height:54px;display:inline-block;line-height:54px;text-align:center;margin-left:55px;}
.cant-call{margin-bottom:24px;}
.map-form{color:#303030;font-size:14px;overflow:hidden;}
.map-form input,
.map-form textarea{width:100%;margin:10px 0;}
.map-form input:focus,
.map-form textarea:focus{outline:none;}
.map-form input{height:50px;padding-left:10px;}
.map-form textarea{height:100px;padding-left:10px;padding-top:10px;resize:none;}
.map-group-phones{margin-bottom:20px;}
.map-group-phones i{font-size:18px;}
a.item-block{color:#fff !important;font-size:24px;background:#ffd460 !important;border-radius:0 !important;padding:10px 0 !important;text-align:center;}
.checkbox label > input[type="checkbox"]{opacity:0;}
.checkbox label > input[type="checkbox"]:checked + .checkbox-span{color:#ffd460;}
.checkbox-styled-2{width:15px;height:15px;border:1px solid #e6e6e6;background:#fff;display:block;position:absolute;top:3px;left:0px;}
.checkbox label > input[type="checkbox"]:checked + .checkbox-styled-2:before{content:url(../image/checked-box.png?v=1.0);position:absolute;left:1px;top:2px;}
.from-group select.form-control{border:1px solid #e6e6e6;border-radius:0;box-shadow:none;height:40px;padding-left:20px;background:transparent;}
#select-product{background:red;}
.form-control{height:40px;border-radius:0;background:transparent;border:1px solid #e6e6e6;box-shadow:none;}
.form-control:focus{border-color:#e6e6e6;box-shadow:none;}
.upload-file-button{background:url(../image/upload-file-background.png?v=1.0);width:240px;height:40px;border:0;color:#fff;text-shadow:none;box-shadow:none;font-size:18px;margin-left:20px;}
.upload-file-button i{font-size:18px;}
.upload-file-button:focus{outline:none;color:#333;background:url(../image/upload-file-background.png?v=1.0);border-color:none;box-shadow:none;border:0;}
.calendar-button{height:40px;box-shadow:none;border:0;color:#fff;background:#ffd460;border-radius:0;}
.plane-send{margin-right:10px;font-size:18px;}
.mfilter-heading-text > span{padding-left:28px !important;}
.lang-dd a{text-transform:uppercase;color:#303030;}
#contact-container .contact-content{background-color:#fff !important;color:#ddd;height:40px;border-radius:0;}
#contact-container .contact-top{background-color:#fff !important;border-radius:0 !important;}
#contact-container h1{padding:10px 0;font-size:14px !important;color:#598536 !important;text-align:left !important;padding-left:0 !important;}
#contact-container .q2{margin-bottom:15px;padding:0 20px !important;height:35px;border-radius:0;}
#contact-container .contact-error{background:none !important;border:0 !important;font-size:15px;font-weight:bold;line-height:18px;margin:0 auto;padding:2px;width:92%;color:#598536;}
.share.floatleft{display:none !important;}
.visible-lg{display:none !important;}
#mfilter-content-container .clearfix.visible-lg{display:none !important;}
.seocmspro_content{padding-top:20px;}
input#contact-name,
input#contact-phone{border:1px solid #E6E6E6;padding:4px 10px 4px 10px !important;width:100%;color:#333333;font-size:14px;line-height:38px;height:40px;margin-bottom:18px;}
.contact-content .btn-send{cursor:pointer;padding:0 20px !important;border-radius:5px;margin:0;height:40px;color:#fff;text-align:center;line-height:40px;font-weight:400;border:none;box-shadow:none;background:#235DA5;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#FFF;font-size:14px;font-weight:400;text-transform:uppercase;}
#simplemodal-data{padding:13px 19px 19px;background-color:#ffffff;border:1px solid #E6E6E6;}
.contact-content{padding:0 !important;}
#contact-container a.modal-close, #contact-container a.modal-close:link, #contact-container a.modal-close:active, #contact-container a.modal-close:visited{top:5px !important;}
#simplemodal-data .form-text-2{margin-bottom:15px !important;}
#simplemodal-data .form-text{color:#818181;line-height:18px;font-size:12px;font-weight:400;margin:0 0 5px;text-align:left;}
.record_columns .column_width_{width:24% !important;min-width:24% !important;}
.addthis_toolbox.addthis_default_style{display:none;}
.record_columns h2{margin-top:10px !important;}
.blog-comments-record,
.blog-data-record,
.blog-viewed-record{color:#888 !important;}
.blog-viewed-record{padding-left:20px !important;}
.blog-data-record,
.blog-comments-record{padding-left:0!important;display:inline-block;background:none !important;}
.blog-viewed-record,
.blog-data-record{margin:5px 0;}
.blog-small-record .blog-viewed-record,
.blog-small-record .blog-data-record{margin:0;}
.further-button{display:none;}
h2.ascp-list-title a{color:#111;}
h2.ascp-list-title a:hover{text-decoration:underline;}
form#language{margin:0;}
.top-links-inf ul{list-style:none;padding:0;}
.lang-dd{padding-right:0;}
.top-links-inf li{display:inline-block;margin-right:10px;}
.top-links-inf li a{color:#303030;font-size:14px;}
.header-list-p{list-style:none;}
.header-list-p li{display:inline-block;margin-right:10px;}
.header-list-p li a{color:#bf8f60;font-family:"GothamProMedium";}
.header-list-p li a:hover{text-decoration:underline;}
.cart-span{cursor:pointer;}
.col-20-perc{width:24%;margin:0.5% 0.7% 0.5% 0;display:inline-block;vertical-align:top;}
.imggg{width:100%;max-height:300px;}
.padding-cat-a{height:50px;}
.triangle-container{-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
#triangle-topleft{position:relative;float:left;height:0;width:0;border-top:100px solid red;border-right:100px solid transparent;}
#triangle-topleft-300{position:relative;float:left;height:0;width:0;border-top:300px solid red;border-right:300px solid transparent;}
.rotatedBlock-100{position:relative;float:left;color:#FFF;top:-70px;left:0px;-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.rotatedBlock-300{position:relative;float:left;color:#FFF;top:-150px;left:20px;-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.font-rotatedBlock-300{font-size:30px;font-weight:bold;}
.right-right{width:50%;}
.left-left{width:50%;}
.product-info-guarantee{}
.price-of-installation{}
}

.content_bottom{padding:20px;text-indent:20px;}
iframe{max-width:100%;}
.header-banner{background-color:#1C294C;}
.header-banner .banner-img{max-width:1600px;width:100%;min-height:20px;padding:0;}
.header-banner .banner-img img{width:100%;}
.header-banner .banner-img.w768, .header-banner .banner-img.w320{display:none;}
@media (max-width:770px){.header-banner .banner-img.w1024, .header-banner .banner-img.w320{display:none;}
.header-banner .banner-img.w768{display:block;}
}
@media (max-width:320px){.header-banner .banner-img.w1024, .header-banner .banner-img.w768{display:none;}
.header-banner .banner-img.w320{display:block;}
}
.product-layout .select-colors{height:32px;overflow:hidden;margin-right:35px;}
.product-layout .select-colors .radio:first-child{margin-top:0;}
.product-layout .form-group .show-more{float:right;font-size:12px;padding-right:11px;margin-top:-25px;}
.product-layout .form-group .show-more:hover{text-decoration:underline;}
.top-nav .mb-work-tel{display:none;margin-bottom:0;}
.header__container .mb-menu, .mb-header-block{display:none;}
.header__container .mb-menu #mb-menu{margin-bottom:0;}
.mb-header-block .logo__img{width:70px;height:auto;}
.mb-header__logo{width:70px;}
.mb-nav__search{max-width:485px;margin:0 !important;}
.mb-header__cart{padding-top:0 !important;}
.form-group .wrap-select-colors{padding-left:2px;}
.mfilter-free-container .mfilter-free-button{margin:60px 0 0 228px;}
#menu .dropdown-menu{min-width:460px;}
#menu .dropdown-inner ul{width:49%;}
.your_order .payment {padding: 0 0 25px 10px;border-bottom: 0;}
.your_order .back-btn {padding: 0 10px 25px 0;border-bottom: 1px solid #d3d3d4;}
@media (max-width:435px){.your_order .payment {margin:0 auto;float:none !important;text-align:center;padding-left:0;padding-bottom: 0;}
.your_order .back-btn {text-align:center;padding-right:0;}
.cart-btn1, .cart-btn2 {float:none!important;text-align:center;}
.cart-btn2 {margin-top:15px;}
}

