body {
    /*
        background:#fff;
    */
}



.container {
    width: 100%;
    max-width: 1280px;
}

.top-nav {
    background: #f9f9f9;
    line-height: 16px;
    height: 50px;
    position: relative;
    z-index: 100;
}

.top-nav__left {
    padding-top: 17px;
    padding-bottom: 17px;
    height: 50px;
}

.top-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 9px;
    line-height: 16px;
    height: 16px;
    text-transform: uppercase;
    white-space: nowrap;
}

.top-nav__list li {
    display: inline-block;
}

.top-nav__list li:not(:first-child) {
    margin-left: 10px;
}

.top-nav__list a {
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;
}

.top-nav__list a:hover {
    border-color: rgba(45, 64, 89, 0.5);
}

@media (max-width: 767px) {
    .top-nav {
        height: auto;
    }

    .top-nav__list {
        height: auto;
        width: 100vw;
        background: #fff;
        margin: 0 -15px 0 -15px;
    }

    .top-nav__list li {
        display: block;
    }

    .top-nav__list li:not(:first-child) {
        margin-left: 0;
    }

    .top-nav__list a {
        display: block;
        border-bottom: 1px solid #f9f9f9;
        padding: 10px 15px;
        transition: background 0.5s ease;
    }

    .top-nav__list a:hover {
        background: #f9f9f9;
        border-color: #f9f9f9;
    }

    .top-nav__menu-btn {
        color: #2D4059;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        margin: 0;
        height: 50px;
        padding: 0 15px;
        margin: -17px 0 0 -15px;
        float: none;
        border: 0;
        border-radius: 0;
        outline: none !important;
        box-shadow: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

@media (min-width: 992px) {
    .top-nav__list li:not(:first-child) {
        margin-left: 15px;
    }
}

.top-nav__right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
}

.top-nav__profile {
    height: 50px;
    padding: 17px;
    white-space: nowrap;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.top-nav__profile.open {
    background: #fff;
}

.top-nav__profile-link {
    font-size: 9px;
    text-transform: uppercase;
}

.top-nav__profile-link .fa {
    font-size: 9px;
    margin-right: 5px;
}

.top-nav__profile-link-text {
    display: inline-block;
}

@media (min-width: 768px) {
    .top-nav__profile {
        padding: 17px 20px;
    }
}

.top-nav__dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #f9f9f9;
    min-width: calc(100% + 2px);
    margin: -1px -1px 0 0;
    font-size: 9px;
    text-transform: uppercase;
    padding: 0;
}

.top-nav__dropdown-menu > li:not(:first-child) {
    border-top: 1px solid #f9f9f9;
}

.top-nav__dropdown-menu > li > a {
    padding: 10px 20px;
    height: 34px;
    color: #2D4059;
}

.top-nav__langs {
    display: block;
    padding: 17px 0 17px 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    height: 50px;
}

@media (min-width: 768px) {
    .top-nav__langs {
        padding: 17px 0 17px 20px;
    }
}

.top-nav__langs-list {
    white-space: nowrap;
}

.top-nav__langs-link {
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
}

.top-nav__langs-link:not(:first-child) {
    margin-left: 10px;
}

.header_mod {
    position: relative;
    padding: 25px 0;
    background: url('/catalog/view/theme/fm/image/header-bg.jpg?v=1.0') no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.header_mod:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}

.header__container {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__container > * {
    width: 100%;
}

.header__logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.header__logo-link {
    display: block;
    width: 100%;
    max-width: 310px;
}

.header__schedule {
    text-align: center;
    margin-top: 19px;
}

.header__schedule p:last-child {
    margin: 0;
}

.header__cart {
    text-align: center;
    padding-top: 17px;
}

@media (min-width: 1024px) {
    .header_mod {
        padding: 50px 0;
    }

    .header__container {
        flex-wrap: nowrap;
    }

    .header__logo {
        justify-content: flex-start;
    }

    .header__schedule {
        margin-top: 0;
    }

    .header__cart {
        text-align: right;
    }
}

.logo {
    position: relative;
}

.logo__img {
    display: block;
    width: 100%;
}

.logo__icon {
    opacity: 0;
    width: 22.5806452%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    background-image: url('/image/catalog/logo-icon.svg?v=1.0');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.logo__icon--1 {
    background-position: 0 0;
    animation: fade01 10s ease infinite;
}

@keyframes fade01 {
    0% {
        opacity: 0;
        transform: scale(0.9)
    }
    5% {
        opacity: 1;
        transform: scale(1)
    }
    15% {
        opacity: 1;
        transform: scale(1)
    }
    20% {
        opacity: 0;
        transform: scale(0.9)
    }
}

.logo__icon--2 {
    background-position: 0 25%;
    animation: fade02 10s ease infinite;
}

@keyframes fade02 {
    20% {
        opacity: 0;
        transform: scale(0.9)
    }
    25% {
        opacity: 1;
        transform: scale(1)
    }
    35% {
        opacity: 1;
        transform: scale(1)
    }
    40% {
        opacity: 0;
        transform: scale(0.9)
    }
}

.logo__icon--3 {
    background-position: 0 50%;
    animation: fade03 10s ease infinite;
}

@keyframes fade03 {
    40% {
        opacity: 0;
        transform: scale(0.9)
    }
    45% {
        opacity: 1;
        transform: scale(1)
    }
    55% {
        opacity: 1;
        transform: scale(1)
    }
    60% {
        opacity: 0;
        transform: scale(0.9)
    }
}

.logo__icon--4 {
    background-position: 0 75%;
    animation: fade04 10s ease infinite;
}

@keyframes fade04 {
    60% {
        opacity: 0;
        transform: scale(0.9)
    }
    65% {
        opacity: 1;
        transform: scale(1)
    }
    75% {
        opacity: 1;
        transform: scale(1)
    }
    80% {
        opacity: 0;
        transform: scale(0.9)
    }
}

.logo__icon--5 {
    background-position: 0 100%;
    animation: fade05 10s ease infinite;
}

@keyframes fade05 {
    80% {
        opacity: 0;
        transform: scale(0.9)
    }
    85% {
        opacity: 1;
        transform: scale(1)
    }
    95% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        transform: scale(0.9)
    }
}

.checkout-box {
    display: inline-block;
    width: 100%;
    max-width: 310px;
}

.checkout-box__wrap {
    width: 100%;
    height: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: left;
    border: 1px solid rgba(45, 64, 89, 0.2);
}

.checkout-box__icon {
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    color: #2D4059;
    font-size: 24px;
    border-right: 1px solid rgba(45, 64, 89, 0.2);
}

.checkout-box__text {
    padding: 10px 15px;
}

.checkout-box__link {
    text-transform: uppercase;
    font-size: 13px;
    white-space: nowrap;
}

.checkout-box__summary {
    font-size: 11px;
    display: block;
}

.header__wish-compare {
    display: inline-flex;
    margin-top: 10px;
    font-size: 0;
}

.header__wish-compare a {
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;
    font-size: 9px;
    line-height: 16px;
    text-transform: uppercase;
}

.header__wish-compare a:not(:first-child) {
    margin-left: 10px;
}

.header__wish-compare a:hover {
    border-color: rgba(45, 64, 89, 0.5);
}

#menu {
    margin: 0;
    border: 0;
}

#menu .dropdown-inner a,
#menu .see-all {
    color: #2D4059;
}

.category-button {
    color: #2D4059;
    font-size: 14px;
    line-height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
}

.category-button i {
    margin-right: 10px;
}

.category-menu {
    background: #f9f9f9;
}

.category-menu .navbar-collapse {
    margin: 0 -15px;
}

.category-menu .navbar {
    border-radius: 0;
    padding-left: 0;
    flex-shrink: 0;
}

.category-menu .navbar-collapse {
    padding: 0;
}

.category-menu .navbar-nav {
    margin: 0;
}

.category-menu .navbar-nav > li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.category-menu .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 36px;
    padding: 0 15px;
    display: block;
}

.category-menu .navbar-nav > li:hover > a {
    background: #fff;
    border-color: #f9f9f9;
}

@media (min-width: 768px) {
    .category-menu .navbar-collapse {
        margin: 0;
    }

    .category-menu .container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }

    .category-menu .container:before,
    .category-menu .container:after {
        display: none;
    }

    .category-menu .navbar-nav > li {
        border-top: 0;
    }

    .category-menu .navbar-nav > li > a {
        line-height: 48px;
        padding: 0 15px;
        border-left: 1px solid rgba(255, 255, 255, 0.8);
        border-top: 1px solid #f9f9f9;
        border-bottom: 1px solid #f9f9f9;
    }
}

@media (min-width: 770px) {
    .category-button {
        display: none;
    }
}

@media (min-width: 1024px) {
    .category-menu .container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .nav__search {
        max-width: 310px;
    }
}

@media (min-width: 1200px) {
    .category-menu .navbar-nav > li > a {
        font-size: 12px;
    }
}

.nav.navbar-nav .dropdown-menu {
    top: 50px;
    left: 0;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    margin: 0;
}

.nav__search {
    position: relative;
    width: calc(100% + 32px);
    margin: -1px -16px 0 -16px;
}

@media (min-width: 1024px) {
    .nav__search {
        width: 100%;
        margin: 0;
    }
}

.search-box {
    width: 100%;
    height: 50px;
    border: 1px solid #f9f9f9;
    position: relative;
}

.search-input {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    padding: 12px 50px 12px 15px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border-radius: 0;
}

@media (min-width: 1024px) {
    .search-input {
        padding: 12px 50px 12px 20px;
    }
}

.seach-button {
    border: 0;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    color: #2D4059;
    outline: none;
}

#search-result-ajax {
    position: absolute;
    top: 49px;
    right: 0;
    width: 100%;
    border: 1px solid #f9f9f9;
    background-color: #fff;
    z-index: 2000;
    max-height: 300px;
    overflow: auto;
    display: none;
}

#search-result-ajax:empty {
    display: none !important;
}

#search-result-ajax > div {
    width: 100%;
}

#search-result-ajax > div:not(:first-child) {
    border-top: 1px solid #f9f9f9;
}

.search-result-row-ajax {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 10px;
}

.search-result-row-ajax:hover {
    background: #f9f9f9;
}

.search-result-image-ajax {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #f9f9f9;
}

.search-result-image-ajax img {
    width: 100%;
    height: 100%;
}

.search-result-body-ajax {
    display: block;
    width: calc(100% - 55px);
    margin-left: 10px;
}

.search-result-articul-ajax {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
}

.search-result-text-ajax {
    font-size: 12px;
    line-height: 18px;
}

.search-result-price-ajax {
    color: #FFD460;
    font-size: 12px;
    line-height: 14px;
}

.search-result-price-ajax-old {
    color: #808080;
    font-size: 12px;
    line-height: 14px;
    text-decoration: line-through
}

.search-result-articul-ajax, .search-result-price-ajax, .search-result-text-ajax {
    display: block;
}

.footer {
    background: #2D4059;
    padding: 20px 0;
    color: #f9f9f9;
    font-size: 12px;
}

.footer a {
    color: #f9f9f9;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
}

.footer h5 {
    color: #FFD460;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 20px;
}

.footer li {
    margin-bottom: 10px;
}

.footer-block:not(:last-child) {
    margin-bottom: 20px;
}

.soc-icons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.soc-ico:not(:last-child) {
    margin-right: 10px;
}

.soc-ico a {
    display: block;
    width: 30px;
    height: 30px;
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
    text-align: center;
    line-height: 30px;
}

@media (min-width: 992px) {
    .footer {
        padding: 50px 0;
    }

    .footer-block:not(:last-child) {
        margin-bottom: 0;
    }

    .soc-icons {
        justify-content: flex-end;
    }
}

.tc-sm,
.best-sales, .prod-interest {
    text-align: center;
    width: 100vw;
    margin: 0 0 15px 50%;
    padding: 30px 0;
    font-size: 18px;
    line-height: 16px;
    color: #2D4059;
    transform: translateX(-50%);
    background: #f9f9f9;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    white-space: nowrap;
}

.tc-sm:before,
.best-sales:before,
.tc-sm:after,
.best-sales:after, .prod-interest:before, .prod-interest:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
}

.tc-sm:before,
.best-sales:before, .prod-interest:before {
    margin-right: 20px;
}

.tc-sm:after,
.best-sales:after, .prod-interest:after {
    margin-left: 20px;
}

/*
.product-list{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;padding-bottom:15px;}
.product-list .product-layout{width:calc(100% - 30px);margin:15px;background:#f9f9f9;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
 */
@media (min-width: 468px) {
    .product-list .product-layout {
        width: calc(50% - 30px);
    }

}

@media (min-width: 1024px) {
    .product-list .product-layout {
        width: calc(33.333333% - 30px);
    }
}

.product-list.product-list--full .product-layout {
    width: calc(100% - 30px);
}

@media (min-width: 468px) {
    .product-list.product-list--full .product-layout {
        width: calc(50% - 30px);
    }
}

@media (min-width: 768px) {
    .product-list.product-list--full .product-layout {
        width: calc(33.333333% - 30px);
    }
}

@media (min-width: 1024px) {
    .product-list.product-list--full .product-layout {
        width: calc(25% - 31px);
    }
}

.product-layout img {
    width: 100%;
}

.product-layout img.stock_image, img.stock_image {
    width: auto;
    display: inline-block;
    max-width: 100%;
    margin: 5px 0;
}

.product-thumb {
    width: 100% !important;
    padding: 9px;
    border: 1px solid #f9f9f9;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    transition: border-color 0.5s ease;
}

.product-thumb:hover {
    border-color: rgba(45, 64, 89, 0.2)
}

.product-thumb .caption h4 {
    padding: 5px 0;
    font-size: 13px;
    line-height: 1.5;
}

.product-thumb .caption .old-h4 {
    padding: 5px 0;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-thumb .price {
    color: #ffd460;
}

.product-thumb .button-group {
    margin-top: auto;
    text-align: center;
}

.product-thumb .image img {
    width: 100%;
    height: auto;
}

.wish-buttons-card {
    margin: 10px -9px;
    padding: 9px;
    background: rgba(255, 255, 255, 0.5);
}

.wish-buttons-card button {
    display: inline-block;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;
    font-size: 9px;
    line-height: 16px;
    text-transform: uppercase;
    color: #2D4059;
    padding: 0;
    margin: 0 5px;
}

.wish-buttons-card button:hover {
    border-bottom-color: #2D4059;
}

.button-cart-p {
    color: #2D4059;
    border: 1px solid #2D4059;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10px;
    padding: 7px 15px;
    line-height: 10px;
    margin: 5px auto;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.button-cart-p:hover {
    color: #f9f9f9;
    background-color: #2D4059;
}

.button-cart-p .fa {
    font-size: 10px;
    margin-right: 5px;
}

.categories {
    padding: 10px 10px 0;
    background: #f9f9f9;
    margin-bottom: 15px;
}

.categories-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 10px 0 15px;
    text-align: center;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.category-list-item {
    margin-bottom: 10px;
    margin-left: 10px;
    width: calc(50% - 5px);
    background: #fff;
}

@media (max-width: 467px) {
    .category-list-item:nth-child(2n+1) {
        margin-left: 0;
    }
}

@media (min-width: 468px) and (max-width: 1023px) {
    .category-list-item {
        width: calc(33.333333% - 6.6666667px);
    }

    .category-list-item:nth-child(3n+1) {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .category-list-item {
        width: calc(25% - 7.5px);
    }

    .category-list-item:nth-child(4n+1) {
        margin-left: 0;
    }
}

.category-list-title {
    display: block;
    padding: 15px;
    font-size: 10px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.5s ease;
}

.category-list-item:hover .category-list-title {
    color: #ffd460;
}

.category-header {
    padding: 0 0 20px;
}

.category-title {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 0;
}

.category-select-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.category-select {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    width: calc(50% - 10px);
    margin-left: 20px;
}

@media (max-width: 767px) {
    .category-select {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 10px;
    }
}

.category-select:first-child {
    margin-left: 0;
}

.category-select label {
    margin: 0 10px 0 0;
    white-space: nowrap;
}

.category-product-list {
    margin-top: -15px;
}

.categories + .category-product-list {
    margin-top: 0;
}

.mfilter-box {
    margin-bottom: 0 !important;
}

.box-content.mfilter-content {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f9f9f9 !important;
}

.show-filters {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}

#column-left {
    display: none;
}

.mfilter-free-container .mfilter-free-button {
    border: 1px solid #f9f9f9;
    border-left-color: #ccc;
    width: 35px;
    height: 33px;
    background: #121726;
    text-align: center;

}

.mfilter-free-container .mfilter-free-button:before {
    content: "\f0b0";
    color: #f9f9f9;
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 18px/33px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
    #column-left {
        display: block;
    }

    .mfilter-box {
        padding-right: 15px;
    }

    .box-content.mfilter-content {
        border-bottom: 0 !important;
    }

    .box-content.mfilter-content:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50vw;
        border: 1px solid #f9f9f9;
    }

    .show-filters {
        display: none;
    }
}

.mfilter-heading-content {
    padding: 0 !important;
}

.mfilter-heading-text {
    padding: 0 !important;
    margin-left: 0 !important;
    width: auto !important;
}

.mfilter-heading-text > span { /*padding-left:0 !important;margin-left:0!important;*/
}

.mfilter-heading .mfilter-head-icon {
    background: none !important;
    text-align: center;
    vertical-align: middle;
}

.mfilter-content > ul > li.mfilter-filter-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C8CBD1;
    position: relative;
}

.mfilter-content > ul > li.mfilter-filter-item:first-child {
    padding-top: 0;
    border-top: 0;
}

.mfilter-content > ul > li.mfilter-filter-item:last-child { /*padding-bottom:0;*/
}

.mfilter-filter-item .mfilter-options {
    padding-left: 0 !important;
}

.mfilter-heading-text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.mfilter-price-inputs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
}

.mfilter-price-inputs input {
    margin: 0 10px;
}

.mfilter-price-inputs input:first-child {
    margin-left: 0;
}

.mfilter-price-inputs #mfilter-opts-price-min,
.mfilter-price-inputs #mfilter-opts-price-max {
    width: 65px;
    min-width: 65px;
    padding: 5px 10px;
}

.mfilter-price-slider #mfilter-price-slider {
    margin-top: 10px;
}

.mfilter-price-slider #mfilter-price-slider .ui-slider-range {
    background: #ffd460 !important;
}

.no-items {
    padding-bottom: 20px;
}

.product-heading-title {
    font-size: 20px;
    text-transform: uppercase;
}

.registration-content {
    background: #f9f9f9;
    padding: 0 20px 20px;
    margin: 0 auto;
    float: none;
    overflow: hidden;
    border-radius: 5px;
}

.product-desc .control-label {
    font-weight: 300;
    font-size: 14px;
    width: 170px;
    flex-shrink: 0;
}

.product-code {
    margin-bottom: 10px;
}

.product-count .form-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.product-count .form-group .control-label {
    margin: 0;
}

.product-price {
    color: #ffd460;
}

.product-info-item {
    border: 1px solid #f9f9f9;
    padding: 0 20px;
}

.product-info-return {
    padding-top: 10px;
    border-top: 1px solid #f9f9f9;
}

.product-info-title {
    margin: 0;
    padding: 15px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
}

.product-info-title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    margin-top: -5px;
    transform: rotate(45deg);
}

.feedback-wrap .form-group {
    margin-left: 0;
    margin-right: 0;
}

.feedback-wrap h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.feedback-wrap .control-label {
    font-size: 14px;
}

.variationProdCat .img-thumbnail,
.radio-image .img-thumbnail {
    padding: 2px;
    border: 1px solid transparent;
}

#input-quantity {
    max-width: 100px;
}

.product-review {
    border: 1px solid #f9f9f9;
    margin-bottom: 15px;
}

.product-review-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9f9f9;
    padding: 5px 10px;
}

.product-review-body {
    padding: 10px;
}

.product-review-rating {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #ffd460;
}

.product-review-rating span {
    width: 20px;
    height: 14px;
    text-align: left;
    line-height: 14px;
}

.product-review-rating span i {
    text-align: left;
}

.pTags {
    padding: 10px;
    background: #f9f9f9;
    margin-top: 0;
    margin-bottom: 30px;
}

.pTags .fa {
    color: #ffd46f;
}

.search-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 21px;
    margin-bottom: 30px;
    position: relative;
}

.search-header:after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 1px;
    background: #f9f9f9;
}

.search-header-item {
    padding: 0 15px;
    width: 100%;
}

.search-header-item:nth-child(n+2) {
    margin-top: 15px;
}

.search-header-item--search {
    text-align: center;
}

@media (min-width: 468px) {
    .search-header-item {
        width: 50%;
    }

    .search-header-item:nth-child(n+1) {
        margin-top: 0;
    }

    .search-header-item:nth-child(n+3) {
        margin-top: 15px;
    }

    .search-header-item--search {
        text-align: right;
    }
}

@media (min-width: 1024px) {
    .search-header-item {
        width: 25%;
    }

    .search-header-item:nth-child(n+3) {
        margin-top: 0;
    }
}

.search-header-item input,
.search-header-item select {
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.text-page {
    padding-bottom: 50px;
}

.text-page h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

.text-page-small {
    max-width: 630px;
    margin: 25px auto 0;
    padding: 0 15px;
}

.text-page-small h2,
.text-page-small h3 {
    text-transform: uppercase;
    text-align: center;
}

.text-page-small h2 {
    font-size: 16px;
    line-height: 24px;
}

.text-page-small h3 {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0;
}

.text-page-small h4 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.text-page-small strong {
    color: #2D4059;
}

.text-page-about ol {
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0 0 30px;
}

.text-page-about li {
    display: block;
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.text-page-about li:before {
    content: counter(item);
    counter-increment: item;
    display: block;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    border-radius: 50%;
    margin: 0 auto 15px;
    color: #f9f9f9;
    background: #ffd460;
}

.text-page-ul {
    list-style: none;
    padding: 0;
}

.text-page-ul li {
    display: flex;
}

.text-page-ul li:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ffd460;
    vertical-align: middle;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 7px;
}

.text-page iframe {
    width: 100%;
    max-width: 100%;
}

.text-page .nav-tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.text-page .nav-tabs > li > a {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 10px;
}

.thumbnail:focus {
    outline: none;
}

select {
    line-height: 18px;
    font-family: Arial, sans-serif;
}

.help-collapse {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px dashed #FFD460;
}

.home-promo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.home-promo-item {
    width: 100%;
}

.home-promo-item a {
    display: block;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.home-promo-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 15px;
    font-weight: 300;
    color: #f9f9f9;
    background: rgba(45, 64, 89, 0.5);
    transition: background-color 0.5s ease;
}

.home-promo-title:empty {
    display: none;
}

.home-promo-item:hover .home-promo-title {
    background: rgba(45, 64, 89, 0.9);
}

@media (max-width: 468px) {
    .home-promo-item a {
        height: 200px;
    }

    .home-promo-title {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .home-promo-item a {
        height: 270px;
    }

    .home-promo {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .row-contacts {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (min-width: 1024px) {
    .product-list.product-interest .product-layout {
        width: calc(25% - 30px);
    }
}


.product-list .product-layout {
    margin: 15px 13px;
}