<?php echo $header; ?>
<script>
	gtag('event', 'page_view', {
    	'send_to': 'AW-971613570',
    	'ecomm_prodid' : '', 
		'ecomm_pagetype': 'home'
	});
</script>
<?php
		require_once($_SERVER['DOCUMENT_ROOT'].'/tools/functions.php');

		$res = read_table('*', 'oc_option_value',"`option_id` in (21,22)");
		$options = array();
		if (isset($res[0]))
		foreach($res as $r)
			$options[$r['option_id']] = $r;
		$res = read_table('*', 'oc_option_value_description',"`option_id` in (21,22)");
		foreach($res as $r){
			$options[$r['option_id']]['name'] = $r['name'];
		}
		$href = '//'.$_SERVER['SERVER_NAME'].'/image/';
?>
<style>

	.main-banner {
		margin-top: 40px;
		padding-bottom: 70px;
	}

	.main-banner__head,
	.main-banner .h1,
	.main-banner h1 {
		text-align: center;
		margin-left: 0;
	}

	.main-banner__block {
		position: relative;
		margin-top: 41px;
	}

	.main-banner__img-mob {
		display: none;
	}

	.main-banner__slogan {
		position: absolute;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		top: 45px;
		left: 40px;
	}

	.main-banner__title {
		position: absolute;
		max-width: 380px;
		font-size: 30px;
		line-height: 40px;
		color: #fff;
		top: 150px;
		left: 40px;
	}

	.main-banner__link {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width: 220px;
		height: 50px;
		color: #fff;
		background-color: #121726;
		left: 40px;
		bottom: 70px;
		text-transform: uppercase;
		text-decoration: none;
	}

	.main-banner__link:hover {
		text-decoration: none;
		color: #fff;
		background-color: #535F6E;
	}

	.main-banner__link:active {
		background-color: #808994;
		text-decoration: none;
	}

	@media screen and (max-width: 1199px) {
		.main-banner {
			margin-top: 35px;
		}
		.main-banner .wrapper {
			padding: 0;
		}
		.main-banner__block {
			margin-top: 30px;
		}
		.main-banner__title {
			top: 130px;
		}
		.main-banner__link {
			bottom: 40px;
		}
	}

	@media screen and (max-width: 991px) {
		.main-banner__img {
			display: none;
		}
		.main-banner__img-mob {
			display: block;
		}
		.main-banner__img-mob img {
			width: 100%;
		}
		.main-banner__slogan {
			top: 60px;
		}
		.main-banner__title {
			top: 205px;
		}
		.main-banner__link {
			bottom: 175px;
		}
	}

	@media screen and (max-width: 767px) {
		.main-banner h1, .main-banner .h1 {
			font-size: 17px;
			line-height: 22px;
		}
		.main-banner__slogan {
			margin-top: 25px;
		}
		.main-banner__slogan {
			top: 15px;
			left: 35px;
		}
		.main-banner__title {
			max-width: 280px;
			font-size: 22px;
			line-height: 32px;
			top: 135px;
			left: 35px;
		}
		.main-banner__link {
			width: 184px;
			height: 50px;
			left: 35px;
			bottom: 150px;
		}
	}

	@media screen and (max-width: 575px) {
		.main-banner {
			margin-top: 30px;
		}
		.main-banner__slogan {
			font-size: 2.5vw;
			top: 30px;
			left: 20px;
		}
		.main-banner__title {
			max-width: 52%;
			font-size: 4vw;
			line-height: 6vw;
			top: 25vw;
			left: 20px;
		}
		.main-banner__link {
			width: 100px;
			height: 28px;
			left: 20px;
			bottom: 25vw;
		}
	}

	.promotions {
		padding: 80px 0;
	}

	.promotions .row {
		margin: 0;
	}

	.promotions__head {
		margin-bottom: 70px;
	}

	.promotions__slider {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.promotions__slider .slick-list.draggable {
		padding-bottom: 55px;
	}

	.promotions__slider .slick-prev,
	.promotions__slider .slick-next {
		position: relative;
		display: inline-block;
		height: 20px;
		font-size: 0;
		background: none;
		border: none;
		margin-top: 20%;
	}

	.promotions__slider .slick-prev::before,
	.promotions__slider .slick-next::before {
		position: absolute;
		top: 2px;
		left: 4px;
		content: "";
		background-position: 80.16877637130801% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.promotions__slider .slick-prev:hover::before,
	.promotions__slider .slick-next:hover::before {
		background-position: 20.253164556962027% 99.56521739130434%;
		width: 8px;
		height: 15px;
	}

	.promotions__slider .slick-prev.slick-disabled::before,
	.promotions__slider .slick-next.slick-disabled::before {
		background-position: 86.91983122362869% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.promotions__slider .slick-next::before {
		top: 2px;
		right: 4px !important;
		left: auto;
		background-position: 83.54430379746836% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.promotions__slider .slick-next:hover::before {
		background-position: 23.628691983122362% 99.56521739130434%;
		width: 8px;
		height: 15px;
	}

	.promotions__slider .slick-next.slick-disabled::before {
		background-position: 90.29535864978902% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.promotions__slider .slick-dots {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		bottom: 0;
	}

	.promotions__slider .slick-dots li {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.promotions__slider .slick-dots li button {
		font-size: 0;
		width: 24px;
		height: 1px;
		background-color: #808994;
		border: none;
		margin: 0 4px;
	}

	.promotions__slider .slick-dots li.slick-active button {
		height: 4px;
		background-color: #121726;
	}

	.promotions__slide {
		position: relative;
		background-color: #fff;
		padding: 44px 14px 40px;
		margin: 0 30px;
	}

	.promotions__label {
		position: absolute;
		width: 115px;
		height: 24px;
		font-family: "GothamProMedium", serif;
		font-size: 11px;
		line-height: 11px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
		top: 10px;
		left: 14px;
	}

	.promotions__label.green {
		background: #43BE58;
	}

	.promotions__label.red {
		background: #FF3B30;
	}

	.promotions__delivery-fitting {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		top: 14px;
		right: 14px;
	}

	.promotions__delivery {
		background-position: 18.75% 85.58951965065502%;
		width: 21px;
		height: 16px;
		margin-left: 12px;
	}

	.promotions__fitting {
		background-position: 7.359307359307359% 92.98245614035088%;
		width: 14px;
		height: 17px;
	}

	.promotions__credit {
		position: absolute;
		background-position: 90.45454545454545% 70.9090909090909%;
		width: 25px;
		height: 25px;
		top: 40px;
		right: 14px;
	}

	.promotions__rating-block {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 5px 0;
		border-bottom: 1px solid #121726;
		padding-bottom: 5px;
	}

	.promotions__rating {
		background-position: 74.8936170212766% 97.44680851063829%;
		width: 10px;
		height: 10px;
	}

	.promotions__rating:hover {
		background-position: 79.14893617021276% 97.44680851063829%;
		width: 10px;
		height: 10px;
	}

	.promotions__rating:active {
		background-position: 83.40425531914893% 97.44680851063829%;
		width: 10px;
		height: 10px;
	}

	.promotions__price {
		margin-top: 16px;
	}

	.promotions__link a {
		font-family: "GothamProMedium", serif;
		font-size: 12px;
		line-height: 16px;
		color: #121726;
		text-decoration: none;
	}

	.promotions__price-block {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
		margin-top: 10px;
	}

	.promotions__discount {
		font-family: "GothamProBold", serif;
		font-size: 13px;
		line-height: 18px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: right;
		color: #FF3B30;
	}

	.promotions__before-discount {
		font-size: 13px;
		line-height: 18px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: right;
		-webkit-text-decoration-line: line-through;
		text-decoration-line: line-through;
		color: #808994;
	}

	.promotions__new-price {
		font-family: "GothamProBold", serif;
		font-size: 22px;
		line-height: 21px;
		color: #121726;
		margin-left: 10px;
	}

	.promotions__new-price span {
		font-family: "GothamProRegular", serif;
	}

	.promotions__actions {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin-top: 28px;
	}

	.promotions__wish, .promotions__compare {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width: 57px;
		height: 42px;
		border: 1px solid #121726;
	}

	.promotions__wish::before, .promotions__compare::before {
		position: absolute;
		content: "";
		background-position: 99.55555555555556% 34.64912280701754%;
		width: 20px;
		height: 17px;
	}

	.promotions__wish:hover, .promotions__compare:hover {
		cursor: pointer;
	}

	.promotions__wish:hover::before, .promotions__compare:hover::before {
		background-position: 99.55555555555556% 42.10526315789474%;
		width: 20px;
		height: 17px;
	}

	.promotions__compare {
		margin-left: -1px;
	}

	.promotions__compare::before {
		position: absolute;
		content: "";
		background-position: 78.73303167420815% 52.63157894736842%;
		width: 24px;
		height: 17px;
	}

	.promotions__compare:hover::before {
		background-position: 89.59276018099547% 52.63157894736842%;
		width: 24px;
		height: 17px;
	}

	.promotions__buy {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width: 173px;
		height: 42px;
		color: #fff;
		background-color: #121726;
	}

	.promotions__buy:hover {
		background-color: #535F6E;
		cursor: pointer;
	}

	.promotions__buy span {
		font-family: "GothamProMedium", serif;
		font-size: 11px;
		line-height: 11px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.promotions__buy span::after {
		display: inline-block;
		content: "";
		width: 19px;
		height: 18px;
		background: url("/img/svg/icon-basket.svg") no-repeat center;
		margin-left: 12px;
	}

	@media screen and (max-width: 991px) {
		.promotions .slick-list {
			margin: 0 -15px;
		}
		.promotions__slide {
			width: 33%;
			margin: 0 15px;
		}
		.promotions__label {
			width: 85px;
		}
	}

	@media screen and (max-width: 767px) {
		.promotions {
			padding-top: 30px;
		}
		.promotions__slide {
			margin: 0 10px;
			padding: 44px 9px 20px;
		}
		.promotions__label {
			top: 9px;
			left: 9px;
		}
		.promotions__delivery-fitting, .promotions__credit {
			right: 9px;
		}
		.promotions__link {
			font-size: 12px;
		}
		.promotions__price-block {
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.promotions__old-price {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: end;
			-webkit-justify-content: flex-end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			width: 100%;
		}
		.promotions__discount {
			margin-right: 9px;
		}
		.promotions__new-price {
			font-size: 20px;
		}
		.promotions__actions {
			margin-top: 14px;
		}
		.promotions__buy {
			width: 33.33%;
		}
		.promotions__buy span {
			font-size: 0;
		}
		.promotions__buy span::after {
			margin: 0 0 0 -6px;
		}
	}

	@media screen and (max-width: 575px) {
		.promotions__slider .slick-list.draggable {
			padding-bottom: 40px;
		}
		.promotions__slide {
			margin: 0 10px;
			padding: 44px 7px 20px;
		}
		.promotions__label {
			width: 70px;
		}
		.promotions__delivery-fitting, .promotions__credit {
			right: 7px;
		}
		.promotions__buy {
			width: 40%;
		}
	}

	.popular {
		padding: 80px 0;
	}

	.popular__block {
		position: relative;
		max-width: 1090px;
		width: 100%;
		margin: 70px auto 0;
	}

	.popular__block::after {
		position: absolute;
		content: "";
		left: 20%;
		right: 0;
		top: 45%;
		bottom: 0%;
		-webkit-box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(-1, 0, 0, 1, 0, 0);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		background: #f9f9f9;
		z-index: -1;
	}

	.popular__kinds {
		position: relative;
		width: 523px;
		padding: 0 80px 75px;
		background-color: #f9f9f9;
		z-index: 2;
	}

	.popular__tabs {
		border-top: 1px solid #121726;
		padding-top: 75px;
	}

	.popular__tab p {
		position: relative;
		display: inline-block;
		width: 100%;
		font-family: "GothamProLight", sans-serif;
		font-size: 30px;
		line-height: 40px;
		color: #808994;
		cursor: pointer;
	}

	.popular__tab p.active {
		color: #121726;
	}

	.popular__tab p.active::after {
		position: absolute;
		width: 12px;
		height: 12px;
		content: "";
		background: url("/img/svg/arrow_categ_pressed-select.svg") no-repeat center;
		right: 0;
		bottom: 5px;
	}

	.popular__tab p::after {
		position: absolute;
		width: 12px;
		height: 12px;
		content: "";
		background: url("/img/svg/arrow_categ.svg") no-repeat center;
		right: 0;
		bottom: 5px;
	}

	.popular__tab ul {
		width: 216px;
		list-style-type: none;
		padding: 0;
		margin: 30px 0 30px auto;
		display: none;
	}

	.popular__tab ul.active {
		display: block;
	}

	.popular__tab li {
		position: relative;
		width: 216px;
		margin-bottom: 10px;
	}

	.popular__tab li.active div {
		position: relative;
	}

	.popular__tab li.active div::after {
		position: absolute;
		width: 100%;
		height: 1px;
		content: "";
		background-color: #808994;
		left: 0;
		top: 51%;
		z-index: 1;
	}

	.popular__tab li.active span {
		color: #121726;
	}

	.popular__tab li span {
		position: relative;
		display: inline-block;
		font-family: "GothamProMedium", sans-serif;
		font-size: 17px;
		line-height: 22px;
		color: #C8CBD1;
		background-color: #f9f9f9;
		padding-right: 40px;
		z-index: 2;
	}

	.popular__tab li img {
		display: none;
	}

	.popular__image {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}

	@media screen and (max-width: 1199px) {
		.popular__tabs {
			padding-top: 55px;
		}
		.popular__tab p {
			font-size: 26px;
		}
		.popular__tab li {
			margin-bottom: 5px;
		}
		.popular__kinds {
			width: 44.3%;
			padding: 0 60px 50px;
		}
		.popular__image {
			width: 62%;
		}
		.popular__image img {
			width: 100%;
		}
	}

	@media screen and (max-width: 991px) {
		.popular {
			padding-top: 20px;
		}
		.popular__tabs {
			padding-top: 40px;
		}
		.popular__tab ul {
			margin-top: 0;
		}
		.popular__kinds {
			width: 52.6%;
			padding: 0 50px 40px;
		}
		.popular__image {
			width: 53vw;
			height: 59vw;
		}
		.popular__image img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	@media screen and (max-width: 767px) {
		.popular {
			padding-top: 0;
		}
		.popular__block {
			margin-top: 50px;
		}
		.popular__tabs {
			padding-top: 30px;
		}
		.popular__tab ul {
			margin-left: 20px;
			margin-bottom: 10px;
		}
		.popular__tab li span {
			padding-right: 30px;
		}
		.popular__tab li.active div::after {
			width: 95%;
		}
		.popular__kinds {
			width: 288px;
			padding: 0 30px 25px 30px;
		}
		.popular__image {
			width: 56.3vw;
			height: 65vw;
		}
	}

	@media screen and (max-width: 575px) {
		.popular {
			margin-bottom: 200px;
		}
		.popular__block::after {
			display: none;
		}
		.popular__kinds {
			top: 87vw;
			-webkit-box-shadow: 30px 30px 80px -50px rgba(0, 0, 0, 0.75);
			box-shadow: 30px 30px 80px -50px rgba(0, 0, 0, 0.75);
		}
		.popular__image {
			width: 100%;
			height: 95vw;
		}
	}

	.brand {
		padding: 120px 0 80px;
	}

	.brand__slider {
		/*
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 70px;
		 */
		text-align: center;
	}

	.brand__slider .slick-list.draggable {
		padding-bottom: 55px;
	}

	.brand__slider .slick-prev,
	.brand__slider .slick-next {
		position: relative;
		display: inline-block;
		height: 20px;
		font-size: 0;
		background: none;
		border: none;
		margin-top: 40px;
	}

	.brand__slider .slick-prev::before,
	.brand__slider .slick-next::before {
		position: absolute;
		top: 2px;
		left: 4px;
		content: "";
		background-position: 100% 25.76419213973799%;
		width: 9px;
		height: 16px;
	}

	.brand__slider .slick-prev:hover::before,
	.brand__slider .slick-next:hover::before {
		background-position: 58.05084745762712% 92.5764192139738%;
		width: 9px;
		height: 16px;
	}

	.brand__slider .slick-prev.slick-disabled::before,
	.brand__slider .slick-next.slick-disabled::before {
		background-position: 50.42372881355932% 92.5764192139738%;
		width: 9px;
		height: 16px;
	}

	.brand__slider .slick-next::before {
		top: 2px;
		right: 4px !important;
		left: auto;
		background-position: 46.610169491525426% 92.5764192139738%;
		width: 9px;
		height: 16px;
	}

	.brand__slider .slick-next:hover::before {
		background-position: 61.86440677966102% 92.5764192139738%;
		width: 9px;
		height: 16px;
	}

	.brand__slider .slick-next.slick-disabled::before {
		background-position: 54.23728813559322% 92.5764192139738%;
		width: 9px;
		height: 16px;
	}

	.brand__slider .slick-dots {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		bottom: 0;
	}

	.brand__slider .slick-dots li {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.brand__slider .slick-dots li button {
		font-size: 0;
		width: 24px;
		height: 1px;
		background-color: #808994;
		border: none;
		margin: 0 4px;
	}

	.brand__slider .slick-dots li.slick-active button {
		height: 4px;
		background-color: #121726;
	}

	.brand__slide {
		margin: 25px;
		display: inline-block;
		vertical-align: middle;
	}

	@media screen and (max-width: 1199px) {
		.brand__slide {
			margin: 0 20px;
		}
	}

	@media screen and (max-width: 991px) {
		.brand__slider {
			margin-top: 50px;
		}
	}

	@media screen and (max-width: 767px) {
		.brand {
			padding-bottom: 50px;
		}
		.brand__slider .slick-prev,
		.brand__slider .slick-next {
			margin-top: 4vw;
		}
	}

	.information {
		padding: 0;
	}

	.information__block {
		position: relative;
		max-width: 1090px;
		width: 100%;
		margin: 70px auto 0;
	}

	.information__inf {
		position: absolute;
		width: 523px;
		padding: 0 80px 75px;
		background-color: #f9f9f9;
		right: 0;
	}

	.information__inf::after {
		position: absolute;
		content: "";
		left: 0;
		right: 25%;
		top: 52.27%;
		bottom: 0%;
		-webkit-box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(-1, 0, 0, 1, 0, 0);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		background: #f9f9f9;
		z-index: -1;
	}

	.information__items {
		border-top: 1px solid #121726;
		padding-top: 75px;
	}

	.information__item {
		padding-left: 32px;
		margin-bottom: 30px;
	}

	.information__item:last-of-type {
		margin-bottom: 0;
	}

	.information__text {
		position: relative;
		font-family: "GothamProMedium", sans-serif;
		line-height: 24px;
		color: #121726;
		margin-bottom: 2px;
	}

	.information__text::before {
		position: absolute;
		width: 8px;
		height: 8px;
		content: "";
		background: url("/img/svg/Pointer.svg") no-repeat center;
		top: 9px;
		left: -32px;
	}

	.information__link {
		line-height: 24px;
		-webkit-text-decoration-line: underline;
		text-decoration-line: underline;
		color: #535F6E;
	}

	.information__link:hover {
		color: #121726;
	}

	.information__image {
		top: 0;
		left: 0;
		z-index: -1;
	}

	@media screen and (max-width: 1199px) {
		.information__block {
			padding: 0 55px;
			margin-top: 0;
		}
		.information__inf {
			width: 48.6%;
			padding: 0 60px 60px;
		}
		.information__items {
			padding-top: 50px;
		}
		.information__image {
			width: 49vw;
			height: 41.7vw;
		}
		.information__image img {
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	@media screen and (max-width: 991px) {
		.information__block {
			padding: 0;
		}
		.information__inf {
			width: 55%;
			padding: 0 40px 40px;
		}
		.information__items {
			padding-top: 35px;
		}
		.information__item {
			margin-bottom: 20px;
		}
		.information__image {
			width: 50vw;
			height: 50vw;
		}
	}

	@media screen and (max-width: 767px) {
		.information__inf {
			width: 288px;
			padding: 0 30px 40px;
		}
		.information__items {
			padding-top: 30px;
		}
		.information__item {
			padding-left: 25px;
		}
		.information__text::before {
			left: -25px;
		}
		.information__image {
			width: 56.3vw;
			height: 63vw;
		}
	}

	@media screen and (max-width: 575px) {
		.information {
			margin-bottom: 330px;
		}
		.information__inf {
			margin-top: 84vw;
		}
		.information__image {
			width: 100%;
			height: 95vw;
		}
	}

	.projects {
		padding: 125px 0 20px;
	}

	.projects__slider {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 70px;
	}

	.projects__slider .slick-list.draggable {
		padding-bottom: 55px;
	}

	.projects__slider .slick-prev,
	.projects__slider .slick-next {
		position: relative;
		display: inline-block;
		height: 20px;
		font-size: 0;
		background: none;
		border: none;
		margin-top: 13%;
	}

	.projects__slider .slick-prev::before,
	.projects__slider .slick-next::before {
		position: absolute;
		top: 2px;
		left: 4px;
		content: "";
		background-position: 80.16877637130801% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.projects__slider .slick-prev:hover::before,
	.projects__slider .slick-next:hover::before {
		background-position: 20.253164556962027% 99.56521739130434%;
		width: 8px;
		height: 15px;
	}

	.projects__slider .slick-prev.slick-disabled::before,
	.projects__slider .slick-next.slick-disabled::before {
		background-position: 86.91983122362869% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.projects__slider .slick-next::before {
		top: 2px;
		right: 4px !important;
		left: auto;
		background-position: 83.54430379746836% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.projects__slider .slick-next:hover::before {
		background-position: 23.628691983122362% 99.56521739130434%;
		width: 8px;
		height: 15px;
	}

	.projects__slider .slick-next.slick-disabled::before {
		background-position: 90.29535864978902% 85.21739130434783%;
		width: 8px;
		height: 15px;
	}

	.projects__slider .slick-dots {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		bottom: 0;
	}

	.projects__slider .slick-dots li {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.projects__slider .slick-dots li button {
		font-size: 0;
		width: 24px;
		height: 1px;
		background-color: #808994;
		border: none;
		margin: 0 4px;
	}

	.projects__slider .slick-dots li.slick-active button {
		height: 4px;
		background-color: #121726;
	}

	.projects__slide {
		width: 316px;
		margin: 0 35px;
	}

	@media screen and (max-width: 991px) {
		.projects__slide {
			margin: 0 16px;
		}
	}

	@media screen and (max-width: 767px) {
		.projects {
			padding-top: 90px;
		}
		.projects__slider .slick-prev,
		.projects__slider .slick-next {
			margin-top: 19vw;
		}
	}

	@media screen and (max-width: 575px) {
		.projects .h1 {
			margin-bottom: 30px;
		}
		.projects .slick-list {
			margin: 0 -10px;
		}
		.projects .slick-list .slick-track {
			left: -15vw;
		}
		.projects__slide {
			margin: 0 10px;
		}
	}

	.promotions.were-see .promotions__slider {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		padding: 0 55px;
	}

	.promotions.were-see .promotions__slide {
		margin: 0;
		margin-right: 31px;
	}

	.promotions.were-see .promotions__slide:last-of-type {
		margin-right: 0;
	}

	.promotions.were-see .promotions__slide:hover {
		-webkit-box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
	}

	@media screen and (max-width: 1199px) {
		.promotions.were-see {
			padding-top: 40px;
		}
		.promotions.were-see .promotions__slider {
			padding: 0 55px;
		}
	}

	@media screen and (max-width: 991px) {
		.promotions.were-see .promotions__slider {
			padding: 0;
		}
		.promotions.were-see .promotions__slide {
			width: 31%;
			padding-right: 10px;
			padding-left: 10px;
			margin-right: 28px;
		}
	}

	@media screen and (max-width: 767px) {
		.promotions.were-see {
			padding-top: 30px;
		}
	}

	@media screen and (max-width: 575px) {
		.promotions.were-see {
			padding-top: 20px;
		}
		.promotions.were-see .promotions__slide {
			width: 47%;
			margin-right: 20px;
		}
	}

	.clients {
		padding: 80px 0 40px;
	}

	@media screen and (max-width: 1199px) {
		.clients {
			padding-top: 40px;
		}
	}

	@media screen and (max-width: 767px) {
		.clients {
			padding-top: 20px;
		}
	}

	.advice {
		padding: 40px 0;
	}

	.advice__items {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 70px;
		padding: 0 55px;
	}

	.advice__item {
		max-width: 334px;
		width: 100%;
		background-color: #fff;

		padding-bottom: 30px;
	}

	.advice__item:last-of-type {
		margin-right: 0;
	}

	.advice__item:hover {
		-webkit-box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
	}

	.advice__img {
		margin-bottom: 20px;
	}

	.advice__information {
		padding: 0 12px;
	}

	.advice__date-see {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	.advice__date, .advice__see {
		font-size: 12px;
		line-height: 16px;
		color: #535F6E;
	}

	.advice__see {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.advice__see::before {
		position: relative;
		display: inline-block;
		content: "";
		background-position: 13.973799126637555% 100%;
		width: 16px;
		height: 16px;
		top: 1px;
		margin-right: 7px;
	}

	.advice__heading {
		font-family: "GothamProMedium", sans-serif;
		font-size: 17px;
		line-height: 22px;
		color: #121726;
		margin-bottom: 12px;
	}

	.advice__heading a {
		color: #121726;
	}

	.advice__description {
		font-size: 13px;
		line-height: 20px;
		color: #535F6E;
		margin-bottom: 12px;
	}

	.advice__read-more {
		font-family: "GothamProMedium", sans-serif;
		line-height: 24px;
		-webkit-text-decoration-line: underline;
		text-decoration-line: underline;
		color: #535F6E;
	}

	.advice__read-more:hover {
		color: #121726;
	}

	.advice__all-items {
		width: 324px;
		height: 44px;
		font-family: "GothamProBold", sans-serif;
		font-size: 11px;
		line-height: 13px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #121726;
		border: 1px solid #121726;
		text-decoration: none;
		margin: 60px 0 0 55px;
	}

	.advice__all-items:hover {
		color: #121726;
	}

	@media screen and (max-width: 1199px) {
		.advice__items {
			padding: 0 40px;
		}
		.advice__item {
			margin-right: 30px;
		}
		.advice__all-items {
			width: 28.6%;
			margin-left: 40px;
		}
	}

	@media screen and (max-width: 991px) {
		.advice {
			padding-top: 20px;
		}
		.advice__items {
			padding: 0;
			margin-top: 55px;
		}
		.advice__all-items {
			width: 30.7%;
			margin-left: 0;
		}
	}

	@media screen and (max-width: 767px) {
		.advice {
			padding-top: 0;
		}
		.advice__items {
			margin-top: 45px;
		}
		.advice__item {
			margin-right: 22px;
		}
	}

	@media screen and (max-width: 575px) {
		.advice__items {
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.advice__item {
			width: 100%;
			margin: 0 0 40px;
		}
		.advice__item:last-of-type {
			margin-bottom: 0;
		}
		.advice__all-items {
			width: 100%;
			margin-top: 40px;
		}
	}

	.seo {
		padding: 80px 0;
	}

	.seo__block {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		position: relative;
		max-width: 1090px;
		width: 100%;
		text-align: right;
		margin: 70px auto 0;
	}

	.seo__inf {
		position: absolute;
		width: 523px;
		padding: 0 80px 75px;
		background-color: #f9f9f9;
		left: 0;
	}

	.seo__inf::after {
		position: absolute;
		content: "";
		left: 25%;
		right: 0;
		top: 45%;
		bottom: 0%;
		-webkit-box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.14);
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(-1, 0, 0, 1, 0, 0);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		background: #f9f9f9;
		z-index: -1;
	}

	.seo__description {
		border-top: 1px solid #121726;
		padding-top: 75px;
		line-height: 24px;
		color: #535F6E;
		-moz-text-align-last: left;
		text-align-last: left;
	}

	.seo__description p {
		margin-bottom: 30px;
	}

	.seo__description p:last-of-type {
		margin-bottom: 0;
	}

	.seo__image {
		max-width: 647px;
		z-index: -1;
	}

	.seo__image img {
		width: 100%;
	}

	.seo__information {
		max-width: 700px;
		color: #535F6E;
		margin: 80px auto 0;
	}

	.seo__information p {
		line-height: 24px;
		margin-bottom: 26px;
	}

	.seo__information ul {
		margin-bottom: 24px;
	}

	.seo__information li {
		line-height: 24px;
		margin-bottom: 17px;
	}

	.seo__information li:last-of-type {
		margin-bottom: 0;
	}

	.seo__information h3 {
		font-family: "GothamProMedium", sans-serif;
		font-size: 17px;
		line-height: 22px;
		color: #1E253A;
		margin: 50px 0 30px;
	}

	@media screen and (max-width: 1199px) {
		.seo__block {
			max-width: 912px;
		}
		.seo__inf {
			width: 43.6vw;
			padding: 0 50px 55px;
		}
		.seo__description {
			padding-top: 60px;
		}
		.seo__image {
			height: 42vw;
		}
		.seo__image img {
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	@media screen and (max-width: 991px) {
		.seo__block {
			margin-top: 50px;
		}
		.seo__inf {
			width: 52vw;
			padding: 0 40px 35px;
		}
		.seo__description {
			padding-top: 35px;
		}
		.seo__information {
			margin-top: 50px;
		}
		.seo__image {
			height: 35vw;
		}
	}

	@media screen and (max-width: 767px) {
		.seo {
			padding-top: 50px;
		}
		.seo__block {
			margin-top: 40px;
		}
		.seo__inf {
			width: 288px;
		}
		.seo__image {
			width: 56.3vw;
			height: 54vw;
		}
	}

	@media screen and (max-width: 575px) {
		.seo__inf {
			margin-top: 165px;
		}
		.seo__image {
			width: 100%;
		}
		.seo__information {
			margin-top: 275px;
		}
	}

	.bottom-inf {
		display: inline-block;
		width: 100%;
		padding: 0;
	}

	.bottom-inf__block {
		max-width: 1090px;
		width: 100%;
		margin: 0 auto;
	}

	.bottom-inf__tabs {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		border-bottom: 1px solid #DBDEE2;
		padding-bottom: 25px;
		margin-bottom: 40px;
	}

	.bottom-inf__tab {
		font-family: "GothamProMedium", sans-serif;
		font-size: 12px;
		line-height: 11px;
		text-transform: uppercase;
		color: #C8CBD1;
		margin: 0 40px;
	}

	.bottom-inf__tab.active {
		color: #121726;
	}

	.bottom-inf__tab.tag {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.bottom-inf__tab.tag::before {
		position: absolute;
		content: "";
		width: 16px;
		height: 16px;
		background: url("/img/svg/icon-teg.svg") no-repeat center;
		left: -24px;
	}

	.bottom-inf.delivery {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.bottom-inf.delivery::before {
		position: absolute;
		content: "";
		width: 12px;
		height: 20px;
		background: url("/img/svg/icon-map.svg") no-repeat center;
		left: -20px;
	}

	.bottom-inf .tab-inf {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.bottom-inf .tab-inf__items {
		width: 22%;
	}

	.bottom-inf .tab-inf ul {
		list-style: none;
		padding: 0;
	}

	.bottom-inf .tab-inf li {
		margin-bottom: 12px;
	}

	.bottom-inf .tab-inf li:last-of-type {
		margin-bottom: 0;
	}

	.bottom-inf .tab-inf a {
		font-size: 13px;
		line-height: 18px;
		color: #535F6E;
	}

	.bottom-inf .tab-inf__item {
		margin-bottom: 50px;
	}

	.bottom-inf .tab-inf__item:last-of-type {
		margin-bottom: 0;
	}

	@media screen and (max-width: 1199px) {
		.bottom-inf__block {
			max-width: 912px;
		}
		.bottom-inf .tab-inf {
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			padding: 0 60px;
		}
		.bottom-inf .tab-inf__items {
			width: 33.3%;
		}
		.bottom-inf .tab-inf__items.last-column {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			width: 100%;
			margin-top: 52px;
		}
		.bottom-inf .tab-inf__item {
			width: 33.3%;
		}
	}

	@media screen and (max-width: 991px) {
		.bottom-inf__tab {
			margin: 0 30px;
		}
		.bottom-inf .tab-inf {
			padding: 0;
		}
	}

	@media screen and (max-width: 767px) {
		.bottom-inf .tab-inf {
			padding: 0 40px;
		}
		.bottom-inf .tab-inf__items {
			width: 48%;
			margin-bottom: 40px;
		}
		.bottom-inf .tab-inf__items.last-column {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			width: 48%;
			margin-top: 0;
		}
		.bottom-inf .tab-inf__item {
			width: 100%;
			margin-bottom: 40px;
		}
	}

	@media screen and (max-width: 575px) {
		.bottom-inf__tabs {
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.bottom-inf__tab {
			width: 100%;
			margin-bottom: 20px;
		}
		.bottom-inf__tab:last-of-type {
			margin-bottom: 0;
		}
		.bottom-inf .tab-inf {
			padding: 0;
		}
		.bottom-inf .tab-inf__items {
			width: 100%;
		}
		.bottom-inf .tab-inf__item {
			margin-bottom: 25px;
		}
	}

	.advantages {
		padding: 80px 0;
	}

	.advantages__items {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		border-bottom: 1px solid #DBDEE2;
		padding-bottom: 40px;
	}

	.advantages__item {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width: 22%;
	}

	.advantages__img {
		margin-right: 24px;
	}

	.advantages__text {
		line-height: 24px;
		color: #535F6E;
	}

	@media screen and (max-width: 1199px) {
		.advantages__items {
			max-width: 912px;
			margin: 0 auto;
		}
		.advantages__item {
			width: 24%;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}
		.advantages__img {
			margin-right: 0;
			margin-bottom: 20px;
		}
		.advantages__text {
			font-size: 13px;
			line-height: 20px;
			text-align: center;
		}
	}

	@media screen and (max-width: 767px) {
		.advantages__items {
			border-bottom: none;
		}
	}

	@media screen and (max-width: 575px) {
		.advantages__items {
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.advantages__item {
			width: 48%;
			margin-bottom: 15px;
		}
	}

	h1, .h1, .head {
		font-family: "GothamProMedium", sans-serif;
		font-size: 30px;
		line-height: 40px;
		letter-spacing: -0.5px;
		color: #121726;
		margin-top: 0;
		margin-left: 50px;
	}

	h3, .h3 {
		font-family: "GothamProMedium", sans-serif;
		font-size: 17px;
		line-height: 22px;
		color: #121726;
	}

	h4, .h4 {
		font-family: "GothamProMedium", sans-serif;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #121726;
	}

	h5, .h5 {
		font-family: "GothamProMedium", sans-serif;
		font-size: 12px;
		text-transform: uppercase;
	}

	@media screen and (max-width: 1199px) {
		h1, .h1 {
			font-size: 26px;
		}
	}

	@media screen and (max-width: 991px) {
		h1, .h1 {
			margin-left: 0;
		}
	}

	@media screen and (max-width: 575px) {
		h1, .h1 {
			margin-bottom: 40px;
		}
	}
</style>
<div class="wrapper">
	<?php if($curr_lang == 'ru'){ ?>
	<h1 class="main-banner__head h1">Фешемебельный интернет магазин</h1>
	<? }else{ ?>
	<h1 class="main-banner__head h1">Фешемебельний інтернет магазин</h1>
	<? } ?>
</div>

<style>
.seo_h1 {
text-align: center;
    width: 100vw;
    margin: 0 0 15px 50%;
    padding: 30px 0;
    font-size: 18px;
    line-height: 16px;
    color: #2D4059;
    transform: translateX(-50%);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    white-space: nowrap;
}
.seo_h1:before {
margin-right: 20px;
content: "";
width: 100%;
height: 2px;
background: #fff;
}
.seo_h1:after {
margin-left: 20px;
content: "";
    width: 100%;
    height: 2px;
    background: #fff;
}
</style>
<?php
	require_once('./tools/Mobile_Detect.php');
	$detect = new Mobile_Detect;
?>
<div class="home-promo">
<?php foreach($home_banner as $val){ ?>
	<div class="home-promo-item">		
		<a href="<?php if($val['language_id'] == 1){echo $val['link'];}else{echo '/ua'.$val['link'];}?>" style="background-image: url('<?= $detect->isMobile() ? '/image/'.$val['image_mobile']: '/image/'.$val['image']; ?>?v=1.0'); cursor: pointer;">
			<!--strong class="home-promo-title"><?php echo $val['title']; ?></strong -->
		</a>
	</div>
<?php } ?>
</div>
<div class="container">
		<div class="row">
			<div id="content" class="col-sm-12"><?php echo $content_bottom; ?>


			</div>
			<?php echo $column_right; ?>
		</div>
</div>
<div class="wrapper-main">

	<?php if ($categories_home) { ?>
	<!-- popular -->
	<section class="popular">
		<div class="wrapper">
			<div class="popular__head h1"><?=$popular_head_title;?></div>
			<div class="popular__block">
				<div class="popular__kinds">
					<div class="popular__tabs">
						<?php foreach ($categories_home as $index=>$category_home) { ?>
							<div class="popular__tab">
								<p <?php if($index==0) { ?> class="active" <?php } ?> ><?=$category_home['name'];?></p>
								<ul <?php if($index==0) { ?> class="active" <?php } ?> >
									<?php foreach ($category_home['children'] as $index_children=>$children) { ?>
										<li <?php if($index_children==0) { ?> class="active" <?php } ?> >
											<div><a href="<?=$children['url'];?>"><span><?=$children['name'];?></span></a></div>
											<img src="<?=$children['image'];?>" alt="">
										</li>
									<?php } ?>
								</ul>
							</div>
						<?php } ?>
					</div>
				</div>
				<div class="popular__image"><a href="<?=$categories_home_url;?>"><img src="<?=$categories_home_image;?>" alt=""></a></div>
			</div>
		</div>
	</section>
	<!-- end popular -->
	<?php } ?>

	<?php if ($manufacturers) { ?>
	<!-- brand -->
	<section class="brand">
		<div class="wrapper">
			<div class="brand__head h1"><?=$brand_head_title;?></div>
			<div class="brand__slider">
				<?php foreach ($manufacturers as $manufacturer) { ?>
				<div class="brand__slide">
					<div class="brand__img"><img src="<?=$manufacturer['image'];?>" alt="<?=$manufacturer['name'];?>" title="<?=$manufacturer['name'];?>"></div>
				</div>
				<?php } ?>
			</div>
		</div>
	</section>
	<!-- end brand -->
	<?php } ?>

	<?php if ($informations_home) { ?>
		<!-- information -->
		<section class="information">
			<div class="wrapper">
				<div class="information__block">
					<div class="information__inf">
						<div class="information__items">
							<?php foreach ($informations_home as $information) { ?>
								<div class="information__item">
									<p class="information__text"><?=$information['name'];?></p>
									<a href="<?=$information['href'];?>" class="information__link" title="<?=$information['name'];?>">Подробнее</a>
								</div>
							<?php } ?>
						</div>
					</div>
					<div class="information__image"><img src="img/information.jpg" alt=""></div>
				</div>
			</div>
		</section>
		<!-- end information -->

	<?php } ?>

	<?php if ($projects) { ?>
	<!-- projects -->
	<section class="projects">
		<div class="wrapper">
			<div class="projects__head h1"><?=$projects_head_title;?></div>
			<div class="projects__slider">
				<?php foreach ($projects as $project) { ?>
					<div class="projects__slide">
						<div class="projects__img">
							<a class="thumbnails" href="<?=$project['thumb'];?>" title="<?=$project['name'];?>">
								<img src="<?=$project['image'];?>" alt="<?=$project['name'];?>" title="<?=$project['name'];?>">
							</a>
						</div>
					</div>
				<?php } ?>
			</div>
		</div>
	</section>
	<!-- end projects -->
	<?php } ?>


	<!-- were-see -->
	<div id="viewed" >






	</div>
	<!-- end	were-see -->
	<?php if ($partners) { ?>
	<!-- brand -->
	<section class="brand clients">
		<div class="wrapper">
			<div class="brand__head h1"><?=$partner_head_title;?></div>
			<div class="brand__slider">
				<?php foreach ($partners as $partner) { ?>
					<div class="brand__slide">
						<div class="brand__img"><img src="<?=$partner['image'];?>" alt="<?=$partner['name'];?>" title="<?=$partner['name'];?>"></div>
					</div>
				<?php } ?>

			</div>
		</div>
	</section>
	<!-- end brand -->
	<?php } ?>
	<!-- advice -->
	<?php if ($articles) { ?>
	<section class="advice">
		<div class="wrapper">
			<div class="advice__head h1"><?=$advice_head_title;?></div>
			<div class="advice__items">
				<?php foreach ($articles as $article) { ?>
				<div class="advice__item">
					<div class="advice__img"><a href="<?php echo $article['href']; ?>"><img src="<?php echo $article['thumb']; ?>" alt="<?php echo $article['name']; ?>"></a></div>
					<div class="advice__information">
						<div class="advice__date-see">
							<div class="advice__date"><?php echo $article['currentDate']; ?></div>
							<div class="advice__see"><?php echo $result['viewed']; ?></div>
						</div>
						<h3 class="advice__heading"><a href="<?php echo $article['href']; ?>"><?php echo $article['name']; ?></a></h3>
						<p class="advice__description"></p>
						<a href="<?php echo $article['href']; ?>" class="advice__read-more"><?=$text_more;?></a>
					</div>
				</div>
				<?php } ?>

			</div>
			<a href="<?=$url_articles;?>" class="advice__all-items"><?=$text_url_articles;?></a>
		</div>
	</section>
	<?php } ?>
	<!-- end advice -->
<!--is_main_page-->
	<!-- seo -->
	<section class="seo">
		<div class="wrapper">
			<h2 class="seo__head h1"><?=$config_description['name'];?></h2>
			<div class="seo__block">
				<div class="seo__inf">
					<div class="seo__description">
						<?=html_entity_decode($config_description['description_top']);?>
					</div>
				</div>
				<div class="seo__image"><img src="<?=$image;?>" alt="<?=$config_description['name'];?>"></div>
			</div>
			<think_text>
			<div class="seo__information">
				<?=html_entity_decode($config_description['description']);?>
			</div>
			</think_text>
		</div>
	</section>
	<!-- end seo -->

	<script>
		$(document).ready(function() {


			$('.popular__tab li').hover(function () {
				$('.popular__tab li.active').removeClass('active')
				$(this).addClass('active');

				var img1 = $('.popular__tab li.active img').attr('src');
				var link1 = $('.popular__tab li.active a').attr('href');

				$('.popular__image img').attr('src', img1);
				$('.popular__image a').attr('href', link1);
			})

			$('.popular__tab').click(function () {
				$('.popular__tab p').removeClass('active');
				$('.popular__tab ul').hide();
				$(this).find('p').addClass('active');
				$(this).find('ul').show();
				$(this).find('li:first').addClass('active');
			})

			$('#viewed').load('/index.php?route=product/product/viewed&product_id=0');
			$('.projects__slider').magnificPopup({
				type: 'image',
				delegate: 'a',
				gallery: {
					enabled: true
				}
			});
		});

	</script>
</div>
<?php echo $footer; ?>
