<?php if (count($languages) > 1) { ?>
<?php
	// start Tkach web-promo
	$url = $_SERVER['REQUEST_URI'];
	
	$url_ua = str_replace( '/ua/', '/', $url);
		
	if(substr($url_ua, 0, 1) == '/')
	{
		$url_ua = substr($url_ua, 1);
	}	
	
	if(substr($url_ua , -1) == '/')
	{
		$url_ua  = substr($url_ua , 0, -1);
	}


	  global $get_param;
?>

<div class="top-nav__langs">
  <div class="top-nav__langs-list btn-group">
    <?php foreach ($languages as $language) { ?>
<?php 

	$url_filt  = $_SERVER['REQUEST_URI'];
	if(substr($url_filt , -1) == '/')
	{
		$url_filt  = substr($url_filt, 0, -1);
	}
	
	$url_filt  = $_SERVER['REQUEST_URI'];
	if(substr($url_filt , -1) == '/')
	{
		$url_filt  = substr($url_filt, 0, -1);
	}

	$is_seo_url = strpos(end(explode( "/", strtok ($url_filt ,'?'))), "_");
	
	$is_mfp = strpos($_SERVER['REQUEST_URI'] ,'?mfp=');

	if($_SERVER['REQUEST_URI'] == '/'
	or $_SERVER['REQUEST_URI'] == '/ua/'
	or $_SERVER['REQUEST_URI'] == '/ua')
	{
		if ($language['code'] == 'ua'){
			$lang_url = '/ua/';
		}else{
			$lang_url = '/';
		}
	}elseif($filter){
		if(isset($_GET['page'])){
			$page = '?page='.$_GET['page'];
		}else{
			$page = '';
		}
		$url_ua = strtok($url_ua, '?');
		if ($language['code'] == 'ua'){
			if(_FILTER_LANGUAGE_ != $filter){
			$lang_url = '/ua/'. str_replace(_FILTER_LANGUAGE_, '', $url_ua).$filter.'/'.$page;
			}else{
			$lang_url = '/ua/'. $url_ua.'/'.$page;				
			}
		}else{
			if(_FILTER_LANGUAGE_ != $filter){
			$lang_url = '/'.str_replace(_FILTER_LANGUAGE_, '', $url_ua).$filter.'/'.$page;
			}else{
			$lang_url = '/'. $url_ua.'/'.$page;				
			}
		}
	}elseif($is_mfp){
		if ($language['code'] == 'ua'){
			$lang_url = '/ua/'. str_replace(end(explode( "/", $url_filt)), '', $url_ua);
		}else{
			$lang_url = '/'.str_replace(end(explode( "/", $url_filt)), '', $url_ua);
		}	
	}else{
		if ($language['code'] == 'ua'){
			$lang_url = '/ua/'.$url_ua;
		}else{
			$lang_url = '/'.$url_ua;
		}
	}
	
	if (substr($_SERVER['REQUEST_URI'], 0, 4) == '/ua/'){ $is_language = 'ua'; }else{ $is_language = 'ru'; }

	if($q = strstr($lang_url, '?')){		
		$lang_url = strtok($lang_url, '?');
	}
	


	
	if(strstr($q, '?page=')){
		preg_match("/(.*)\?page=([0-9]+)(.*)/", $q, $output_array);		
		$q = 'page-'.$output_array[2].'/'.$output_array[3];
//		$q = str_replace('?page=', 'page-', $q);
	}
		
	$lang_url = $lang_url.'/';
	
	// end web-promo
?>

<?php if($language['code'] == $is_language){ ?>
<span class="top-nav__langs-link"><?php echo $language['name']; ?></span>
<?php }else{ ?>
<a href="<?php echo '//'. $_SERVER['SERVER_NAME'] .str_replace('//', '/', str_replace('//', '/', $lang_url));?><?php if(!empty($q)){echo $q;}?><?=$get_param;?>" class="top-nav__langs-link"><?php echo $language['name']; ?></a>
<?php } ?>

  <?php } ?>
  </div>
</div>
<?php } ?>