/*
 * SimpleModal Contact Form
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: contact.css 254 2010-07-23 05:14:44Z emartin24 $
 */

/* Overlay */
#contact-overlay {background-color:#000; cursor:wait;}

/* Container */
#contact-container {font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; width:450px;}
#contact-container .contact-content {background-color:#333; color:#ddd; height:40px;}
#contact-container h1 {color:#d76300; font-size:20px; line-height:20px; margin:0; padding:0 0 6px 12px; text-align:left;}
#contact-container .contact-loading {height:55px; margin:-14px 0 0 190px; padding:0; position:absolute; width:54px; z-index:8000;}
#contact-container .contact-message {text-align:center;}
#contact-container .contact-error {background:#000; border:2px solid #ccc; font-size:14px; font-weight:bold; line-height:18px; margin:0 auto; padding:2px; width:92%;}
#contact-container br {clear:both;}
#contact-container form {margin:0; padding:0;}
#contact-container label {clear:left; display:block; float:left; font-weight:bold; padding-right:4px; text-align:right; width:100px;}
#contact-container .contact-input {background:#eee; border:1px solid #fff; font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; width:300px;}
#contact-container textarea {height:114px;}
#contact-container .contact-cc {cursor:default; font-size:14px; vertical-align:top;}
#contact-container .contact-top {background-color:#333; height:13px; margin:0; padding:0; -webkit-border-top-left-radius:8px; -webkit-border-top-right-radius:8px; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; border-radius:8px 8px 0 0;}
#contact-container .contact-bottom {background-color:#333; font-size:12px; height:40px; line-height:12px; text-align:center; -webkit-border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; -moz-border-radius-bottomright:8px; -moz-border-radius-bottomleft:8px; border-radius:0 0 8px 8px;}
#contact-container .contact-button {background:#d76300; border:0; color:#fff; cursor:pointer; font-size:16px; font-weight:bold; height:26px; margin:4px 0 0 4px; text-align:center; vertical-align:middle; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#contact-container .contact-button:hover {background:#f49000;}
#contact-container a.modal-close,
#contact-container a.modal-close:link,
#contact-container a.modal-close:active,
#contact-container a.modal-close:visited {color:#999; font-size:18px; font-weight:bold; position:absolute; text-decoration:none; right:15px; top:0px;}
#contact-container a.modal-close:hover {color:#ccc;}

.contact-content .q2::-webkit-input-placeholder {color: #929292; text-align: center;}
.contact-content .q2::-moz-placeholder          {color: #929292; text-align: center;}/* Firefox 19+ */
.contact-content .q2:-moz-placeholder           {color: #929292; text-align: center;}/* Firefox 18- */
.contact-content .q2:-ms-input-placeholder      {color: #929292; text-align: center;}
.contact-content .q2{
	border-radius: 12px;
	border: 1px solid #cccccc;
	padding: 4px 10px 4px 10px !important;
	width: 100%;
	color: #333333;
}
.contact-content .q2:focus, .btn-send:focus{
	box-shadow:none;
	outline:none;
}
.callback-box{
	margin: 0 110px 45px 110px;
}
.contact-content .btn-send {
    /* background-color: hsl(36, 100%, 40%); */
    background-repeat: repeat-x;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00") !important;
    background: #598536;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    fl: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00)) !important;
    background-image: -moz-linear-gradient(top, #ffad32, #cc7a00) !important;
    background-image: -ms-linear-gradient(top, #ffad32, #cc7a00) !important;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00)) !important; */
    /* background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00) !important; */
    background-image: -o-linear-gradient(top, #ffad32, #cc7a00) !important;
    /* background-image: linear-gradient(#ffad32, #cc7a00) !important; */
    /* border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%) !important; */
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33) !important; */
    /* -webkit-font-smoothing: antialiased; */
    /* color: #413f3f; */
    /* font-size: 15px; */
    font-family: 'Arial';
    /* border-radius: 12px !important; */
    /* width: 100%; */
}

#contact-container{
	height: auto !important;
	width: 342px !important;
	text-align: right;
}


#contact-container .q2{
	margin-bottom: 15px;
	padding: 0 20px !important;
}
.contact-send{
	border:0 !important;
	/*margin-bottom: 25px;
	height:32px;*/
	margin-bottom: 15px;
}
.contact-content{
	padding: 10px 30px 0 30px;;
	height: auto !important;
	border-radius: 0 0 10px 10px;
}
.contact-title{
	color: #FEE5B8 !important;
	font-size: 19px !important;
	font-family: 'AvantGardeGothicC';
	text-transform:uppercase;
	margin-bottom: 8px !important;
	text-align: center !important;
}

#contact-container .q2 {
	font-family: Arial;

}

.contact-top {
	display: none;
}