<?php $_SESSION['URI'] = '//'.$_SERVER['SERVER_NAME'].'/'.$_SERVER['REQUEST_URI']; ?>
<?php echo $header; ?>
<?php $img_url = ''; ?>
<?php
$min_price = 9999999999999999;
$max_price = 0;

$arr = array(
	1 => '🛏',
	2 => '👍',
	3 => '🪑',
);
?>
<script>
    gtag('event', 'page_view', {
        'send_to': 'AW-971613570',
            'ecomm_prodid' : <?php echo $products_id; ?>,
    'ecomm_pagetype': 'category',

    });
</script>

<?php
	if ($min_price_prods && $max_price_prods){
		echo "<!--dg_min_cat_price:".$min_price_prods.";;dg_max_cat_price:".$max_price_prods."-->";
	}
	if ($arr_lower_price_prods){
		foreach ($arr_lower_price_prods as $single_lower_price_prod) {
			echo "<!--dg_lower_price_prod_h1:".$single_lower_price_prod['h1'].";;dg_lower_price_prod_url:".$single_lower_price_prod['url']."-->";
		}
	}
	if ($arr_random_prods_of_cat){
		foreach ($arr_random_prods_of_cat as $single_lower_price_prod) {
			echo "<!--dg_random_cat_prod_h1:".$single_lower_price_prod['h1'].";;dg_random_cat_prod_url:".$single_lower_price_prod['url']."-->";
		}
	}
?>

<div style="background-color: #f9f9f9">


<?php if ($thumb_banner) { ?>
<!-- categories-ban -->
<section class="categories-ban">
	<div class="wrapper">
		<div class="categories-ban__img"><img src="<?php echo $thumb_banner; ?>" alt="<?php echo $heading_title; ?>"></div>
	</div>
</section>
<!-- end categories-ban -->
<?php } ?>

<!-- breadcrumbs -->
<section class="breadcrumbs ">
	<div class="wrapper">
		<ul class="breadcrumbs__items">
			<?php $breadcrumbs_item = 0;
			 foreach ($breadcrumbs as $breadcrumb) { ?>
				<li class="breadcrumbs__item">
					<a href="<?php echo $breadcrumb['href']; ?>"><span><?php echo $breadcrumb['text']; ?></span></a>
				</li>
			<?php } ?>
			<!--ss_breadcrums_list:<?php foreach ($breadcrumbs as $k=>$breadcrumb) { ?><?php echo $breadcrumb['text']; ?><?php if(count($breadcrumb) != $k) { ?> >> <?php } ?><?php } ?>-->
		</ul>
	</div>
</section>
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				<?php $breadcrumbs_item = 0;?>
				<?php foreach ($breadcrumbs as $breadcrumb) { ?>
				<?php $breadcrumbs_item++; ?>
				{
					"@type": "ListItem",
					"position": <?=$breadcrumbs_item;?>,
					"name": "<?php echo $breadcrumb['text']; ?> <?=$arr[$breadcrumbs_item];?>",
					"item": "<?php echo $breadcrumb['href']; ?>"
				}<?php if($breadcrumbs_item!=count($breadcrumbs)) echo ','; ?>


				<?php } ?>
			]

		}

	</script>

<!-- end breadcrumbs -->

<!-- categories-views -->
<section class="categories-views">
	<div class="wrapper">
		<h1 class="categories-views__head h1"><?php echo $heading_title; ?></h1>
		<?php if ($categories) { ?>
		<div class="minwrapper">
			<div class="categories-views__items">
				<?php foreach ($categories as $category) { ?>
				<div class="categories-views__item">
					<a href="<?php echo $category['href']; ?>" class="categories-views__img-link"><img class="categories-views__img" src="<?php echo $category['thumb']; ?>" alt="<?php echo $category['name']; ?>"></a>
					<a href="<?php echo $category['href']; ?>" class="categories-views__link h3"><?php echo $category['name']; ?></a>
				</div>
				<?php } ?>
			</div>
		</div>
		<?php } ?>
	</div>
</section>
<!-- end	categories-views -->


<!-- categories-goods -->
<section class="categories-goods" style="display: none;">
	<div class="wrapper">
		<div class="categories-goods__block">
			<?php if ($products) { ?>
				<div class="categories-goods__items">

				</div>
			<?php } ?>

		</div>
	</div>
</section>

<div class="wrapper">


  <header class="category-header row">
  
  <meta property="og:type" content="website" />
			<meta property="og:title" content="<?=$heading_title;?>" />
			<meta property="og:url" content="<?='https://feshmebel.com.ua'.$_SERVER['REQUEST_URI']?>" />
			<meta property="og:description" content="Ищешь '<?=$heading_title;?>'? Заходи и выбирай прямо сейчас!" />
			<meta property="article:author" content="https://www.facebook.com/feshemebel/" />
			<meta property="twitter:card" content="summary" />
			<meta property="twitter:title" content="<?=$heading_title;?>" />
			<meta property="twitter:description" content="Ищешь '<?=$heading_title;?>'? Заходи и выбирай прямо сейчас!" />
			<meta property="og:image" content="<?=$products[0]['thumb']?>" />
			<meta property="twitter:image" content="<?=$products[0]['thumb']?>" />
			<meta property="og:publisher" content="https://www.facebook.com/feshemebel/" />
			<meta property="og:site_name" content="Интернет магазин мебели Фешемебельный" />
  
	  <!-- h1 class="category-title bordered-title col-sm-5"><?php echo $heading_title; ?></h1 -->
	  <!--ss_category_name:<?php echo $heading_title; ?>-->
	  <?php if(!isset($_GET['sort']) && !$noindex ){ ?>

	  <?php
	  	$f=0;
	  	$heading_title_tmp = explode(': ',$heading_title);
	  	if(isset($heading_title_tmp[1]))
	  	{
	  	$f++;
	  		$heading_title_tmp = explode(', ',$heading_title_tmp[1]);
	  		foreach($heading_title_tmp as $item)
	  		{ ?>
	  			<!--ss_selected_filters_info|<?php echo str_replace( ' - ','|',$item); ?>-->
	  		<?php
	  		}
	  	}
	  ?>

	  <?php
	  	$heading_title_tmp = explode(' (',$heading_title);
	  	if(isset($heading_title_tmp[1]))
	  	{
	  		$f++;
	  		$heading_title_tmp = explode(')',$heading_title_tmp[1]);


	  		 ?>
	  <!--ss_selected_filters_info|<?php echo str_replace( ' - ','|',$heading_title_tmp[0]); ?>-->
	  <?php

	  	}

	  ?>
	  <?php if($f){ ?>
	  <!--seoshield_formulas--fil-traciya-->
	  <?php } ?>
	  <?php } ?>
	  <?php if ($products) { ?>

  </header>

  <div class="row">



    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content"><?php echo $content_top; ?>

     <!--  <?php echo $class; ?> -->
		<style>
			.category-product-list
			{
				margin: 0;
			}
			.product-list .product-layout
			{
				position: relative;
			}
			.privat
			{
				position: absolute;
				right: 0;
				z-index: 1;
			}
			.privat img
			{
				height: 40px;
				width: 40px;
				margin-left: -50px;
				margin-top: 10px;
			}
			.show-more-btn
			{
				cursor: pointer;
				display: inline-block;

				padding: 10px 20px;
				color: #2d4059;
				border: 1px solid #2d4059;
				background-color: transparent;
				text-transform: uppercase;
				font-size: 10px;

				line-height: 10px;
				margin: 5px auto;
				transition: background-color .5s ease,color .5s ease;
			}
			.show-more-text
			{
				cursor: pointer;
				display: inline-block;

				padding: 10px 20px;
				color: #2d4059;
				border: 1px solid #2d4059;
				background-color: transparent;
				text-transform: uppercase;
				font-size: 10px;

				line-height: 10px;
				margin: 5px auto;
				transition: background-color .5s ease,color .5s ease;
				margin-top: 20px;
			}
			@media all and (min-width: 611px) {
				.privat {

					left: 0px;
				}
				.product-layout .privat img.bestseller
				{
					position: relative;
					float: right;
					margin: 0;
					padding: 0;
				}
				.product-layout .privat img.sale_status
				{
					margin: 0;
					padding: 0;
					position: relative;
					z-index: 1;
					width: 100px;
					height: inherit;
					top: 0px;
				}
			}
			.btn-show-filter-box
			{
				display: none;
			}
			.categories-goods__label.youtube
			{
				left: inherit;
				right: 9px;
				background: transparent;
				background-image: url("/image/catalog/youtube.png");
				background-size: 40px 40px;
				background-repeat: no-repeat;
				width: 40px;
				height: 40px;
				top: 1px;

			}
			@media all and (max-width: 610px) {
				/*
				#content,
				#content *
				{
					padding: 0;
					margin: 0;
				}

				 */
				#content .faq-content__answer-text
				{
					padding: 10px;
				}

				#content .stagh2
				{
					margin-top: 10px;
					margin-bottom: 10px;
				}

				#content .categories-title
				{
					padding-bottom: 10px;
				}
				#content button.button-cart-p
				{
					width: 100%;
					padding: 10px;
				}

				#content  .btn-show-filter-box
				{
					display: block;
				}
				#content .btn-show-filter
				{
					background: linear-gradient(to bottom, #FFD015 0%, #F9B706 100%);
					text-align: center;
					display: block;
					width: 100%;
					padding: 5px 0 ;
					font-weight: bold;
				}
				#content .btn-show-filter svg {
					margin-right: 10px;
					display: inline-block;
					width: 16px;
					height: 16px;
					vertical-align: middle;
				}
				.product-thumb .caption .old-h4
				{
					height: 36px;
					font-size: 14px;
					text-align: center;
					overflow: hidden;
				}
				.general_img .thumbnail .sale_status, .product-thumb .image-home .sale_status, .product-thumb .image .sale_status,
				.privat,
				img.recommended, img.bestseller
				{
					position: relative;
				}
				.privat
				{
					height: 30px;
				}
				#content .product-layout .sale_status
				{
					padding: 5px;

				}
				.privat
				{

					display: block;
				}
				.product-list .product-thumb
				{
					display: block;
				}
				.category-list-item
				{
					margin: 0;
					width: 25%;
				}
				.product-list .product-layout
				{
					width: 50%;
					margin: 0;
					display: inline-block;
					padding: 5px;
				}
				#content .product-list .product-layout
				{
					padding: 5px;
				}
				#content .product-layout .form-group .show-more-box
				{
					height: 30px;
				}
				#content .product-layout .select-colors
				{
					height: 30px;
				}
				.rating-box
				{
					height: 20px;
				}
				#content .product-layout .form-group .show-more
				{
					float: none;
					display: block;
					padding: 10px;
					text-align: center;

				}
				#content .product-thumb .price {
					color: #2d4057;
				}

				#content .show-more-btn
				{
					padding: 10px;
					display: inline-block;
					width: calc(100% - 20px);
				}
				#content .pagination>li>a, #content .pagination>li>span
				{
					padding: 10px;
				}
				#content .category-select-group .category-select label
				{
					text-align: center;
					display: block;
					width: 100%;
				}
				#content .category-select-group .category-select
				{
					width: 50%;
					text-align: center;
				}
				#content .wish-buttons-card button
				{
					padding: 10px 0;
					margin: 0;
					width: 48%;
					text-align: center;
				}
				.product-layout .privat img.sale_status
				{
					width: calc(100% - 44px);
					height: inherit;
				}
				.product-layout .privat img.bestseller
				{
					float: right;
				}
				.product-thumb .price
				{
					font-size: 12px!important;
				}
				.product-thumb .price .listing_text_price
				{
					font-size: 11px!important;
				}
				.product-thumb .price #oldPrice
				{
					font-size: 12px!important;
				}
			}

		</style>


		<div class="">
			<div class="col-sm-12">
				<div class="category-select-group">
					<div class="category-select">
						<label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							<?php foreach ($sorts as $sorts) { ?>
							<?php if ($sorts['value'] == $sort . '-' . $order) { ?>
							<option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
							<?php } else { ?>
							<option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
							<?php } ?>
							<?php } ?>
						</select>
					</div>

					<div class="category-select hidden-xs">
						<label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
						<select id="input-limit" class="form-control" onchange="location = this.value;">
							<?php foreach ($limits as $limits) { ?>
							<?php if ($limits['value'] == $limit) { ?>
							<option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
							<?php } else { ?>
							<option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
							<?php } ?>
							<?php } ?>
						</select>
					</div>
					<div class="category-select btn-show-filter-box">
						<label class="control-label" for="input-limit">&nbsp;</label>
						<div class="btn-show-filter">
							<svg viewBox="0 0 512 512"><path d="m191.8,480.6v-174.3l-177.3-263.5c-7.2-8.3-4.1-31.1 16.9-31.8h449.2c12.2,0 27.7,14.4 16.9,31.8l-177.3,263.5v108.2c0,6.4-3,12.4-8.1,16.3l-87.6,66.1c-5,5.6-30.1,9.3-32.7-16.3zm-122-428.8l159.4,236.9c2.3,3.4 3.5,7.3 3.5,11.4v139.6l46.8-35.3v-104.3c0-4.1 1.2-8 3.5-11.4l159.2-236.9h-372.4z"></path></svg>
							Фильтры
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
		<?php echo $column_left;?>
      <div class="row product-list category-product-list" >


	<!--isset_listing_page-->
		  <?php foreach ($products as $product) { ?>

		  <div class="categories-goods__item">
			  <div class="thisIsOriginal" style="visibility: hidden; height:0px;"><?php echo (!empty( $product['special']) ?  $product['special'] : $product['price'] ); ?></div>
			  <div class="thisIsOriginalspecial" style="visibility: hidden; height:0px;"><?php echo  $product['special']; ?></div>
			  <div class="categories-goods__information">
				  <?php if($product['sale_status_image']){ ?>
				  <div class="categories-goods__label" style="background-color: #<?=$product['sale_status_color'];?>;" ><?=$product['sale_status_name'];?></div>
				  <?php } ?>
				  <?php if($product['youtube']){ ?>
				  <div class="categories-goods__label youtube" >

				  </div>
				  <?php } ?>
				  <div class="categories-goods__image">
					  <a href="<?php echo $product['href']; ?>">
						  <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>">
					  </a>
				  </div>
				  <div class="categories-goods__rating">
					  <?php if ($product['rating']) { ?>
					  <div class="rating">
						  <?php for ($i = 1; $i <= 5; $i++) { ?>
						  <?php if ($product['rating'] < $i) { ?>
						  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
						  <?php } else { ?>
						  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
						  <?php } ?>
						  <?php } ?>
					  </div>
					  <?php } ?>
				  </div>
			  </div>
			  <div class="categories-goods__price">
				  <div class="categories-goods__link"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
				  <div class="categories-goods__price-block">
					  <?php if ($product['price']) { ?>

						  <?php if (!$product['special']) { ?>
						  <?php if(isset($product['old_price']) && $product['old_price'] > 0){ ?>
						  <div class="categories-goods__old-price">
							  <!-- div class="categories-goods__discount">-3001</div -->
							  <div class="categories-goods__before-discount"><?php echo ceil($product['old_price']).' грн.'; ?></div>
						  </div>
						  <?php } ?>
						  <div class="categories-goods__new-price"><?php echo $product['price']; ?></div>
						  <?php } else { ?>
						  <div class="categories-goods__old-price">
							  <!-- div class="categories-goods__discount">-3001</div -->
							  <div class="categories-goods__before-discount"><?php echo $product['price']; ?></div>
						  </div>
						  <div class="categories-goods__new-price"><?php echo $product['special']; ?></div>
						  <?php } ?>

					  <?php } ?>
				  </div>
				  <div class="categories-goods__options">

					  <?php
										//start Tkach web-promo
										$option_nomer = '';
										$select_nomer = '';
										// end

										uasort($product['options'], function($a, $b){
											if ($a['option_id'] === $b['option_id']) return 0;
											return $a['option_id'] < $b['option_id'] ? -1 : 1;
											}
										);

										$is_sortoption_id = 0;

										foreach($product['options'] as $val){
											if($val['sort_option']){
												$is_sortoption_id = $val['option_id'];
												break;
											}
										}

										?>
					  <?php foreach ($product['options'] as $option) { ?>
					  <?php if (!$is_sortoption_id) { ?>
					  <?php if ($option['type'] == 'select') { ?>
					  <?php
													// start Tkach web-promo
													if (!isset($select_nomer) or empty($select_nomer)){
														$select_nomer = trim($option['product_option_id']);
													}else{
														$select_nomer = trim($select_nomer) .', '.trim($option['product_option_id']);
													}
													// end
													?>
					  <div class="form-group">
						  <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
						  <div class="varSelectWrap">
							  <select name="option[<?php echo $option['product_option_id']; ?>] " id="input-option<?php echo $option['product_option_id']; ?>" class="form-control varSelect change-price">
								  <option value=""><?php echo $text_select; ?></option>
								  <?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++; ?>
								  <option  price="<?php echo $option_value['price']; ?>" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'selected="selected"'; ?>><?php echo $option_value['name']; ?>
								  <?php if ($option_value['price']) { ?>
								  (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
								  <?php } ?>
								  </option>
								  <?php } ?>
							  </select>
						  </div>
					  </div>
					  <?php } ?>


					  <?php if ($option['type'] == 'image') { ?>
					  <?php
													// start Tkach web-promo
													if (!isset($option_nomer) or empty($option_nomer)){
														$option_nomer = $option['product_option_id'];
													}else{
														$option_nomer = $option_nomer .', '.$option['product_option_id'];
													}
													// end
													?>
					  <div class="form-group">
						  <label class="control-label"><?php echo $option['name']; ?></label>
						  <div class="select-colors">
							  <div id="input-option<?php echo $option['product_option_id']; ?>" class="wrap-select-colors">
								  <?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++;?>
								  <div class="radio radio-image">
									  <label title="<?php echo $option_value['name'] ?>" class="change-price">
										  <input  price="<?php echo $option_value['price']; ?>"  class="radio-img" type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'checked="checked"'; ?>/>
										  <img style="width: 30px;" src="<?php if(isset($option_value['image'])){ echo $option_value['image'];} ?>" data-oldprodimg="<?php echo $product['thumb']; ?>" <?=$option_value['image_prod']?'data-prodimg = "'.$option_value['image_prod'].'"':'' ?> alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" />
										  <span class="hidden-descr"><?php echo $option_value['name']; ?>
											  <?php if ($option_value['price']) { ?>
											  (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
											  <?php } ?>
																			</span>
									  </label>
								  </div>
								  <?php } ?>
							  </div>
						  </div>
						  <div class="show-more-box">
							  <?php if($curr_lang == 'ru'){ ?>
							  <a href="javascript:void(0);" style="display: none;" class="show-more">ещё</a>
							  <?php }else{ ?>
							  <a href="javascript:void(0);" style="display: none;" class="show-more">ще</a>
							  <?php } ?>
						  </div>

					  </div>
					  <?php } ?>

					  <?php break; ?>
					  <?php }elseif($is_sortoption_id && $is_sortoption_id == $option['option_id']){ ?>
					  <?php if ($option['type'] == 'select') { ?>
					  <?php
															// start Tkach web-promo
															if (!isset($select_nomer) or empty($select_nomer)){
																$select_nomer = trim($option['product_option_id']);
															}else{
																$select_nomer = trim($select_nomer) .', '.trim($option['product_option_id']);
															}
															// end
														?>
					  <div class="form-group">
						  <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
						  <div class="varSelectWrap">
							  <select name="option[<?php echo $option['product_option_id']; ?>] " id="input-option<?php echo $option['product_option_id']; ?>" class="form-control varSelect change-price">
								  <option value=""><?php echo $text_select; ?></option>
								  <?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++; ?>
								  <option  price="<?php echo $option_value['price']; ?>" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'selected="selected"'; ?>><?php echo $option_value['name']; ?>
								  <?php if ($option_value['price']) { ?>
								  (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
								  <?php } ?>
								  </option>
								  <?php } ?>
							  </select>
						  </div>
					  </div>
					  <?php } ?>


					  <?php if ($option['type'] == 'image') { ?>
					  <?php
														// start Tkach web-promo
														if (!isset($option_nomer) or empty($option_nomer)){
															$option_nomer = $option['product_option_id'];
														}else{
															$option_nomer = $option_nomer .', '.$option['product_option_id'];
														}
														// end
													?>
					  <div class="form-group">
						  <label class="control-label"><?php echo $option['name']; ?></label>
						  <div class="select-colors">
							  <div id="input-option<?php echo $option['product_option_id']; ?>" class="wrap-select-colors">
								  <?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++;?>
								  <div class="radio radio-image">
									  <label title="<?php echo $option_value['name'] ?>" class="change-price">
										  <input  price="<?php echo $option_value['price']; ?>"  class="radio-img" type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'checked="checked"'; ?>/>
										  <img style="width: 30px;" src="<?php if(isset($option_value['image'])){ echo $option_value['image'];} ?>" data-oldprodimg="<?php echo $product['thumb']; ?>" <?=$option_value['image_prod']?'data-prodimg = "'.$option_value['image_prod'].'"':'' ?> alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <span class="hidden-descr"><?php echo $option_value['name']; ?>
											  <?php if ($option_value['price']) { ?>
											  (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
											  <?php } ?></span>
									  </label>
								  </div>
								  <?php } ?>
							  </div>
						  </div>
						  <div class="show-more-box">
							  <?php if($curr_lang == 'ru'){ ?>
							  <a href="javascript:void(0);" style="display: none;" class="show-more">ещё</a>
							  <?php }else{ ?>
							  <a href="javascript:void(0);" style="display: none;" class="show-more">ще</a>
							  <?php } ?>
						  </div>
					  </div>
					  <?php } ?>
					  <?php } ?>
					  <?php } ?>

				  </div>
				  <div class="categories-goods__actions">
					  <?php if (!empty($product['stock_image'])) { ?>
					  <img class="stock_image" src="<?=$product['stock_image'];?>">
					  <?php } else { ?>
						  <div class="categories-goods__wish" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"></div>
						  <div class="categories-goods__compare" onclick="compare.add('<?php echo $product['product_id']; ?>');"></div>
							  <?php if (strpos( $product['stock_status'],'жида') !== false) { ?>
					  			<div class="categories-goods__buy" ><span><?php echo $button_expect; ?></span></div>
					  		<?php } elseif (strpos( $product['stock_status'],'продажи') !== false) { ?>

						  		<div class="categories-goods__buy" ><span><?php echo $button_out_of_sale; ?></span></div>

					  <?php } elseif (strpos( $product['stock_status'],'Предзаказ') !== false) { ?>
						  <div class="categories-goods__buy" onclick="cart.productadd('<?php echo $product['product_id']; ?>', ['<?php if (isset($option_nomer)){ echo trim($option_nomer); } ?>'], ['<?php if (isset($select_nomer)){ echo trim($select_nomer); } ?>']);"><span><?php echo $button_toorder1; ?></span></div>

						  <?php } else { ?>
						  <div class="categories-goods__buy" onclick="cart.productadd('<?php echo $product['product_id']; ?>', ['<?php if (isset($option_nomer)){ echo trim($option_nomer); } ?>'], ['<?php if (isset($select_nomer)){ echo trim($select_nomer); } ?>']);"><span><?php echo $button_cart; ?></span></div>

						  <?php } ?>
					  <?php } ?>


				  </div>

			  </div>
		  </div>

		  <?php } ?>

	  </div>
		<div style="text-align: center;">
			<span class="show-more-btn ">Показать еще</span>
		</div>
		</div>
      <div class="">
        <div class="text-right"><?php echo $pagination; ?></div>
        <!-- <div class="col-sm-6 text-right"><?php echo $results; ?></div> -->
      </div>
      <?php } //------------------------------------ ?>
      <!-- links_block -->
	  
	
      <style>
      	.content_bottom
      	{
      		padding: 0;
      		margin: 0;
      	}
      	.content_bottom .product-layout img
      	{
      		max-width: 100%;
      		display: block;
      	}
		#content .product-reviews
		{
			padding: 10px 0;
			float: left;
		}
		#content .product-review
		{
			padding-bottom: 20px;
			width: calc(100% - 0px);
		}
		.seo_text.short_text {
			max-height: 200px;
			overflow: hidden;
			position: relative;
		}
		@media (max-width: 610px)
		{
			#content .product-review-image
			{
				float: none !important;
				text-align: center;
				margin: 0;
				margin-bottom: 10px;
			}
		}
      </style>
		<?php if ($reviews_cat) { ?>
		<!-- advice -->
		<section class="advice">
			<div class="wrapper">
				<h2 class="advice__head h1">Отзывы</h2>
				<div class="">
					<?php foreach ($reviews_cat as $article) { ?>
					<div class="advice__item">
						<div class="advice__img"><a href="<?php echo $article['href']; ?>"><img src="<?php echo $article['thumb']; ?>" alt="<?php echo $article['name']; ?>"></a></div>
						<div class="advice__information">
							<div class="advice__date-see">
								<div class="advice__date">Отзыв к товару: </div>

							</div>
							<h3 class="advice__heading"><a href="<?php echo $article['href']; ?>"><?php echo $article['name']; ?></a></h3>
							<div style="    padding: 10px 0;">
								<?php if($article['rating']>0){ ?>
								<div class="product-review-rating" >
									<?php for ($i = 1; $i <= 5; $i++) { ?>
									<?php if ($article['rating'] < $i) { ?>
									<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
									<?php } else { ?>
									<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
									<?php } ?>
									<?php } ?>
								</div>
								<?php } ?>
							</div>
							<div class="advice__date-see">
								<div class="advice__date" style="    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;"><?php echo $article['author']; ?>: </div>

							</div>
							<p class="advice__description"><?php echo $article['text']; ?></p>

						</div>
					</div>
					<?php } ?>


				</div>


			</div>
		</section>
		<!-- end advice -->
		<?php } ?>
<!--is_category_page-->
		<!-- seo -->
		<section class="seo">
			<div class="wrapper">

				<div class="seo__information">
					<div class="content_bottom">
					<think_text>

						<?php
						if(isset($description) and strlen($description) > 100){
							echo '<!--seo_text_start-->'.$description.'<!--seo_text_end-->';
						}else{ ?>
							<!--seo_text_start--><!--seo_text_end-->

							<?php echo $text_seo; ?>
						<?php } ?>
					</think_text>
				</div>
			</div>
		</section>
		<!-- end seo -->




		  <?php if ($articles) { ?>
		
		<!-- advice -->
		<section class="advice">
			<div class="wrapper">
				<h2 class="advice__head h1"><?php echo $blog_title;?></h2>
				<div class="advice__items">
					<?php foreach ($articles as $article) { ?>
						<div class="advice__item">
							<div class="advice__img"><a href="<?php echo $article['href']; ?>"><img src="<?php echo $article['thumb']; ?>" alt="<?php echo $article['name']; ?>"></a></div>
							<div class="advice__information">
								<div class="advice__date-see">
									<div class="advice__date"><?php echo $article['currentDate']; ?></div>
									<div class="advice__see"><?php echo $result['viewed']; ?></div>
								</div>
								<h3 class="advice__heading"><a href="<?php echo $article['href']; ?>"><?php echo $article['name']; ?></a></h3>
								<p class="advice__description"></p>
								<a href="<?php echo $article['href']; ?>" class="advice__read-more"><?=$text_more;?></a>
							</div>
						</div>
					<?php } ?>


				</div>
				<div class="text-center">
					<a href="/articles/" class="advice__all-items">все статьи</a>
				</div>

			</div>
		</section>
		<!-- end advice -->


		  <?php } ?>
		  <?php if(true) { ?>
<style>
	.stagh2
	{
 		font-weight: bold;
		font-size: 24px;
		text-align: center;
		display: block;
		padding-top: 10px;
		margin-bottom: 10px;
	}
	.faq-content__question
	{
		font-weight: bold;
		font-size: 16px;
		padding: 10px 0;
		display: block;
	}
	.faq-content__answer-text
	{
		font-size: 14px;
		display: block;
		padding: 10px 0;
	}
	.td
	{
		display: inline-block;
		width: calc(50% - 20px);
		padding: 10px;
	}

</style>
		  <h2 class="text-center"><?=$faq_title;?> <?php echo mb_strtolower($heading_title,'utf-8'); ?></h2>
		  <div class="faq-content__list" itemscope="" itemtype="https://schema.org/FAQPage">
			  <?php if(count($products_top)) { ?>
			  <div class="faq-content__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
				  <h3 itemprop="name" class="faq-content__question box-row align-center space-between">
					  <?=$faq_title1;?>
				  </h3>
				  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"
					   class="faq-content__answer box-col animated fadeIn">
					  <div itemprop="text" class="faq-content__answer-text">
						  <p><?=$faq_sub1;?>:</p>
						  <ul>
							  <?php foreach($products_top as $k=>$product) { ?>
							  <li><a href="<?=$product['href']?>"><?=$product['name']?></a></li>
							  <?php } ?>
						  </ul>
					  </div>
				  </div>
			  </div>
			  <?php } ?>
			  <div class="faq-content__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
				  <h3 itemprop="name" class="faq-content__question box-row align-center space-between">
					  <?=$faq_title2;?>
				  </h3>
				  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"
					   class="faq-content__answer box-col animated fadeIn">
					  <div itemprop="text" class="faq-content__answer-text">
						  <p><?=$faq_sub2;?><?=$products_min[0]['price'];?>:</p>
						  <ul>
							  <?php foreach($products_min as $product) { ?>
							  	<li><a href="<?=$product['href']?>"><?=$product['name']?></a></li>
							  <?php } ?>
						  </ul>

					  </div>
				  </div>
			  </div>
			  <?php if(count($products_special)) { ?>
				  <div class="faq-content__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
					  <h3 itemprop="name" class="faq-content__question box-row align-center space-between">
						  <?=$faq_title3;?>
					  </h3>
					  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"
						   class="faq-content__answer box-col animated fadeIn">
						  <div itemprop="text" class="faq-content__answer-text">
							  <p><?=$faq_sub3;?>:</p>
							  <ul>
								  <?php foreach($products_special as $k=>$product) { ?>
									<li><a href="<?=$product['href']?>"><?=$product['name']?></a></li>
								  <?php } ?>
							  </ul>
						  </div>
					  </div>
				  </div>
			  <?php } ?>
			  <div class="faq-content__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
				  <h3 itemprop="name" class="faq-content__question box-row align-center space-between">
					  <?=$faq_title4;?>
				  </h3>
				  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"
					   class="faq-content__answer box-col animated fadeIn">
					  <div itemprop="text" class="faq-content__answer-text">
						  <p><?=$faq_sub4;?></p>
						  <ul>
							  <?php foreach($products as $k=>$product) { ?>
							  <li><a href="<?=$product['href']?>"><?=$product['name']?></a></li>
							  <?php if($k==2) break; ?>
							  <?php } ?>
						  </ul>

					  </div>
				  </div>
			  </div>
			  <div class="faq-content__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
				  <h3 itemprop="name" class="faq-content__question box-row align-center space-between">
					  <?=$faq_title5;?>
				  </h3>
				  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"
					   class="faq-content__answer box-col animated fadeIn">
					  <div itemprop="text" class="faq-content__answer-text">
						  <?=$faq_sub5;?> <?=$products_min[0]['price'];?> до <?=$products_max[0]['price'];?>.</p>
					  </div>
				  </div>
			  </div>
		  </div>
		  <?php } ?>
			<?php if($osobennosti_arr) { ?>
				<h2><?=$osobennosti_h2;?></h2>
				<ul>
				<?php foreach ($osobennosti_arr as $item) { ?>
					<li><a href="<?=$item['href'];?>"><?=$item['text'];?></a></li>
				<?php } ?>
				</ul>
			<?php } ?>
		<?php if($tsvet_arr) { ?>
			<h2><?=$tsvet_h2;?></h2>
		<style>
			.items
			{
				margin: 0;
				padding: 0;
			}
			.items li
			{
				display: inline-block;
				width: 50%;
			}
		</style>
		<ul class="items">
			<?php foreach ($tsvet_arr as $item) { ?>
			<li><a href="<?=$item['href'];?>"><?=$item['text'];?></a></li>
			<?php } ?>
		</ul>
			<?php } ?>
		  <?php echo $content_bottom; ?>
      </div>
    </div>
    <?php echo $column_right; ?></div>
</div>
<?php if (!$categories && !$products) { ?>
<div class="container no-items">
	<p><?php echo $text_empty; ?></p>
	<a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a>
	
	<?php if (count($product_interest)) { ?>
	  <h3 class="prod-interest"><?=$prod_interest?></h3>
      <div class="row product-list product-interest category-product-list">
	<?php $i = 0; ?>
        <?php foreach ($product_interest as $product) { ?>
        <?php if ($product_id == $product['product_id']) continue; ?>
        
        <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
	   <div class="lable">
                <?php if($product['bestseller']){ ?>
                <img class="bestseller" src="image/catalog/lable/bestseller.png?v=1.0" alt="bestseller">
                <?php } ?>
                <?php if($product['recommended']){ ?>
                <img class="recommended" src="image/catalog/lable/recommended.png?v=1.0" alt="recommended">
                <?php } ?>
            </div>

          <div class="product-thumb" id="product<?php echo  $product['product_id']; ?>">
          <!-- start Tkach web-promo Dynamic price -->
          <div id="thisIsOriginal" style="visibility: hidden; height:0px;"><?php echo  $product['price']; ?></div>
          <div id="thisIsOriginalspecial" style="visibility: hidden; height:0px;"><?php echo  $product['special']; ?></div>
          <!-- end web-promo -->
            <div class="image-home"><a href="<?php echo $product['href']; ?>"><img <?php if (isset($product['thumb'])){ ?>src="<?php echo $product['thumb']; ?>"<?php }else{ ?>src="http://t16.web-promo.biz/image/cache/catalog/subcategory/subcatstol-290x160.jpg"<?php } ?> alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
              <div class="caption">
                <div class="old-h4"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
                <p><?php echo $product['description']; ?></p>
				  <div class="rating-box">
                <?php if ($product['rating']) { ?>
                <div class="rating">
                  <?php for ($i = 1; $i <= 5; $i++) { ?>
                  <?php if ($product['rating'] < $i) { ?>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <?php } else { ?>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <?php } ?>
                  <?php } ?>
                </div>
                <?php } ?>
				  </div>
                <?php if ($product['price']) { ?>

                <p class="price">
                  <?php if (!$product['special']) { ?>
                  <span id="newPrice"><?php echo $product['price']; ?></span>
                  <?php } else { ?>
                  <span class="price-new"><span id="newPrice"><?php echo $product['special'].' грн.'; ?></span></span>
                  <span class="price-old"><span id="oldPrice"><?php echo $product['price']; ?></span></span>
                  <?php } ?>
                  <?php if ($product['tax']) { ?>
                  <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                  <?php } ?>
                </p>
                <?php } ?>
              </div>
              <?php 
              //start Tkach web-promo
               $option_nomer = '';
               $select_nomer = '';
              // end
			  
			  uasort($product['options'], function($a, $b){
					if ($a['option_id'] === $b['option_id']) return 0;
					return $a['option_id'] < $b['option_id'] ? -1 : 1;
				});
				
				$is_sortoption_id = 0;
				
				foreach($product['options'] as $val){
					if($val['sort_option']){
						$is_sortoption_id = $val['option_id'];
						break;
					}
				}
              ?>

                <?php foreach ($product['options'] as $option) { ?>
					<?php if (!$is_sortoption_id) { ?>
						<?php if ($option['type'] == 'select') { ?>
						<?php
						// start Tkach web-promo
							if (!isset($select_nomer) or empty($select_nomer)){
								$select_nomer = trim($option['product_option_id']);
							}else{
								$select_nomer = trim($select_nomer) .', '.trim($option['product_option_id']);
							}               
						// end
						?>
						<div class="form-group">
						  <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
						  <div class="varSelectWrap">
						  <select name="option[<?php echo $option['product_option_id']; ?>] " id="input-option<?php echo $option['product_option_id']; ?>" class="form-control varSelect change-price">
							<option value=""><?php echo $text_select; ?></option>
							<?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++; ?>
							<option  price="<?php echo $option_value['price']; ?>" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'selected="selected"'; ?>><?php echo $option_value['name']; ?>
							<?php if ($option_value['price']) { ?>
							(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
							<?php } ?>
							</option>
							<?php } ?>
						  </select>
						  </div>
						</div>
					<?php } ?>
								<!-- <script>
									<?php echo 'var option['.$option['product_option_id'].'] = 0; '; ?>
								</script> -->

					<?php if ($option['type'] == 'image') { ?>
						<?php
						// start Tkach web-promo
							if (!isset($option_nomer) or empty($option_nomer)){
								$option_nomer = $option['product_option_id'];
							}else{
								$option_nomer = $option_nomer .', '.$option['product_option_id'];
							}               
						// end
						?>
					<div class="form-group">
					  <label class="control-label"><?php echo $option['name']; ?></label>
					  <div class="select-colors">
					  <div id="input-option<?php echo $option['product_option_id']; ?>" class="wrap-select-colors">
						<?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++;?>
						<div class="radio radio-image">
						  <label title="<?php echo $option_value['name'] ?>" class="change-price">
							<input  price="<?php echo $option_value['price']; ?>"  class="radio-img" type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'checked="checked"'; ?>/>
							
							<img style="width: 30px;" src="<?php if(isset($option_value['image'])){ echo '//'.$_SERVER['SERVER_NAME'].'/image/'.$option_value['image'];} ?>" data-oldprodimg="<?php echo $product['thumb']; ?>" <?=$option_value['image_prod']?'data-prodimg = "'.$option_value['image_prod'].'"':'' ?> alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <span class="hidden-descr"><?php echo $option_value['name']; ?>
							<?php if ($option_value['price']) { ?>
							(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
							<?php } ?></span>
						  </label>
						</div>
						<?php } ?>
					  </div>
					  </div>
						<div class="show-more-box">
					  <?php if($curr_lang == 'ru'){ ?>
							<a href="javascript:void(0);" style="display: none;" class="show-more">ещё</a>
						<?php }else{ ?>
							<a href="javascript:void(0);" style="display: none;" class="show-more">ще</a>
						<?php } ?>
						</div>
					</div>
					<?php } ?>

					<?php break; ?>
				<?php }elseif($is_sortoption_id && $is_sortoption_id == $option['option_id']){ ?>
					<?php if ($option['type'] == 'select') { ?>
						<?php
						// start Tkach web-promo
							if (!isset($select_nomer) or empty($select_nomer)){
								$select_nomer = trim($option['product_option_id']);
							}else{
								$select_nomer = trim($select_nomer) .', '.trim($option['product_option_id']);
							}               
						// end
						?>
						<div class="form-group">
						  <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
						  <div class="varSelectWrap">
						  <select name="option[<?php echo $option['product_option_id']; ?>] " id="input-option<?php echo $option['product_option_id']; ?>" class="form-control varSelect change-price">
							<option value=""><?php echo $text_select; ?></option>
							<?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++; ?>
							<option  price="<?php echo $option_value['price']; ?>" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'selected="selected"'; ?>><?php echo $option_value['name']; ?>
							<?php if ($option_value['price']) { ?>
							(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
							<?php } ?>
							</option>
							<?php } ?>
						  </select>
						  </div>
						</div>
					<?php } ?>
								<!-- <script>
									<?php echo 'var option['.$option['product_option_id'].'] = 0; '; ?>
								</script> -->

					<?php if ($option['type'] == 'image') { ?>
						<?php
						// start Tkach web-promo
							if (!isset($option_nomer) or empty($option_nomer)){
								$option_nomer = $option['product_option_id'];
							}else{
								$option_nomer = $option_nomer .', '.$option['product_option_id'];
							}               
						// end
						?>
					<div class="form-group">
					  <label class="control-label"><?php echo $option['name']; ?></label>
					  <div class="select-colors">
					  <div id="input-option<?php echo $option['product_option_id']; ?>" class="wrap-select-colors">
						<?php $num=0; foreach ($option['product_option_value'] as $option_value) { $num++;?>
						<div class="radio radio-image">
						  <label title="<?php echo $option_value['name'] ?>" class="change-price">
							<input  price="<?php echo $option_value['price']; ?>"  class="radio-img" type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($num==1) echo 'checked="checked"'; ?>/>
							
							<img style="width: 30px;" src="<?php if(isset($option_value['image'])){ echo '//'.$_SERVER['SERVER_NAME'].'/image/'.$option_value['image'];} ?>" data-oldprodimg="<?php echo $product['thumb']; ?>" <?=$option_value['image_prod']?'data-prodimg = "'.$option_value['image_prod'].'"':'' ?> alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <span class="hidden-descr"><?php echo $option_value['name']; ?>
							<?php if ($option_value['price']) { ?>
							(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
							<?php } ?></span>
						  </label>
						</div>
						<?php } ?>
					  </div>
					  </div>
						<div class="show-more-box">
					  <?php if($curr_lang == 'ru'){ ?>
							<a href="javascript:void(0);" style="display: none;" class="show-more">ещё</a>
						<?php }else{ ?>
							<a href="javascript:void(0);" style="display: none;" class="show-more">ще</a>
						<?php } ?>
						</div>
					</div>
					<?php } ?>
				<?php } ?>
            <?php } ?>

              <div class="button-group">
                <div class="clearfix wish-buttons-card">
	                <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><?php echo $button_wishlist?></button>
	                <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><?php echo $button_compare?></button>
                </div>
								<div class="button-cart-add clearfix">
									<?php if (!empty($product['stock_image'])) { ?>
										<img class="stock_image" src="<?=$product['stock_image'];?>">
									<?php } else { ?>
										<?php if (strpos( $product['stock_status'],'жида') !== false) { ?>
											<button class="button-cart-p" type="button" onclick="" disabled><i class="fa fa-shopping-cart"></i> <span><?php echo $button_expect; ?></span></button>
										<?php } elseif (strpos( $product['stock_status'],'продажи') !== false) { ?>
											<button class="button-cart-p" type="button" onclick="" disabled><i class="fa fa-shopping-cart"></i> <span><?php echo $button_out_of_sale; ?></span></button>
										<?php } elseif (strpos( $product['stock_status'],'Предзаказ') !== false) { ?>
											<button class="button-cart-p" type="button" onclick="cart.productadd('<?php echo $product['product_id']; ?>', ['<?php if (isset($option_nomer)){ echo trim($option_nomer); } ?>'], ['<?php if (isset($select_nomer)){ echo trim($select_nomer); } ?>']);"><i class="fa fa-shopping-cart"></i> <span><?php echo $button_toorder1; ?></span></button>
										<?php } else { ?>
											<button class="button-cart-p" type="button" onclick="cart.productadd('<?php echo $product['product_id']; ?>', ['<?php if (isset($option_nomer)){ echo trim($option_nomer); } ?>'], ['<?php if (isset($select_nomer)){ echo trim($select_nomer); } ?>']);"><i class="fa fa-shopping-cart"></i> <span><?php echo $button_cart; ?></span></button>
										<?php } ?>
									<?php } ?>
								</div>
              </div>
          </div>
        </div>


        
        <?php } ?>
      </div>
      <?php } ?>
</div>
<?php } ?>
<?php /*
<script type="application/ld+json">

{

            "@context": "http://schema.org/",

            "@type": "Product",

            "name": "<?php echo $heading_title; ?>",

            "offers": {

                        "@type": "AggregateOffer",

                        "priceCurrency": "UAH",

                        "lowprice": "<?php echo $min_price; ?>",

                        "highprice": "<?php echo $max_price; ?>",

                        "offerCount": "<?php echo $product_total; ?>"
            }
}
*/
?>

</script>
<script>
	$(document).ready(function(){
		$(document).on('click','.show-more',function(){
			var hWrapBlockColor = $(this).closest('.form-group').find('.wrap-select-colors').innerHeight();
			$(this).closest('.form-group').find('.select-colors').innerHeight(hWrapBlockColor).css('margin-right', '0');
			$(this).css('display', 'none');
		});
		
		////////////////////////////////////////////////////////////////
		$(document).on('click','.product-list .radio-image',function(){
			var newProdImg = $(this).find('label').find('.img-thumbnail').attr('data-prodimg');
			var oldProdImg = $(this).find('label').find('.img-thumbnail').attr('data-oldprodimg');
			
			if(newProdImg){
				$(this).parents('.product-thumb').find('.image-home').find('img').attr('src', newProdImg);
			}else{
				$(this).parents('.product-thumb').find('.image-home').find('img').attr('src', oldProdImg);
			}
		});

		$(document).on('click','.categories-goods__item .radio-image',function(){
			var newProdImg = $(this).find('label').find('.img-thumbnail').attr('data-prodimg');
			var oldProdImg = $(this).find('label').find('.img-thumbnail').attr('data-oldprodimg');

			if(newProdImg){
				$(this).closest('.categories-goods__item').find('.categories-goods__image').find('img').attr('src', newProdImg);
			}else{
				$(this).closest('.categories-goods__item').find('.categories-goods__image').find('img').attr('src', oldProdImg);
			}
		});
	});
	$(window).load(function(){
			$('.product-layout').each(function(){
				var hBlockColor = $(this).find('.select-colors').innerHeight();
				var hWrapBlockColor = $(this).find('.wrap-select-colors').innerHeight();
				console.log(hBlockColor);
				console.log($(this).find('.wrap-select-colors').height());
				if((hWrapBlockColor - hBlockColor) > 20){
					$(this).find('.show-more').css('display', 'block');
				}
			});
		});
</script>
<script>
	var page_url = '<?=$page_url;?>';
	var page_number = '<?=$page_number;?>';
	var product_total = '<?=$product_total; ?>';

	$(document).ready(function () {
		$('.seo_text').addClass('short_text').after('<div class="show-full-text"><a href="#" class="show-more-text"><?=$btn_open_text;?> »</a></div>');
		$('.show-full-text').on('click', function (e){
			e.preventDefault();
			$('.seo_text').removeClass('short_text');
			$(this).remove();
		});

		function show_more() {
			var get_p = '&';
			if(page_url.replace('?','')==page_url)
				get_p = '?';
			page_number++;
			$.ajax({
				url: page_url+get_p+'page='+page_number+'&ajax=1',
				success: function(result){


					if(result!=''){
					  $('.category-product-list').append(result);
						setTimeout(function (){
							$('.product-layout').each(function(){
								var hBlockColor = $(this).find('.select-colors').innerHeight();
								var hWrapBlockColor = $(this).find('.wrap-select-colors').innerHeight();
								console.log(hBlockColor);
								console.log($(this).find('.wrap-select-colors').height());
								if((hWrapBlockColor - hBlockColor) > 20){
									$(this).find('.show-more').css('display', 'block');
								}
							});
						},2000)
					}
					else {
						$(".show-more").hide();
					}
					$('.layout').hide();
				}
			});
		}
		$('.btn-show-filter').on('click', function () {
			$('.mfilter-free-button').click();
		});
		$(document).on('click', '.show-more-btn', function () {
			show_more();
		});
	});
</script>



</div>

<?php echo $footer; ?>
