.categories-goods__wish::before, .categories-goods__compare::before, .categories-goods__wish:hover::before, .categories-goods__compare:hover::before, .categories-popups__sort::after, .categories-popups__filter::after {
  background: url("img/sprite.svg") no-repeat;
}

.categories-goods__wish::before, .categories-goods__compare::before, .categories-goods__wish:hover::before, .categories-goods__compare:hover::before, .categories-popups__sort::after, .categories-popups__filter::after {
  background: url("../img/sprite.svg") no-repeat;
}

.categories-ban__img {
  width: 100%;
}

.categories-ban__img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .categories-ban {
    display: none;
  }
}

.breadcrumbs {
  padding: 24px 0;
}

.breadcrumbs__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.breadcrumbs__item {
  font-size: 12px;
  line-height: 16px;
}

.breadcrumbs__item:last-of-type a {
  color: #121726;
  pointer-events: none;
}

.breadcrumbs__item:last-of-type::after {
  display: none;
}

.breadcrumbs__item::after {
  display: inline-block;
  content: "/";
  font-size: 12px;
  margin: 0 9px 0 7px;
}

.breadcrumbs__item a {
  color: #808994;
}

@media screen and (max-width: 767px) {
  .breadcrumbs {
    margin-top: 110px;
  }
  .breadcrumbs.categories {
    margin-top: 141px;
  }
}

.categories-views {
  padding: 50px 0 30px;
}

.categories-views__head {
  margin-bottom: 65px;
}

.categories-views__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.categories-views__item {
  width: 31%;
  margin: 0 3.5% 50px 0;
}

.categories-views__item:nth-of-type(3n) {
  margin-right: 0;
}

.categories-views__link {
  display: inline-block;
  text-decoration: none;
  margin-top: 16px;
}

@media screen and (max-width: 1199px) {
  .categories-views {
    padding-top: 25px;
  }
  .categories-views .minwrapper {
    max-width: 992px;
    padding: 0 40px;
  }
  .categories-views__head {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 991px) {
  .categories-views .minwrapper {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .categories-views {
    padding-top: 15px;
  }
}

@media screen and (max-width: 575px) {
  .categories-views__item {
    width: 46.7%;
    margin-right: 6%;
  }
  .categories-views__item:nth-of-type(3n) {
    margin-right: 6%;
  }
  .categories-views__item:nth-of-type(2n) {
    margin-right: 0;
  }
}

.filter {
  float: left;
  width: 100%;
  width: 23.3%;
  border-top: 1px solid #C8CBD1;
  border-bottom: 1px solid #C8CBD1;
  padding-top: 18px;
  margin-right: -webkit-calc(2 * 0.84%);
  margin-right: calc(2 * 0.84%);
}

.filter__heading, .filter__head {
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #121726;
}

.filter__heading {
  margin-bottom: 50px;
  padding: 0 15px;
}

.filter__item {
  border-top: 1px solid #C8CBD1;
  padding: 0 15px;
}

.filter__head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter__head::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background-color: #121726;
  right: 0;
}

.filter__head::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 12px;
  background-color: #121726;
  right: 5px;
}

.filter__head.open::before {
  display: none;
}

.filter__content {
  display: none;
  padding-bottom: 24px;
  margin-top: 10px;
}

.filter__input-range {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.filter__input-range div {
  width: 14px;
  height: 1px;
  background-color: #121726;
  margin: 0 16px;
}

.filter-range-min, .filter-range-max {
  width: 98px;
  height: 32px;
  text-align: center;
  color: #121726;
  border: 1px solid #C8CBD1;
}

.filter__range {
  max-width: 222px;
  margin: 0 auto 8px;
}

.filter__range.ui-widget.ui-widget-content {
  border: none;
  height: 2px;
  background-color: #C8CBD1;
  -webkit-border-radius: none;
          border-radius: none;
}

.filter__range.ui-slider-horizontal .ui-slider-range {
  background-color: #121726;
}

.filter__range .ui-slider-handle.ui-corner-all.ui-state-default {
  width: 20px;
  height: 20px;
  background-color: #f9f9f9;
  border: 1px solid #121726;
  -webkit-border-radius: 0;
          border-radius: 0;
  top: -9.5px;
  margin-left: -10px;
}

.filter__color-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 15px;
}

.filter__color-item {
  width: 30%;
  text-align: center;
  margin: 0 1px 23px;
}

.filter__color-img {
  margin-bottom: 15px;
}

.filter__color-name {
  font-size: 12px;
  line-height: 16px;
  color: #121726;
}

.filter__check-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.filter__check-item:last-of-type {
  margin-bottom: 0;
}

.filter__check-item input[type="checkbox"]:checked + label:before,
.filter__check-item input[type="checkbox"]:not(:checked) + label:before {
  width: 24px;
  height: 24px;
  border-color: #C8CBD1;
  top: -4px;
}

.filter__check-item input[type="checkbox"]:checked + label:after,
.filter__check-item input[type="checkbox"]:not(:checked) + label:after {
  width: 16px;
  height: 16px;
  background-color: #C8CBD1;
  top: 0px;
  left: 4px;
}

.filter__check-item label {
  font-size: 12px;
  line-height: 16px;
  color: #121726;
  padding-left: 40px !important;
  cursor: pointer;
}

.filter__count-item {
  font-size: 12px;
  line-height: 16px;
  color: #808994;
}

.filter-sort {
  margin-bottom: 40px;
}

.filter-sort__select-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-sort__heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-right: 12px;
}

.filter-sort__select {
  border-right: none;
  border-left: none;
}

.filter-sort__select .jq-selectbox__dropdown {
  margin-top: 0;
}

.filter-sort__items-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
}

.filter-sort__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1%;
}

.filter-sort__item {
  background: rgba(200, 203, 209, 0.25);
  margin-right: 16px;
}

.filter-sort__item:last-of-type {
  margin-right: 0;
}

.filter-sort__item-text {
  font-size: 11px;
  color: #535F6E;
  padding: 4.5px 6px 4.5px 12px;
}

.filter-sort__item-text:hover {
  color: #121726;
  cursor: pointer;
}

.filter-sort__item-text span {
  color: #121726;
}

.filter-sort__item-del {
  position: relative;
  display: inline;
  margin-left: 22px;
}

.filter-sort__item-del::before {
  position: absolute;
  content: "";
  background: url("../img/svg/close-hover.svg") no-repeat center;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 0;
  margin-top: -5px;
  -webkit-background-size: contain;
          background-size: contain;
}

.filter-sort__item-delete {
  background-color: transparent;
  border: 1px solid #535F6E;
}

@media screen and (max-width: 991px) {
  .filter__head {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .filter-sort {
    display: none;
  }
}

.categories-goods {
  padding: 80px 0 20px;
}

.categories-goods.subcat {
  padding-top: 30px;
}

.categories-goods.subcat h1 {
  margin-bottom: 70px;
}

.categories-goods .wrapper {
  max-width: 1200px;
}

.categories-goods__item {
  position: relative;
  width: 23.1%;
  float: left;
  background-color: #fff;
  padding: 44px 14px 20px;
  margin: 0 0.84% 30px 0.84%;
}

.categories-goods__label {
  position: absolute;
  width: 115px;
  height: 24px;
  font-family: "GothamProMedium", serif;
  font-size: 11px;
  line-height: 11px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  top: 10px;
  left: 14px;
  background: #43BE58;
}

.categories-goods__delivery {
  position: absolute;
  background: url("../img/svg/icon-delivery.svg") no-repeat center;
  width: 21px;
  height: 16px;
  top: 14px;
  right: 14px;
}

.categories-goods__rating {
  margin: 5px 0;
  border-bottom: 1px solid #121726;
  padding-bottom: 5px;
}

.categories-goods__image img {
  width: 100%;
}

.categories-goods__price {
  margin-top: 16px;
}

.categories-goods__link a {
  font-family: "GothamProMedium", serif;
  font-size: 12px;
  line-height: 16px;
  color: #121726;
  text-decoration: none;
}

.categories-goods__price-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}

.categories-goods__discount {
  font-family: "GothamProBold", serif;
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #FF3B30;
}

.categories-goods__before-discount {
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #808994;
}

.categories-goods__new-price {
  font-family: "GothamProBold", serif;
  font-size: 22px;
  line-height: 21px;
  color: #121726;
  margin-left: 10px;
}

.categories-goods__new-price span {
  font-family: "GothamProRegular", serif;
}

.categories-goods__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
}

.categories-goods__wish, .categories-goods__compare {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 57px;
  height: 42px;
  border: 1px solid #121726;
}

.categories-goods__wish::before, .categories-goods__compare::before {
  position: absolute;
  content: "";
  background-position: 99.55555555555556% 34.64912280701754%;
  width: 20px;
  height: 17px;
}

.categories-goods__wish:hover, .categories-goods__compare:hover {
  cursor: pointer;
}

.categories-goods__wish:hover::before, .categories-goods__compare:hover::before {
  background-position: 99.55555555555556% 42.10526315789474%;
  width: 20px;
  height: 17px;
}

.categories-goods__compare {
  margin-left: -1px;
}

.categories-goods__compare::before {
  position: absolute;
  content: "";
  background-position: 78.73303167420815% 52.63157894736842%;
  width: 24px;
  height: 17px;
}

.categories-goods__compare:hover::before {
  background-position: 89.59276018099547% 52.63157894736842%;
  width: 24px;
  height: 17px;
}

.categories-goods__buy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 173px;
  height: 42px;
  color: #fff;
  background-color: #121726;
}

.categories-goods__buy:hover {
  background-color: #535F6E;
  cursor: pointer;
}

.categories-goods__buy span {
  font-family: "GothamProMedium", serif;
  font-size: 11px;
  line-height: 11px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.categories-goods__buy span::after {
  display: inline-block;
  content: "";
  width: 19px;
  height: 18px;
  background: url("../img/svg/icon-basket.svg") no-repeat center;
  margin-left: 12px;
}

.categories-goods__colors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.categories-goods__color {
  width: 36px;
  height: 36px;
  border: 1px solid transparent;
  padding: 4px;
}

.categories-goods__color:hover {
  border-color: #121726;
}

@media screen and (max-width: 1199px) {
  .categories-goods__filter-block {
    max-width: 226px;
    width: 23.3%;
    margin-right: 17px;
  }
  .categories-goods__item {
    width: 23.3%;
  }
}

@media screen and (max-width: 991px) {
  .categories-goods__filter-block {
    max-width: unset;
    width: 29.3%;
    margin-right: 4%;
  }
  .categories-goods__item {
    width: 29.3%;
    margin: 0 2% 30px 2%;
  }
}

@media screen and (max-width: 767px) {
  .categories-goods__filter-block {
    display: none;
  }
  .categories-goods__items {
    margin: 0 -10px;
  }
  .categories-goods__label {
    width: 85px;
    top: 9px;
    left: 9px;
  }
  .categories-goods__delivery-fitting, .categories-goods__credit {
    right: 9px;
  }
  .categories-goods__link {
    font-size: 12px;
  }
  .categories-goods__price-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .categories-goods__old-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .categories-goods__discount {
    margin-right: 9px;
  }
  .categories-goods__new-price {
    font-size: 20px;
  }
  .categories-goods__actions {
    margin-top: 14px;
  }
  .categories-goods__buy {
    width: 33.33%;
  }
  .categories-goods__buy span {
    font-size: 0;
  }
  .categories-goods__buy span::after {
    margin: 0 0 0 -6px;
  }
}

@media screen and (max-width: 575px) {
  .categories-goods__item {
    width: 44.2%;
    margin: 0 10px 40px;
    padding: 44px 7px 20px;
  }
  .categories-goods__label {
    width: 70px;
  }
  .categories-goods__delivery-fitting, .categories-goods__credit {
    right: 7px;
  }
  .categories-goods__buy {
    width: 40%;
  }
}

.categories-popups {
  position: absolute;
  width: 100%;
  top: 96px;
  background-color: #f9f9f9;
  z-index: 98;
  display: none;
}

.categories-popups__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #C8CBD1;
  -webkit-box-shadow: 0px 4px 8px rgba(83, 95, 110, 0.24);
          box-shadow: 0px 4px 8px rgba(83, 95, 110, 0.24);
}

.categories-popups__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-height: 56px;
}

.categories-popups__item span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.categories-popups__sort::after {
  display: inline-block;
  content: "";
  background-position: 67.57990867579909% 54.29864253393665%;
  width: 26px;
  height: 24px;
  margin-left: 16px;
}

.categories-popups__filter::after {
  display: inline-block;
  content: "";
  background-position: 44.34389140271493% 55.29953917050691%;
  width: 24px;
  height: 28px;
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .categories-popups {
    display: block;
  }
}

.pagination {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

.pagination__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.pagination__item {
  margin: 0 7px;
}

.pagination__item a {
  color: #808994;
  text-decoration: underline;
  padding: 5px;
}

.pagination__item.active a {
  color: #121726;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__next a {
  position: relative;
  display: inline-block;
  content: "";
  width: 20px;
  height: 13px;
  background: url("../img/svg/paginations-next.svg") no-repeat center;
  top: 3px;
}

.pagination.search-result {
  margin-top: -15px;
  margin-bottom: 125px;
}

.marks {
  display: inline-block;
  width: 100%;
  padding: 70px 0 50px;
}

.marks__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marks__item {
  margin: 0 45px 16px 0;
}

.marks__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px;
  color: #535F6E;
}

.marks__link:hover {
  text-decoration: none;
  color: #535F6E;
}

.marks__link::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/svg/marks.svg") no-repeat center;
  margin-right: 11px;
}
