.checkout__field-form .eye-pass, .checkout__field-form .eye-pass:hover, .order__remove::before {
  background: url("img/sprite.svg") no-repeat;
}

.checkout__field-form .eye-pass, .checkout__field-form .eye-pass:hover, .order__remove::before {
  background: url("../img/sprite.svg") no-repeat;
}

h1, .h1, .head {
  font-family: "GothamProMedium", sans-serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #121726;
  margin-top: 0;
  margin-left: 50px;
}

h3, .h3 {
  font-family: "GothamProMedium", sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #121726;
}

h4, .h4 {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #121726;
}

h5, .h5 {
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  h1, .h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  h1, .h1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 575px) {
  h1, .h1 {
    margin-bottom: 40px;
  }
}

.facebook-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  font-size: 13px;
  line-height: 18px;
  color: #808994;
  text-decoration: none;
  border: 1px solid #808994;
}

.facebook-btn::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: url("../img/svg/fb.svg") no-repeat center;
}

.facebook-btn:hover {
  color: #121726;
  border-color: #121726;
  text-decoration: none;
}

.google-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  font-size: 13px;
  line-height: 18px;
  color: #808994;
  text-decoration: none;
  border: 1px solid #808994;
}

.google-btn::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: url("../img/svg/google.svg") no-repeat center;
}

.google-btn:hover {
  color: #121726;
  border-color: #121726;
  text-decoration: none;
}

.sign-up-btn {
  width: 100%;
  height: 44px;
  font-size: 11px;
  font-family: "GothamProMedium", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #121726;
  border: none;
}

.basket-proceed-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 44px;
  font-family: "GothamProMedium", sans-serif;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #121726;
  border: 1px solid #121726;
}

.checkout {
  padding-top: 30px;
}

.checkout__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 47px;
}

.checkout__head {
  color: #121726;
  font-family: "GothamProBold", sans-serif;
}

.checkout__way-registration {
  width: 48%;
}

.checkout__registration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #C8CBD1;
  padding-bottom: 27px;
}

.checkout__guest, .checkout__registered {
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #C8CBD1;
}

.checkout__guest.select-item, .checkout__registered.select-item {
  color: #121726;
}

.checkout .select-item {
  color: #121726;
}

.checkout__registration-info {
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
  color: #535F6E;
  padding-top: 29px;
}

.checkout__sign-in-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 39px;
}

.checkout__facebook, .checkout__google {
  width: 270px;
}

.checkout__google {
  margin-left: 30px;
}

.checkout__another-way {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 40px;
  margin-bottom: 20px;
}

.checkout__another-way::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  background: #121726;
  margin-top: 3px;
}

.checkout__another-way span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 100%;
  background-color: #f9f9f9;
  z-index: 1;
}

.checkout__field-form {
  position: relative;
  margin-bottom: 26px;
}

.checkout__field-form span {
  display: none;
}

.checkout__field-form .eye-pass {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  right: 16px;
  margin-top: -8px;
  background-position: 13.973799126637555% 100%;
  width: 16px;
  height: 16px;
}

.checkout__field-form .eye-pass:hover {
  background-position: 6.986899563318778% 100%;
  width: 16px;
  height: 16px;
}

.checkout__field-form.phone {
  margin-bottom: 0;
}

.checkout__input {
  font-size: 16px;
  border: 0.5px solid #C8CBD1;
  padding: 10px 40px 10px 15px;
  display: block;
  width: 100%;
  height: 44px;
  background-color: #f9f9f9;
}

.checkout__input:focus {
  outline: none;
  border-bottom: 2px solid #121726;
}

.checkout__input.form-input:focus ~ .form-label,
.checkout__input.form-input:not(:focus):valid ~ .form-label {
  font-family: "GothamProRegular", sans-serif;
  font-size: 11px;
  top: -11px;
}

.checkout__input.first {
  border-top: 1px;
}

.checkout__label {
  color: #808994;
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 13px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background: #f9f9f9;
  padding: 0 4px 0 4px;
  font-family: "GothamProRegular", sans-serif;
}

.checkout__sign-in-btn {
  width: 100%;
  border: 0.5px solid #C8CBD1;
  background-color: #121726;
  color: #fff;
  margin-top: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "GothamProMedium", sans-serif;
  font-size: 11px;
  height: 55px;
  outline: none;
  padding-left: 15px;
}

.checkout__remember {
  padding-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__form-check {
  font-size: 13px;
  line-height: 18px;
  color: #535F6E;
}

.checkout__forgot-password-link {
  font-size: 12px;
  line-height: 16px;
  color: #808994;
  text-decoration: underline;
}

.checkout__forgot-password-link:hover {
  color: #808994;
}

.checkout__data-heading {
  font-size: 14px;
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
  text-transform: uppercase;
  padding: 26px 0 42px 0;
}

.checkout__customer-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__customer-name, .checkout__customer-email {
  font-size: 13px;
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
  padding: 2px 0 2px 0;
}

.checkout__change-data-customer {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #535F6E;
  font-size: 14px;
  font-family: "GothamProMedium", sans-serif;
  padding: 23px 0 29px 0;
}

@media screen and (max-width: 991px) {
  .checkout__way-registration {
    width: 48%;
  }
}

@media screen and (max-width: 767px) {
  .checkout__registration {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .checkout__registered {
    margin-top: 15px;
  }
}

@media screen and (max-width: 575px) {
  .checkout__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .checkout__way-registration {
    width: 100%;
  }
}

.checkout-guest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.checkout-guest .checkout__email-form.guest-email {
  padding-top: 29px;
}

.checkout-guest .delivery__counters-payments {
  color: #121726;
  font-size: 14px;
  font-family: "GothamProMedium", sans-serif;
  padding-right: 12px;
  line-height: 45px;
}

.checkout-guest .delivery__counters-text {
  color: #121726;
  font-size: 14px;
  padding-right: 14px;
  line-height: 45px;
}

.checkout-guest .delivery__installment-info-dropdown {
  padding-bottom: 32px;
  padding-top: 23px;
}

.checkout-guest .delivery__dropdown-list {
  border: 0.5px solid #C8CBD1;
  width: 82px;
  height: 44px;
}

.checkout-guest .delivery__dropdown-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.checkout-guest .delivery__colortext {
  padding: 0 7px 0 7px;
}

.checkout-guest .delivery__dropdown-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 82px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout-guest .delivery__options-container {
  color: #535F6E;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.checkout-guest .delivery__selected {
  border: 0.5px solid #C8CBD1;
  margin-bottom: 19px;
  color: black;
  position: relative;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}

.checkout-guest .delivery__selected:after {
  content: "";
  background: url("/img/svg/vector.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 12px;
  right: 7px;
  top: 19px;
}

.checkout-guest .delivery__options-container.active {
  max-height: 440px;
  opacity: 1;
  overflow-y: scroll;
}

.checkout-guest .delivery__options-container.active + .delivery__selected::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -17px;
}

.checkout-guest .delivery__options-container::-webkit-scrollbar {
  width: 4px;
  background: #fff;
}

.checkout-guest .delivery__options-container::-webkit-scrollbar-thumb {
  background: #121726;
}

.checkout-guest .delivery__option-item, .checkout-guest .delivery__selected {
  padding: 12px 30px;
  cursor: pointer;
}

.checkout-guest .delivery__option-item:hover {
  background: rgba(200, 203, 209, 0.25);
  color: #121726;
}

.checkout-guest .delivery__dropdown-select label {
  cursor: pointer;
}

.checkout-guest .delivery__radio-item {
  display: none;
}

.checkout-guest .order__name.not-registered:before {
  content: '!';
  color: red;
  padding-right: 3px;
}

.checkout-guest .order__title:before {
  content: '!';
  color: red;
  padding-right: 3px;
}

.checkout-guest .order__prepayment {
  padding-top: 105px;
}

.checkout-guest .order__prepayment-title {
  font-size: 13px;
  color: #535F6E;
  font-family: "GothamProMedium", sans-serif;
  padding: 0;
}

.checkout-guest .order__prepayment-title:before {
  content: '!';
  color: red;
  padding-right: 3px;
}

.checkout-guest .order__prepayment-title__prepayment-list {
  color: #808994;
  font-size: 13px;
}

.checkout-guest .order__prepayment-title__prepayment-percentage {
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
}

.checkout-guest .order__prepayment-title__info-contact.guest-contact {
  padding-top: 50px;
}

input[type=radio] + .details {
  display: none;
}

input[type=radio]:checked + .fordebit {
  display: block;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

input[type=radio]:checked + .forcredit {
  display: block;
}

input[type=radio] {
  float: left;
}

.checkout-guest-drop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.checkout-guest-drop .checkout__email-form.guest-email {
  padding-top: 29px;
}

.checkout-guest-drop .delivery__container.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.checkout-guest-drop .delivery__counters-payments {
  color: #121726;
  font-size: 14px;
  font-family: "GothamProMedium", sans-serif;
  padding-right: 12px;
  line-height: 45px;
}

.checkout-guest-drop .delivery__counters-text {
  color: #121726;
  font-size: 14px;
  padding-right: 14px;
  line-height: 45px;
}

.checkout-guest-drop .delivery__installment-info-dropdown {
  padding-bottom: 32px;
  padding-top: 23px;
}

.checkout-guest-drop .delivery__dropdown-list {
  border: 0.5px solid #C8CBD1;
  width: 82px;
  height: 44px;
}

.checkout-guest-drop .delivery__dropdown-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.checkout-guest-drop .delivery__colortext {
  padding: 0 7px 0 7px;
}

.checkout-guest-drop .delivery__dropdown-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout-guest-drop .delivery__options-container {
  color: #535F6E;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.checkout-guest-drop .delivery__selected {
  border: 0.5px solid #C8CBD1;
  margin-bottom: 19px;
  color: #535F6E;
  position: relative;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}

.checkout-guest-drop .delivery__selected:after {
  content: "";
  background: url("/img/svg/vector.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 12px;
  right: 7px;
  top: 19px;
}

.checkout-guest-drop .delivery__options-container.active {
  max-height: 440px;
  opacity: 1;
  overflow-y: scroll;
}

.checkout-guest-drop .delivery__options-container.active + .delivery__selected::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -17px;
}

.checkout-guest-drop .delivery__options-container::-webkit-scrollbar {
  width: 4px;
  background: #fff;
}

.checkout-guest-drop .delivery__options-container::-webkit-scrollbar-thumb {
  background: #121726;
}

.checkout-guest-drop .delivery__option-item, .checkout-guest-drop .delivery__selected {
  padding: 12px 30px;
  cursor: pointer;
}

.checkout-guest-drop .delivery__option-item:hover {
  background: rgba(200, 203, 209, 0.25);
  color: #121726;
}

.checkout-guest-drop .delivery__dropdown-select label {
  cursor: pointer;
}

.checkout-guest-drop .delivery__radio-item {
  display: none;
}

.checkout-guest-drop .order__confirn-order.confirm-da {
  height: 60px;
  background-color: #43BE58;
}

.checkout-guest-drop .order__name.not-registered:before {
  content: '!';
  color: red;
  padding-right: 3px;
}

.checkout-guest-drop .order__title:before {
  content: '!';
  color: red;
  padding-right: 3px;
}

.checkout-guest-drop .order__prepayment {
  padding-top: 105px;
}

.checkout-guest-drop .order__prepayment-title {
  font-size: 13px;
  color: #535F6E;
  font-family: "GothamProMedium", sans-serif;
  padding: 0;
}

.checkout-guest-drop .order__prepayment-title:before {
  content: '!';
  color: red;
  padding-right: 3px;
}

.checkout-guest-drop .order__prepayment-title li {
  color: #808994;
  font-size: 13px;
  margin-left: 12px;
}

.checkout-guest-drop .order__prepayment-title li span {
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
}

.checkout-guest-drop .order__info-contact.guest-contact {
  padding-top: 50px;
}

.checkout-guest-drop .order__info-contact.guest-contact.after-prepay {
  margin-top: 0;
}

.delivery {
  padding: 80px 0;
  margin-left: -15px;
  /* Style the indicator (dot/circle) */
}

.delivery__head {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "GothamProMedium", sans-serif;
  color: #121726;
  padding-bottom: 36px;
  margin-top: 70px;
}

.delivery__head.pay {
  margin-top: 70px;
}

.delivery__head:first-of-type {
  margin-top: 0;
}

.delivery__address-info-dropdown {
  position: relative;
  left: 0;
  margin: 15px 0 0;
  padding: 5px;
  list-style: none;
}

.delivery__address-info-dropdown span {
  display: block;
}

.delivery__address-info-dropdown span:first-of-type {
  color: #121726;
  font-size: 13px;
  font-family: "GothamProMedium", sans-serif;
}

.delivery__change-adress {
  margin: 23px 0 0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #535F6E;
  font-family: "GothamProMedium", sans-serif;
  cursor: pointer;
}

.delivery__comment {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 14px;
  font-family: "GothamProMedium", sans-serif;
  color: #535F6E;
  padding-top: 39px;
  cursor: pointer;
  margin-bottom: 26px;
}

.delivery__text-field {
  max-width: 570px;
  width: 100%;
  height: 100px;
  max-height: 200px;
  border: 1px solid #C8CBD1;
  background-color: #f9f9f9;
  padding: 15px;
}

.delivery__text-field::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #808994;
}

.delivery__text-field::-moz-placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #808994;
}

.delivery__text-field:-moz-placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #808994;
}

.delivery__text-field:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #808994;
}

.delivery__text-field:focus {
  border-color: #121726;
}

.delivery__text-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.delivery__text-field:focus::-moz-placeholder {
  color: transparent;
}

.delivery__text-field:focus:-moz-placeholder {
  color: transparent;
}

.delivery__text-field:focus:-ms-input-placeholder {
  color: transparent;
}

.delivery__choice-item {
  margin-bottom: 30px;
}

.delivery__choice-item label {
  font-size: 14px;
  color: #535F6E;
}

.delivery__choice-item label::before {
  top: 2px !important;
}

.delivery__choice-item label::after {
  top: 5px !important;
}

.delivery__choice-item .checkout__field-form {
  margin-top: 20px;
}

.delivery__choice-item .checkout__field-form .form-label {
  color: #808994;
}

.delivery__choice-item p {
  font-size: 11px;
  color: #808994;
  padding-left: 30px;
}

.delivery__choice-item input:checked ~ .installments {
  display: block;
}

.delivery .pay-method .delivery__choice-item {
  margin-bottom: 20px;
}

.delivery .installments {
  margin-top: 20px;
  display: none;
}

.delivery .installments label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "GothamProMedium", sans-serif;
  line-height: 24px;
  color: #121726;
}

.delivery .installments label::before {
  top: 3px !important;
}

.delivery .installments label::after {
  top: 6px !important;
}

.delivery .installments .checkout__field-form {
  margin: 0;
}

.delivery .installments .form-label {
  font-family: "GothamProRegular", sans-serif;
  top: 10px;
}

.delivery .installments__count {
  display: inline-block;
  font-family: "GothamProMedium", sans-serif;
}

.delivery .installments__count:first-of-type {
  margin-right: 15px;
}

.delivery .installments__count-months {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.delivery .installments__month {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: -8px;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 11px;
  color: #808994;
  background-color: #f9f9f9;
  z-index: 99;
  padding: 0 10px;
}

.delivery .installments .locality {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.delivery .installments .locality__select {
  width: 48%;
}

.delivery .installments .locality__select li {
  color: #535F6E;
}

.delivery .installments .locality__select li:first-of-type {
  color: #808994;
}

.delivery .installments .locality__select .jq-selectbox__select-text {
  font-size: 13px;
  line-height: 18px;
  color: #808994;
}

.delivery .installments .locality .checkout__field-form {
  width: 48%;
}

.delivery .installments .locality__address {
  width: 100%;
  margin-top: 26px;
}

.delivery .installments .locality__address-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.delivery .installments .locality__address-item:last-of-type {
  margin-bottom: 0;
}

.delivery .installments .locality__address .locality__label {
  margin-top: 10px;
  margin-bottom: auto;
}

.delivery .installments .locality__address .locality__label::before, .delivery .installments .locality__address .locality__label::after {
  content: "";
  width: 10px;
  height: 10px;
}

.delivery .installments .locality__address .locality__label::before {
  top: 6px !important;
  left: 3px;
}

.delivery .installments .locality__address .select {
  width: 100%;
}

.delivery .installments .locality__address .checkout__field-form {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .delivery .installments .locality__select {
    width: 100%;
    margin-bottom: 26px;
  }
  .delivery .installments .locality .checkout__field-form {
    width: 100%;
  }
  .delivery .installments .locality__address .locality__select {
    margin-bottom: 0;
  }
}

.order {
  width: 48%;
  margin-top: -29px;
  margin-left: 29px;
  margin-bottom: 150px;
}

.order__wrapper {
  padding: 29px 39px 44px;
  position: relative;
  background-color: #ededef;
}

.order__collapse-order::after {
  content: '';
  position: absolute;
  top: 38%;
  right: -16px;
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
  background-image: url("/img/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 10px 10px 22px rgba(83, 95, 110, 0.32);
          box-shadow: 10px 10px 22px rgba(83, 95, 110, 0.32);
}

.order__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #808994;
  padding-bottom: 24px;
}

.order__number-of-orders, .order__title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "GothamProMedium", sans-serif;
  position: relative;
}

.order__card {
  padding-top: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-bottom: 1px solid #DBDEE2;
  padding-bottom: 28px;
}

.order__name {
  font-size: 13px;
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
  position: relative;
}

.order__color {
  color: #808994;
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
}

.order__value {
  font-size: 13px;
  font-family: "GothamProRegular", sans-serif;
  color: #121726;
}

.order__remove {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}

.order__remove::before {
  display: inline-block;
  content: "";
  background-position: 66.09442060085837% 98.28326180257511%;
  width: 12px;
  height: 12px;
}

.order__delete-products {
  padding-left: 15px;
  margin-top: 3px;
  color: #808994;
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
}

.order__about-product {
  padding-left: 20px;
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
}

.order__calc-input {
  width: 24px;
  text-align: center;
}

.order__quantity-price {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order__calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.order__calc-button-minus {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #C8CBD1;
  cursor: pointer;
}

.order__calc-button-minus::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background-color: #C8CBD1;
}

.order__calc-button-minus.disabled {
  border-color: #DBDEE2;
}

.order__calc-button-minus.disabled::before, .order__calc-button-minus.disabled::after {
  background-color: #DBDEE2;
}

.order__calc-button-plus {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #C8CBD1;
  cursor: pointer;
  margin-left: 6px;
}

.order__calc-button-plus::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background-color: #C8CBD1;
}

.order__calc-button-plus.disabled {
  border-color: #DBDEE2;
}

.order__calc-button-plus.disabled::before, .order__calc-button-plus.disabled::after {
  background-color: #DBDEE2;
}

.order__calc-button-plus::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #C8CBD1;
}

.order__calc-input {
  font-family: "GothamProMedium", sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  width: 24px;
  height: 24px;
  border: 1px solid #C8CBD1;
  color: #121726;
  margin-left: 6px;
}

.order__cost-digits {
  padding-bottom: 15px;
}

.order__price-for-one {
  color: #808994;
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
}

.order__price-for-value {
  font-size: 13px;
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
}

.order__sum-label {
  font-size: 13px;
  color: #808994;
  font-family: "GothamProMedium", sans-serif;
}

.order__cost {
  font-size: 13px;
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
}

.order__sum {
  padding-top: 15px;
}

.order__promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.order__promo .checkout__label {
  background: #EDEDEF;
}

.order__coupon-code {
  outline: 0;
  border: 0.5px solid #C8CBD1;
  width: 310px;
  height: 44px;
  padding-left: 15px;
  background: transparent;
}

.order__coupon-code::-webkit-input-placeholder {
  color: #808994;
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
}

.order__coupon-code::-moz-placeholder {
  color: #808994;
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
}

.order__coupon-code:-moz-placeholder {
  color: #808994;
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
}

.order__coupon-code:-ms-input-placeholder {
  color: #808994;
  font-family: "GothamProRegular", sans-serif;
  font-size: 13px;
}

.order__promo-code-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #121726;
  -webkit-flex-basis: 164px;
      -ms-flex-preferred-size: 164px;
          flex-basis: 164px;
  text-align: center;
  height: 44px;
  cursor: pointer;
}

.order__promo-code-btn {
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: "GothamProMedium", sans-serif;
  color: #121726;
  background-color: transparent;
}

.order__sub-total-items {
  width: 100%;
}

.order__sub-total-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.order__sub-total-item:last-of-type {
  margin-bottom: 0;
}

.order__sub-total, .order__grand-total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__sub-total {
  padding-top: 28px;
  padding-bottom: 32px;
  border-bottom: 1px solid #121726;
}

.order__subtotal-text {
  font-size: 14px;
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
}

.order__subtotal-value {
  color: #121726;
  font-size: 17px;
  font-family: "GothamProMedium", sans-serif;
}

.order__subtotal-value.sale-sum {
  color: #FF3B30;
}

.order__grand-total {
  padding-top: 43px;
  padding-bottom: 44px;
}

.order__total-text {
  color: #121726;
  font-size: 22px;
  font-family: "GothamProBold", sans-serif;
}

.order__total {
  color: #121726;
  font-size: 17px;
  font-family: "GothamProMedium", sans-serif;
}

.order__confirm-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.order__confirm-btn {
  width: 100%;
  height: 60px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: "GothamProMedium", sans-serif;
  color: #fff;
  background-color: #121726;
}

.order__confirm-btn.green-btn {
  background-color: #43BE58;
}

.order__agreement {
  position: relative;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: #808994;
  margin-top: 20px;
}

.order__agreement a {
  text-decoration: none;
}

.order__agreement-link {
  color: #535F6E;
  background-color: transparent;
  border-bottom: 0.5px solid #535F6E;
}

.order__info-contact {
  margin-top: 70px;
}

.order__info-email, .order__phone {
  font-size: 14px;
  color: #121726;
  font-family: "GothamProMedium", sans-serif;
}

.order__help {
  color: #535F6E;
}

.order__phone {
  padding: 3px 0 3px 0;
}

.order__phone span {
  color: #535F6E;
}

@media screen and (max-width: 991px) {
  .order {
    width: 48%;
  }
  .order__wrapper {
    padding: 20px 20px 40px;
  }
  .order-promo-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-promo-form .checkout__field-form {
    margin-bottom: 0;
  }
  .order__coupon-code, .order__promo-code-submit {
    width: 82%;
  }
}

@media screen and (max-width: 767px) {
  .order__wrapper {
    padding: 20px 9px 40px;
  }
  .order__coupon-code {
    width: 94%;
  }
}

@media screen and (max-width: 575px) {
  .order {
    width: 100%;
    max-height: 1010px;
    margin-left: 0;
    margin-bottom: 260px;
  }
}

.checkout-success {
  padding-bottom: 80px;
}

.checkout-success__block {
  max-width: 677px;
}

.checkout-success .h1 {
  margin: 25px 0 35px;
}

.checkout-success .h3 {
  padding-bottom: 30px;
  border-bottom: 1px solid #C8CBD1;
  margin-bottom: 30px;
}

.checkout-success p, .checkout-success__description {
  max-width: 545px;
  color: #535F6E;
  line-height: 24px;
  margin-bottom: 25px;
}

.checkout-success p a, .checkout-success__description a {
  font-family: "GothamProMedium", sans-serif;
  color: #535F6E;
  text-decoration: underline;
}

.checkout-success .order__info-contact {
  margin-top: 5px;
}

.checkout-success__btn {
  margin-top: 54px;
}

.checkout-success__btn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 570px;
  width: 100%;
  height: 44px;
  background: #f9f9f9;
  border: 1px solid #121726;
  font-family: "GothamProMedium", sans-serif;
  font-size: 11px;
  color: #121726;
  text-transform: uppercase;
}
