.product__slider .slick-prev::before, .product__slider .slick-prev:hover::before, .product__slider .slick-prev.slick-disabled::before, .product__slider .slick-next::before, .product__slider .slick-next:hover::before, .product__slider .slick-next.slick-disabled::before, .product .colors__item.show-hide::before, .product .colors__item.show-hide:hover::before, .product .colors__item.show-hide.active::before, .product .colors__item.show-hide.active:hover::before, .product__order-btn::after, .product__installment-btn::after, .product__compare::after, .product__favorites::after, .product__share-fb::before, .product__share-pinterest::before, .product__share-twitter::before, .product__share-email::before, .product__inf-head::after, .product__inf-head.open::after, .product .feedback__appraisal-item::before, .product.action .feedback__rate-item::before {
  background: url("img/sprite.svg") no-repeat;
}

.product__slider .slick-prev::before, .product__slider .slick-prev:hover::before, .product__slider .slick-prev.slick-disabled::before, .product__slider .slick-next::before, .product__slider .slick-next:hover::before, .product__slider .slick-next.slick-disabled::before, .product .colors__item.show-hide::before, .product .colors__item.show-hide:hover::before, .product .colors__item.show-hide.active::before, .product .colors__item.show-hide.active:hover::before, .product__order-btn::after, .product__installment-btn::after, .product__compare::after, .product__favorites::after, .product__share-fb::before, .product__share-pinterest::before, .product__share-twitter::before, .product__share-email::before, .product__inf-head::after, .product__inf-head.open::after, .product .feedback__appraisal-item::before, .product.action .feedback__rate-item::before {
  background: url("../img/sprite.svg") no-repeat;
}

.product__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__block .pswp__button--arrow--left::before {
  content: "";
  background: url("../img/svg/arrow_slider_hover_L.svg") no-repeat 45% center;
  background-color: #fff;
  width: 40px;
  height: 40px;
  -webkit-background-size: 20% 20%;
          background-size: 20%;
}

.product__block .pswp__button--arrow--right::before {
  content: "";
  background: url("../img/svg/arrow_slider_hover_R.svg") no-repeat 55% center;
  background-color: #fff;
  width: 40px;
  height: 40px;
  -webkit-background-size: 20% 20%;
          background-size: 20%;
}

.product__slider-block {
  position: relative;
  width: 49%;
}

.product__slider {
  padding-bottom: 1px;
}

.product__slider .slick-prev {
  position: absolute;
  height: 16px;
  font-size: 0;
  background-color: transparent;
  border: none;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: auto;
  z-index: 1;
}

.product__slider .slick-prev::before {
  display: inline-block;
  content: "";
  background-position: 100% 25.76419213973799%;
  width: 9px;
  height: 16px;
}

.product__slider .slick-prev:hover::before {
  background-position: 58.05084745762712% 92.5764192139738%;
  width: 9px;
  height: 16px;
}

.product__slider .slick-prev.slick-disabled::before {
  background-position: 50.42372881355932% 92.5764192139738%;
  width: 9px;
  height: 16px;
}

.product__slider .slick-next {
  position: absolute;
  font-size: 0;
  background-color: transparent;
  border: none;
  height: 16px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  z-index: 1;
}

.product__slider .slick-next::before {
  display: inline-block;
  content: "";
  background-position: 46.610169491525426% 92.5764192139738%;
  width: 9px;
  height: 16px;
}

.product__slider .slick-next:hover::before {
  background-position: 61.86440677966102% 92.5764192139738%;
  width: 9px;
  height: 16px;
}

.product__slider .slick-next.slick-disabled::before {
  background-position: 54.23728813559322% 92.5764192139738%;
  width: 9px;
  height: 16px;
}

.product__slide {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.product__slide-img {
  width: 89.4%;
}

.product__slide-img img {
  width: 100%;
}

.product .sticky {
  position: fixed;
  z-index: 101;
}

.product .stop {
  position: relative;
  z-index: 101;
}

.product__information {
  width: 49%;
}

.product .h1 {
  width: 100%;
  border-bottom: 1px solid #121726;
  padding-bottom: 10px;
  margin: 0 0 40px 0;
}

.product__price-main {
  font-family: "GothamProBold", sans-serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #121726;
  margin-bottom: 30px;
}

.product__delivery-time {
  color: #535F6E;
  margin-bottom: 21px;
}

.product__delivery-time span {
  font-family: "GothamProMedium", sans-serif;
  color: #121726;
  margin-left: 11px;
}

.product .colors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.product .colors__left, .product .colors__right {
  width: 48%;
}

.product .colors__material {
  color: #535F6E;
  border-bottom: 1px solid #DBDEE2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.product .colors__material span {
  font-family: "GothamProMedium", sans-serif;
  color: #121726;
  margin-left: 11px;
}

.product .colors__items-block {
  position: relative;
  margin-bottom: 45px;
}

.product .colors__items {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-height: 36px;
  background-color: #f9f9f9;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 11;
}

.product .colors__item {
  margin-right: 3px;
  margin-bottom: 3px;
}

.product .colors__item:last-of-type {
  margin-left: 0;
  margin-bottom: 0;
}

.product .colors__item.show-hide {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  background-color: #f9f9f9;
  border: 1px solid #C8CBD1;
  right: 2px;
  bottom: 0;
  cursor: pointer;
}

.product .colors__item.show-hide::before {
  position: absolute;
  content: "";
  background-position: 74.67811158798283% 57.32217573221757%;
  width: 12px;
  height: 6px;
}

.product .colors__item.show-hide:hover::before {
  background-position: 79.8283261802575% 57.32217573221757%;
  width: 12px;
  height: 6px;
}

.product .colors__item.show-hide.active::before {
  position: absolute;
  content: "";
  background-position: 42.06008583690987% 61.92468619246862%;
  width: 12px;
  height: 6px;
}

.product .colors__item.show-hide.active:hover::before {
  background-position: 90.12875536480686% 57.32217573221757%;
  width: 12px;
  height: 6px;
}

.product .colors__item-img {
  border: 1px solid transparent;
  padding: 4px;
}

.product .colors__item-img:hover {
  border-color: #121726;
  cursor: pointer;
}

.product .colors__item-img.selected-color {
  border-color: #121726;
}

.product__buy-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.product__buy-buttons div {
  width: 48%;
  height: 60px;
  cursor: pointer;
}

.product__order-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "GothamProMedium", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #121726;
  background-color: #121726;
}

.product__order-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #535F6E;
}

.product__order-btn:active {
  background-color: #808994;
}

.product__order-btn::after {
  display: inline-block;
  content: "";
  background-position: 99.55555555555556% 18.061674008810574%;
  width: 20px;
  height: 18px;
  margin-left: 18px;
}

.product__installment-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "GothamProMedium", sans-serif;
  text-transform: uppercase;
  color: #121726;
  background-color: transparent;
  border: 1px solid #121726;
}

.product__installment-btn::after {
  display: inline-block;
  content: "";
  background-position: 90.45454545454545% 70.9090909090909%;
  width: 25px;
  height: 25px;
  margin-left: 18px;
}

.product__add-to-share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.product__add-to {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
}

.product__add-to div span {
  display: inline-block;
  font-family: "GothamProMedium", sans-serif;
  color: #121726;
  border-bottom: 1px solid #121726;
  padding-bottom: 5px;
}

.product__compare::after {
  position: relative;
  display: inline-block;
  content: "";
  background-position: 78.73303167420815% 52.63157894736842%;
  width: 24px;
  height: 17px;
  top: 3px;
  margin-left: 12px;
}

.product__favorites::after {
  position: relative;
  display: inline-block;
  content: "";
  background-position: 99.55555555555556% 34.64912280701754%;
  width: 20px;
  height: 17px;
  top: 3px;
  margin-left: 12px;
}

.product__share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
}

.product__share span {
  color: #808994;
}

.product__share-fb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

.product__share-fb::before {
  position: absolute;
  content: "";
  background-position: 93.64406779661017% 92.5764192139738%;
  width: 9px;
  height: 16px;
}

.product__share-pinterest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

.product__share-pinterest::before {
  position: absolute;
  content: "";
  background-position: 99.13793103448276% 92.5764192139738%;
  width: 13px;
  height: 16px;
}

.product__share-twitter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

.product__share-twitter::before {
  position: absolute;
  content: "";
  background-position: 99.11504424778761% 57.82608695652174%;
  width: 19px;
  height: 15px;
}

.product__share-email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

.product__share-email::before {
  position: absolute;
  content: "";
  background-position: 98.6784140969163% 64.62882096069869%;
  width: 18px;
  height: 16px;
}

.product__inf-item {
  border-top: 1px solid #DBDEE2;
}

.product__inf-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.product__inf-head::after {
  position: absolute;
  content: "";
  background-position: 74.67811158798283% 57.32217573221757%;
  width: 12px;
  height: 6px;
  top: 50%;
  right: 0;
  margin-top: -3px;
}

.product__inf-head.open::after {
  background-position: 90.12875536480686% 57.32217573221757%;
  width: 12px;
  height: 6px;
}

.product__inf-content {
  padding-bottom: 30px;
}

.product__desc {
  color: #535F6E;
  margin-bottom: 15px;
}

.product__desc:last-of-type {
  margin-bottom: 0;
}

.product__characteristic-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-bottom: 1px solid #DBDEE2;
}

.product__characteristic-item:last-of-type {
  border-bottom: none;
}

.product__characteristic-item .product__character {
  color: #808994;
  width: 170px;
}

.product__characteristic-item span {
  color: #121726;
}

.product .delivery-guarantee__head {
  font-family: "GothamProMedium", sans-serif;
  color: #121726;
  margin-bottom: 20px;
}

.product .delivery-guarantee__head.underline {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #121726;
  margin-bottom: 30px;
}

.product .delivery-guarantee__head.underline:last-of-type {
  margin-bottom: 0;
}

.product .delivery-guarantee__head a {
  color: #121726;
  text-decoration: none;
}

.product .delivery-guarantee__items {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
}

.product .delivery-guarantee__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #535F6E;
  margin-bottom: 11px;
}

.product .delivery-guarantee__item:last-of-type {
  margin-bottom: 0;
}

.product .delivery-guarantee__item::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #535F6E;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 10px;
}

.product .delivery-guarantee__item b {
  font-weight: 600;
}

.product .feedback__write {
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #121726;
  margin-bottom: 24px;
}

.product .feedback__your-appraisal {
  display: inline-block;
  font-family: "GothamProMedium", sans-serif;
  color: #121726;
  margin-bottom: 6px;
}

.product .feedback__appraisal-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.product .feedback__appraisal-item {
  margin-right: 6px;
}

.product .feedback__appraisal-item::before {
  display: inline-block;
  content: "";
  background-position: 33.333333333333336% 92.5764192139738%;
  width: 17px;
  height: 16px;
}

.product__text-field {
  max-width: 575px;
  margin-bottom: 26px;
}

.product__delivery-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: 44px;
  font-family: "GothamProMedium", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #121726;
  border: 1px solid #121726;
  background-color: #f9f9f9;
  padding: 0;
}

@media screen and (max-width: 991px) {
  .product .colors {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .product .colors__left, .product .colors__right {
    width: 100%;
  }
  .product .colors__left {
    margin-bottom: 25px;
  }
  .product__add-to-share {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .product__add-to {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
  }
  .product__share {
    width: 100%;
    border-top: 1px solid #DBDEE2;
    padding-top: 31px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 767px) {
  .product__buy-buttons {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .product__order-btn {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .product__installment-btn {
    width: 100% !important;
  }
}

@media screen and (max-width: 575px) {
  .product__block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .product__slider-block {
    width: 100%;
  }
  .product__information {
    width: 100%;
  }
}

.product.action .product-sale__sell-out {
  font-size: 20px;
  line-height: 19px;
  color: #FF3B30;
  margin-bottom: 9px;
}

.product.action .product-sale__inf {
  font-family: "GothamProMedium", sans-serif;
  margin-bottom: 15px;
}

.product.action .product-sale__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.product.action .product-sale__item {
  text-align: center;
  margin-right: 8px;
}

.product.action .product-sale__item:last-of-type {
  margin-right: 0;
}

.product.action .product-sale__time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 35px;
  letter-spacing: 0.5px;
  border: 0.5px solid #121726;
  margin-bottom: 2px;
}

.product.action .product-sale__time-name {
  font-size: 12px;
  line-height: 16px;
}

.product.action .product-sale__price-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 40px;
}

.product.action .product-sale__old-disc {
  margin-right: 16px;
}

.product.action .product-sale__disc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "GothamProMedium", sans-serif;
  font-size: 24px;
  line-height: 23px;
  color: #FF3B30;
  margin-bottom: 8px;
}

.product.action .product-sale__old {
  font-family: "GothamProMedium", sans-serif;
  font-size: 24px;
  line-height: 23px;
  text-decoration: line-through;
  color: #808994;
}

.product.action .h1 {
  margin-bottom: 20px;
}

.product.action .product__price-main {
  line-height: 28px;
  margin-bottom: 0;
}

.product.action .product__buy-buttons {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.product.action .product__order-btn {
  width: 100%;
  margin-bottom: 20px;
}

.product.action .product__installment-btn {
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #535F6E;
}

.product.action .product__installment-btn::after {
  display: none;
}

.product.action .product__installment-btn.try-on::before {
  display: inline-block;
  content: "";
  background: url("../img/svg/Try-on.svg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 21px;
  height: 26px;
  margin-right: 18px;
}

.product.action .product__installment-btn.try-on:hover {
  border: 3px solid #121726;
}

.product.action .product__installment-btn.look::before {
  display: inline-block;
  content: "";
  background: url("../img/svg/Showroom.svg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 27px;
  height: 23px;
  margin-right: 18px;
}

.product.action .product__installment-btn.look:hover {
  border: 3px solid #121726;
}

.product.action .product-size {
  display: inline-block;
  margin-top: 31px;
}

.product.action .product-size__title {
  color: #535F6E;
  margin-bottom: 5px;
}

.product.action .product-size__select {
  width: 100%;
}

.product.action .product-size__select .jq-selectbox__dropdown {
  margin-top: 0;
}

.product.action .feedback__item {
  border-bottom: 1px solid #DBDEE2;
  padding-bottom: 35px;
  margin-bottom: 36px;
}

.product.action .feedback__name {
  font-family: "GothamProMedium", sans-serif;
  margin-bottom: 6px;
}

.product.action .feedback__rate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.product.action .feedback__rate-item {
  margin-right: 6px;
}

.product.action .feedback__rate-item::before {
  display: inline-block;
  content: "";
  background-position: 40.78947368421053% 92.5764192139738%;
  width: 17px;
  height: 16px;
}

.product.action .feedback__text {
  color: #535F6E;
}

@media screen and (max-width: 767px) {
  .product.action .product__installment-btn.try-on {
    margin-bottom: 20px;
  }
}
