h1, .h1, .head {
  font-family: "GothamProMedium", sans-serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #121726;
  margin-top: 0;
  margin-left: 50px;
}

h3, .h3 {
  font-family: "GothamProMedium", sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #121726;
}

h4, .h4 {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #121726;
}

h5, .h5 {
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  h1, .h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  h1, .h1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 575px) {
  h1, .h1 {
    margin-bottom: 40px;
  }
}

.sale {
  padding-top: 30px;
}

.sale h1, .sale .h1 {
  margin: 0 0 70px 0 !important;
  border-bottom: 1px solid #C8CBD1;
  padding-bottom: 48px;
}

.sale .categories-goods__block {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 80px;
}
