.search-no-result {
  padding-top: 30px;
}

.search-no-result .wrapper {
  border-bottom: 1px solid #C8CBD1;
  padding-bottom: 50px;
}

.search-no-result h1, .search-no-result .h1 {
  font-family: "GothamProRegular", sans-serif;
  margin-left: 0;
}

.search-no-result h1 span, .search-no-result .h1 span {
  font-family: "GothamProMedium", sans-serif;
}

.search-no-result__desc {
  max-width: 570px;
  font-family: "GothamProMedium", sans-serif;
  line-height: 20px;
  color: #121726;
}

.search-no-result__desc span {
  font-family: "GothamProRegular", sans-serif;
  color: #535F6E;
}

.search-no-result.search-result .wrapper {
  padding-bottom: 0;
  border-bottom: none;
}

.search-no-result.search-result .h1 {
  margin-bottom: 70px;
}

.popular-block {
  padding-top: 50px;
}

.popular-block h4, .popular-block .h4 {
  margin-bottom: 50px !important;
}
